[data-gid="U000058_default"].gs-index-main{
  margin: 0 auto;
  width: 1240px;
}

[data-gid="U000058_default"] .swiper-button-prev,[data-gid="U000058_default"] .swiper-button-next{
    background-image: none;
}

[data-gid="U000058_default"] .swiper-button-prev{
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 80px;
  text-align: center;
  background-color: #fff;
}
[data-gid="U000058_default"] .swiper-button-prev::after{
  content: '';
  display: inline-block;
  margin-top: 29px;
  background-image:url('../../../resources/images/carousel-image/common_icon.png');
  background-position: -2px -24px;
  width: 12px;
  height: 21px;
  font-size: 0;
}
[data-gid="U000058_default"] .swiper-button-next{
  position: absolute;
  top: 50%;
  margin-top: -40px;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 80px;
  text-align: center;
  background-color: #fff;
}
[data-gid="U000058_default"] .swiper-button-next::after{
  content: '';
  display: inline-block;
  margin-top: 29px;
  background-image: url('../../../resources/images/carousel-image/common_icon.png');
  background-position: -2px -48px;
  width: 12px;
  height: 21px;
  font-size: 0;
}
[data-gid="U000058_default"] .swiper-container-horizontal>.swiper-pagination {
  bottom: 10%;
}
[data-gid="U000058_default"] .swiper-pagination-bullet{
  width: 40px;
  height: 2px;
  display: inline-block;
  background:rgba(255,255,255,.4);
  filter: alpha(opacity=85);
  border-radius:0%;
  background-color: #fff;
}

[data-gid="U000058_default"] .swiper-pagination-bullet-active{
  background-color: #fff;
  -webkit-transition: rgba(255,255,255,1) 1 linear;
  -moz-transition: rgba(255,255,255,1) 1 linear;
  transition: rgba(255,255,255,1) 1 linear;
}
[data-gid="U000058_default"] .icon-up{
  background-image:url('../../../resources/images/carousel-image/up.png');
}
[data-gid="U000058_default"] .icon-down{
  background-image:url('../../../resources/images/carousel-image/down.png');
} 
[data-gid="U000058_default"] .icon-delete{
  background-image:url('../../../resources/images/carousel-image/delete.png');
}

[data-gid="U000058_default"] .js_gdexp_lazy {
  opacity: 1 !important;
  display:inline !important;
}
