fieldset.layui-elem-field {
    margin: 0px;
    padding: 0px;
    border: none;

    > legend {
        height: 22px;
        line-height: 22px;
        margin-left: 0px;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        padding-left: 0px;
    }

    > .layui-field-box {
        width: 100%;
        padding: 0px;
    }
}