section .layui-form-item  {
    margin-bottom: 0px;
    > .layui-form-label {
        display: block;
        width: 100%;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px; 
        padding-bottom: 4px;
        text-align: left;
        float: none;
        box-sizing: border-box;
        span {
            color: #9E9E9E;
        }
    }
    > .layui-input-block {
        display: block;
        width: 100%;
        margin-left: 0px;
        float: none;
        clear: both;
        
        > input[type="text"] {
            height: 40px;
            line-height: 38px;
            border-radius: 4px;
        }
    }
}