.gs-tab-select-wraper {
    > ul.gs-tab-title {
        padding-left: 0px;
    }
    > .gs-tab-select-content {
        margin-left: 0px;
    }
    .gs-select-item-wraper  {
        margin-left: 0px;
    }
    .layui-form-item  {
        > .select-item {
            margin-left: 0px;
        }
    }
}