body {
  overflow-x: hidden;
}

.wrap-U000110_newProductList .geshop-component-box {
  overflow: hidden;
  width: 100%;
  height:100%;
}

.wrap-U000110_newProductList .gs-banner {
  width: 100%;
  height: auto;
  background-color: #EDEDED;
  position: relative;
}

.wrap-U000110_newProductList .gs-banner .gs-bgc-pic {
  width: 100%;
  height: auto;
}

.wrap-U000110_newProductList .geshop-content .gs-tab-wrap {
  width: 100%;
}

.wrap-U000110_newProductList .geshop-content .gs-tab-wrap .gs-tab-box {

}
.wrap-U000110_newProductList .geshop-content .fixGsTab .gs-tab-box{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 999;
}

.wrap-U000110_newProductList .gs-tab-wrap .swiper-container {
  display: block;
  height: 100%;
  overflow: hidden;
}

.wrap-U000110_newProductList .gs-tab-wrap .swiper-container .swiper-slide {
  width: auto;
  height: 100%;
  text-align: center;
  padding: 0 0.64rem;
  box-sizing: border-box;
}

.wrap-U000110_newProductList .gs-tab-wrap .swiper-container .swiper-slide span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.wrap-U000110_newProductList .gs-tab-wrap .swiper-container .swiper-slide a {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.wrap-U000110_newProductList .gs-tab-wrap .swiper-container .swiper-slide a img {
  display: block;
  width: 100%;
}
.wrap-U000110_newProductList .gs-tab-wrap .swiper-container .swiper-slide a img:last-child {
  display: none;
}
.wrap-U000110_newProductList .gs-tab-wrap .swiper-container .swiper-slide.current a img:last-child {
  display: block;
}

.wrap-U000110_newProductList .gs-tab-content .goods-item {
  //height:3.548rem;
  height:4rem;
  background-color:#FFFFFF;
  margin-bottom:10px;
  /*padding-top:0.266rem;
  padding-bottom:0.266rem;*/
  //padding-left:0.32rem;
  position:relative;
  overflow: hidden;
}

.wrap-U000110_newProductList .gs-tab-content .goods-item .component-self-goodBox {
  height: 100%;
}

.wrap-U000110_newProductList .component-self-goodBox .component-self-goodWrap {
  height: 100%;
}

.wrap-U000110_newProductList .gs-tab-content .gs-img {
  float:left;
  //width:2.667rem;
  height: 100%;
  width: 33%;
  box-sizing: border-box;
  padding: .32rem;
}

.wrap-U000110_newProductList .gs-tab-content .gs-img  img {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.wrap-U000110_newProductList .gs-tab-content .gs-img  a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrap-U000110_newProductList .gs-tab-content .gs-goods-info {
  float: left;
  margin-left: 0.1133rem;
}

.wrap-U000110_newProductList .gs-goods-info .gs-desc {
  width:6.48rem !important;
  padding:0.266rem 0;
  box-sizing: border-box;
}

.wrap-U000110_newProductList .gs-goods-info .gs-desc .product-desc {
  width: 100%;
  height: 0.533rem;
  font-size: 0.3733rem;
  line-height: 0.533rem;
  display: block;
  color: #333333;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.wrap-U000110_newProductList .gs-goods-info .item-price {
  margin-top: 0.2133rem;
  position: relative;
}

.wrap-U000110_newProductList .gs-tab-content .gs-goods-info .sale-discount {
  line-height: 0.533rem;
  border-radius: 1.333rem;
  /* font-size:0.3733rem; */
  display: inline-block;
  border-radius: 1.333rem;
  padding: 0.1067rem 0.533rem;
  background-color: #B8BEC4;
  color: #FFFFFF;
}

.wrap-U000110_newProductList .gs-tab-content .gs-goods-info .shop-price {
  margin-top: 0.32rem;
  height: 0.666rem;
  font-weight: 500;
  color: #333333;
  line-height: 0.666rem;
  font-weight: 700;
}

.wrap-U000110_newProductList .gs-tab-content .gs-goods-info .market-price {
  height: 0.4533rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: #999999;
  line-height: 0.4533rem;
}

.wrap-U000110_newProductList .gs-tab-content .gs-goods-info .to-detail-link {
  position: absolute;
  display: block;
  right: 0.266rem;
  bottom: 0.4266rem;
}

.wrap-U000110_newProductList .gs-desc .to-detail-link img {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
.wrap-U000110_newProductList .gs-default-clothes {
  width: 1.44rem !important;
  height: 1.28rem !important;

}
*/

.wrap-U000110_newProductList .gs-default-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-U000110_newProductList .ranking-icon {
  position: absolute;
  left: .33rem;
  top: 0;
  text-align: center;
}

.wrap-U000110_newProductList .swiper-container {
  height: 100%;
}

.wrap-U000110_newProductList .layui-laypage-prev,
.wrap-U000110_newProductList .layui-laypage-next {
  font-size: 0px;
  width: 0.96rem !important;
  height: 0.96rem !important;
  border-radius: 0.48rem !important;
  padding: 0px 0px;
}

.wrap-U000110_newProductList .layui-laypage-prev {
  margin-left: 3.4133rem !important;
  margin-right: 1.28rem !important;
}

.wrap-U000110_newProductList .layui-laypage-prev {
  background: url('/htdocs/resources/images/geshop-logo.png') !important;
}

.wrap-U000110_newProductList .layui-pager {
  height: 0.96rem;
  padding: 0.111rem 0rem 0.377rem 0rem;
  box-sizing:content-box;
}
.wrap-U000110_newProductList .layui-pager .layui-laypage {
  height: 100%;
  position: relative;
  margin: 0 0;
}
.wrap-U000110_newProductList .layui-pager .layui-laypage-spr {
  display: none !important;
}
.wrap-U000110_newProductList .layui-pager .layui-laypage-prev {
  width: 0.96rem !important;
  height: 0.96rem !important;
  border-radius: 0.48rem !important;
  padding: 0px 0px;
  background-color: #FFFFFF !important;
  display: block;
  position: absolute;
  left: 0px;
}
.wrap-U000110_newProductList .layui-pager .layui-laypage-next {
  position: absolute;
  width: 0.96rem !important;
  height: 0.96rem !important;
  border-radius: 0.48rem !important;
  padding: 0px 0px;
  background-color: #FFFFFF !important;
  display: block;
  left: 5.6533rem;
  top: 0;
}
.wrap-U000110_newProductList .layui-pager .prev-page,
.wrap-U000110_newProductList .layui-pager .next-page {
  margin-top: 0.32rem;
  margin-left: 0.3733rem;
  width: 0.266rem;
  height: 0.266rem;
  transform: rotate(45deg);
}
.wrap-U000110_newProductList .layui-pager .prev-page {
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
.wrap-U000110_newProductList .layui-pager .next-page {
  margin-left: 0.266rem;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
}
.wrap-U000110_newProductList .swiper-container {
  //overflow: visible !important;
  display: inline;
}
