
[data-module="U000129-2"]{
    position: relative;
    background-size:cover;
    overflow: hidden;
}
[data-module="U000129-2"] .inline-box{
    display:inline-block;
}
[data-module="U000129-2"] .coupon-body{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height:normal;
    position:relative;
    z-index:1;
}
[data-module="U000129-2"] .snowberg-png{
    width:120px;
    height:94px;
    position:absolute;
    left:50%;
    top:50%;
    background-size: 100% 100%;
    margin-left:-60px;
    margin-top:-47px;
}
[data-module="U000129-2"] .coupon-body .coupon-top .coupon-discount{
    font-weight:500;
}
[data-module="U000129-2"] .coupon-body .coupon-middle{
    margin:8px 0 16px 0;
    word-break: break-all;
}

[data-module="U000129-2"] .coupon-body .coupon-layout{
    width:100%;
    text-align:center;
}
[data-module="U000129-2"] .coupon-body .coupon-layout .center-center{
    vertical-align: middle;
}
/* {# 按钮默认状态 #} */
[data-module="U000129-2"] .coupon-body .coupon-layout .coupon-btn{
    cursor: pointer;
    padding : 0 30px;
    color: #fff;
    background-color : #dddddd;
    border: 1px solid transparent;
}
[data-module="U000129-2"] .coupon-body .coupon-bottom .center-center{
    vertical-align: bottom;
}
[data-module="U000129-2"] .coupon-body .coupon-time-box strong,[data-module="U000129-2"] .coupon-body .coupon-time-box span{
    display:inline-block;
    vertical-align: middle;
}
[data-module="U000129-2"] .coupon-body .coupon-time-box strong{
    font-size:20px;
    font-weight:bold;
}
[data-module="U000129-2"] .coupon-body .coupon-time-box span{
    width:10px;
    font-size:20px;
    color:#333333;
    margin:0 6px;
}