
[data-module="U000087-1"] .coupon-inset{
    height:100%;
    line-height:normal;
    position: relative;
}
[data-module="U000087-1"] .over-box{
    background: rgba(0,0,0,.6);
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    color:#FFFFFF;
    text-align: center;
    display: none;
    z-index: 1;
}
[data-module="U000087-1"] .over-box-table{
    display: table;
    width: 100%;
    height: 100%;
}
[data-module="U000087-1"] .over-box-table span{
    vertical-align: middle;
    display: table-cell;
}
[data-module="U000087-1"]{
    line-height:normal;
    box-sizing: border-box;
    background-size:cover;
    overflow: hidden;
    position: relative;
}
[data-module="U000087-1"] .inline-box{
    display:inline-block;
}
[data-module="U000087-1"] .coupon-body{
    height:100%;
}
[data-module="U000087-1"] .over-box{
    font-family:TrebuchetMS;
}

[data-module="U000087-1"] .coupon-body .coupon-top,[data-module="U000087-1"] .coupon-body .coupon-bottom{
    /* height:40.9638%; */
}
[data-module="U000087-1"] .coupon-body .coupon-middle{
    /* height:18.07228%; */
}
[data-module="U000087-1"] .coupon-body .coupon-layout{
    display: table;
    width:100%;
    text-align:center;
}
[data-module="U000087-1"] .coupon-body .coupon-layout .center-center{
    display: table-cell;
    vertical-align: middle;
}
[data-module="U000087-1"] .coupon-body .coupon-layout .coupon-btn{
    cursor: pointer;
    background-size:cover;
}
[data-module="U000087-1"] .coupon-body .coupon-bottom .center-center{
    vertical-align: bottom;
}
[data-module="U000087-1"] .coupon-body .coupon-text{
    vertical-align: middle;
}
[data-module="U000087-1"] .coupon-body .coupon-time-box strong,[data-module="U000087-1"] .coupon-body .coupon-time-box i{
    display:inline-block;
    vertical-align: middle;
}
[data-module="U000087-1"] .coupon-body .coupon-time-box strong{
    font-weight:bold;
}
[data-module="U000087-1"] .coupon-body .coupon-time-box i{
    font-weight:bold;
    color:#333333;
    font-style: normal;
}