//全局字体
@font_Global:"Trebuchet MS";
@font_Symbol:simsun;
//body背景颜色
@body_color:#fff;
//主要颜色
@colorf:#fff;
@colore:#eee;
@colord:#ddd;
@colorc:#ccc;
@color9:#999;
@color6:#666;
@color3:#333;
@color0:#000;
@colorRed:#da6667;
@colorfb:#fbfbfb;
@colorYellow:#ffa42b;
@colorde:#dedede;

// 买家秀
@colorBorder: @colord;
@colorBase:@color6;
@colorShowA: #888888;
@colorShowTitle: #666666;
@colorShowPrice:#f25a5c;
@colorShowBtnBg:#FFF3F0;
@colorShowOn:#E85C5D;
@colorShowBg:#F9F9F9;
@colorShowInfoMain:#42a0b6;

// 雪碧图
@import url("sprite.less"); 
.before-icon(){ 
  content: '';display: inline-block;vertical-align: middle;
} 