/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@androiddown-name: 'androiddown';
@androiddown-x: 566px;
@androiddown-y: 329px;
@androiddown-offset-x: -566px;
@androiddown-offset-y: -329px;
@androiddown-width: 92px;
@androiddown-height: 30px;
@androiddown-total-width: 697px;
@androiddown-total-height: 666px;
@androiddown-image: '../images/sprite.png';
@androiddown: 566px 329px -566px -329px 92px 30px 697px 666px '../images/sprite.png' 'androiddown';
@arrowaleft-name: 'arrowaleft';
@arrowaleft-x: 611px;
@arrowaleft-y: 206px;
@arrowaleft-offset-x: -611px;
@arrowaleft-offset-y: -206px;
@arrowaleft-width: 37px;
@arrowaleft-height: 77px;
@arrowaleft-total-width: 697px;
@arrowaleft-total-height: 666px;
@arrowaleft-image: '../images/sprite.png';
@arrowaleft: 611px 206px -611px -206px 37px 77px 697px 666px '../images/sprite.png' 'arrowaleft';
@arrowaright-name: 'arrowaright';
@arrowaright-x: 566px;
@arrowaright-y: 206px;
@arrowaright-offset-x: -566px;
@arrowaright-offset-y: -206px;
@arrowaright-width: 37px;
@arrowaright-height: 77px;
@arrowaright-total-width: 697px;
@arrowaright-total-height: 666px;
@arrowaright-image: '../images/sprite.png';
@arrowaright: 566px 206px -566px -206px 37px 77px 697px 666px '../images/sprite.png' 'arrowaright';
@arrowbleft-name: 'arrowbleft';
@arrowbleft-x: 674px;
@arrowbleft-y: 76px;
@arrowbleft-offset-x: -674px;
@arrowbleft-offset-y: -76px;
@arrowbleft-width: 17px;
@arrowbleft-height: 30px;
@arrowbleft-total-width: 697px;
@arrowbleft-total-height: 666px;
@arrowbleft-image: '../images/sprite.png';
@arrowbleft: 674px 76px -674px -76px 17px 30px 697px 666px '../images/sprite.png' 'arrowbleft';
@arrowbright-name: 'arrowbright';
@arrowbright-x: 674px;
@arrowbright-y: 38px;
@arrowbright-offset-x: -674px;
@arrowbright-offset-y: -38px;
@arrowbright-width: 17px;
@arrowbright-height: 30px;
@arrowbright-total-width: 697px;
@arrowbright-total-height: 666px;
@arrowbright-image: '../images/sprite.png';
@arrowbright: 674px 38px -674px -38px 17px 30px 697px 666px '../images/sprite.png' 'arrowbright';
@arrowcleft-name: 'arrowcleft';
@arrowcleft-x: 558px;
@arrowcleft-y: 560px;
@arrowcleft-offset-x: -558px;
@arrowcleft-offset-y: -560px;
@arrowcleft-width: 30px;
@arrowcleft-height: 30px;
@arrowcleft-total-width: 697px;
@arrowcleft-total-height: 666px;
@arrowcleft-image: '../images/sprite.png';
@arrowcleft: 558px 560px -558px -560px 30px 30px 697px 666px '../images/sprite.png' 'arrowcleft';
@arrowclefthover-name: 'arrowclefthover';
@arrowclefthover-x: 292px;
@arrowclefthover-y: 560px;
@arrowclefthover-offset-x: -292px;
@arrowclefthover-offset-y: -560px;
@arrowclefthover-width: 30px;
@arrowclefthover-height: 30px;
@arrowclefthover-total-width: 697px;
@arrowclefthover-total-height: 666px;
@arrowclefthover-image: '../images/sprite.png';
@arrowclefthover: 292px 560px -292px -560px 30px 30px 697px 666px '../images/sprite.png' 'arrowclefthover';
@arrowcright-name: 'arrowcright';
@arrowcright-x: 482px;
@arrowcright-y: 560px;
@arrowcright-offset-x: -482px;
@arrowcright-offset-y: -560px;
@arrowcright-width: 30px;
@arrowcright-height: 30px;
@arrowcright-total-width: 697px;
@arrowcright-total-height: 666px;
@arrowcright-image: '../images/sprite.png';
@arrowcright: 482px 560px -482px -560px 30px 30px 697px 666px '../images/sprite.png' 'arrowcright';
@arrowcrighthover-name: 'arrowcrighthover';
@arrowcrighthover-x: 368px;
@arrowcrighthover-y: 560px;
@arrowcrighthover-offset-x: -368px;
@arrowcrighthover-offset-y: -560px;
@arrowcrighthover-width: 30px;
@arrowcrighthover-height: 30px;
@arrowcrighthover-total-width: 697px;
@arrowcrighthover-total-height: 666px;
@arrowcrighthover-image: '../images/sprite.png';
@arrowcrighthover: 368px 560px -368px -560px 30px 30px 697px 666px '../images/sprite.png' 'arrowcrighthover';
@arrowdleft-name: 'arrowdleft';
@arrowdleft-x: 674px;
@arrowdleft-y: 114px;
@arrowdleft-offset-x: -674px;
@arrowdleft-offset-y: -114px;
@arrowdleft-width: 17px;
@arrowdleft-height: 30px;
@arrowdleft-total-width: 697px;
@arrowdleft-total-height: 666px;
@arrowdleft-image: '../images/sprite.png';
@arrowdleft: 674px 114px -674px -114px 17px 30px 697px 666px '../images/sprite.png' 'arrowdleft';
@arrowdright-name: 'arrowdright';
@arrowdright-x: 674px;
@arrowdright-y: 152px;
@arrowdright-offset-x: -674px;
@arrowdright-offset-y: -152px;
@arrowdright-width: 17px;
@arrowdright-height: 30px;
@arrowdright-total-width: 697px;
@arrowdright-total-height: 666px;
@arrowdright-image: '../images/sprite.png';
@arrowdright: 674px 152px -674px -152px 17px 30px 697px 666px '../images/sprite.png' 'arrowdright';
@arroweleft-name: 'arroweleft';
@arroweleft-x: 674px;
@arroweleft-y: 349px;
@arroweleft-offset-x: -674px;
@arroweleft-offset-y: -349px;
@arroweleft-width: 15px;
@arroweleft-height: 26px;
@arroweleft-total-width: 697px;
@arroweleft-total-height: 666px;
@arroweleft-image: '../images/sprite.png';
@arroweleft: 674px 349px -674px -349px 15px 26px 697px 666px '../images/sprite.png' 'arroweleft';
@arroweright-name: 'arroweright';
@arroweright-x: 674px;
@arroweright-y: 315px;
@arroweright-offset-x: -674px;
@arroweright-offset-y: -315px;
@arroweright-width: 15px;
@arroweright-height: 26px;
@arroweright-total-width: 697px;
@arroweright-total-height: 666px;
@arroweright-image: '../images/sprite.png';
@arroweright: 674px 315px -674px -315px 15px 26px 697px 666px '../images/sprite.png' 'arroweright';
@arrowfleft-name: 'arrowfleft';
@arrowfleft-x: 566px;
@arrowfleft-y: 367px;
@arrowfleft-offset-x: -566px;
@arrowfleft-offset-y: -367px;
@arrowfleft-width: 30px;
@arrowfleft-height: 60px;
@arrowfleft-total-width: 697px;
@arrowfleft-total-height: 666px;
@arrowfleft-image: '../images/sprite.png';
@arrowfleft: 566px 367px -566px -367px 30px 60px 697px 666px '../images/sprite.png' 'arrowfleft';
@arrowfright-name: 'arrowfright';
@arrowfright-x: 604px;
@arrowfright-y: 367px;
@arrowfright-offset-x: -604px;
@arrowfright-offset-y: -367px;
@arrowfright-width: 30px;
@arrowfright-height: 60px;
@arrowfright-total-width: 697px;
@arrowfright-total-height: 666px;
@arrowfright-image: '../images/sprite.png';
@arrowfright: 604px 367px -604px -367px 30px 60px 697px 666px '../images/sprite.png' 'arrowfright';
@arrowgleft-name: 'arrowgleft';
@arrowgleft-x: 654px;
@arrowgleft-y: 485px;
@arrowgleft-offset-x: -654px;
@arrowgleft-offset-y: -485px;
@arrowgleft-width: 10px;
@arrowgleft-height: 18px;
@arrowgleft-total-width: 697px;
@arrowgleft-total-height: 666px;
@arrowgleft-image: '../images/sprite.png';
@arrowgleft: 654px 485px -654px -485px 10px 18px 697px 666px '../images/sprite.png' 'arrowgleft';
@arrowgright-name: 'arrowgright';
@arrowgright-x: 548px;
@arrowgright-y: 420px;
@arrowgright-offset-x: -548px;
@arrowgright-offset-y: -420px;
@arrowgright-width: 10px;
@arrowgright-height: 18px;
@arrowgright-total-width: 697px;
@arrowgright-total-height: 666px;
@arrowgright-image: '../images/sprite.png';
@arrowgright: 548px 420px -548px -420px 10px 18px 697px 666px '../images/sprite.png' 'arrowgright';
@arrowhleft-name: 'arrowhleft';
@arrowhleft-x: 656px;
@arrowhleft-y: 260px;
@arrowhleft-offset-x: -656px;
@arrowhleft-offset-y: -260px;
@arrowhleft-width: 10px;
@arrowhleft-height: 18px;
@arrowhleft-total-width: 697px;
@arrowhleft-total-height: 666px;
@arrowhleft-image: '../images/sprite.png';
@arrowhleft: 656px 260px -656px -260px 10px 18px 697px 666px '../images/sprite.png' 'arrowhleft';
@arrowhright-name: 'arrowhright';
@arrowhright-x: 548px;
@arrowhright-y: 446px;
@arrowhright-offset-x: -548px;
@arrowhright-offset-y: -446px;
@arrowhright-width: 10px;
@arrowhright-height: 18px;
@arrowhright-total-width: 697px;
@arrowhright-total-height: 666px;
@arrowhright-image: '../images/sprite.png';
@arrowhright: 548px 446px -548px -446px 10px 18px 697px 666px '../images/sprite.png' 'arrowhright';
@buyerprotect-name: 'buyerprotect';
@buyerprotect-x: 642px;
@buyerprotect-y: 367px;
@buyerprotect-offset-x: -642px;
@buyerprotect-offset-y: -367px;
@buyerprotect-width: 24px;
@buyerprotect-height: 30px;
@buyerprotect-total-width: 697px;
@buyerprotect-total-height: 666px;
@buyerprotect-image: '../images/sprite.png';
@buyerprotect: 642px 367px -642px -367px 24px 30px 697px 666px '../images/sprite.png' 'buyerprotect';
@buyerprotectlist-name: 'buyerprotectlist';
@buyerprotectlist-x: 614px;
@buyerprotectlist-y: 529px;
@buyerprotectlist-offset-x: -614px;
@buyerprotectlist-offset-y: -529px;
@buyerprotectlist-width: 13px;
@buyerprotectlist-height: 12px;
@buyerprotectlist-total-width: 697px;
@buyerprotectlist-total-height: 666px;
@buyerprotectlist-image: '../images/sprite.png';
@buyerprotectlist: 614px 529px -614px -529px 13px 12px 697px 666px '../images/sprite.png' 'buyerprotectlist';
@caricon-name: 'caricon';
@caricon-x: 674px;
@caricon-y: 190px;
@caricon-offset-x: -674px;
@caricon-offset-y: -190px;
@caricon-width: 23px;
@caricon-height: 22px;
@caricon-total-width: 697px;
@caricon-total-height: 666px;
@caricon-image: '../images/sprite.png';
@caricon: 674px 190px -674px -190px 23px 22px 697px 666px '../images/sprite.png' 'caricon';
@clock-name: 'clock';
@clock-x: 444px;
@clock-y: 560px;
@clock-offset-x: -444px;
@clock-offset-y: -560px;
@clock-width: 30px;
@clock-height: 30px;
@clock-total-width: 697px;
@clock-total-height: 666px;
@clock-image: '../images/sprite.png';
@clock: 444px 560px -444px -560px 30px 30px 697px 666px '../images/sprite.png' 'clock';
@detailicon-name: 'detailicon';
@detailicon-x: 674px;
@detailicon-y: 287px;
@detailicon-offset-x: -674px;
@detailicon-offset-y: -287px;
@detailicon-width: 20px;
@detailicon-height: 20px;
@detailicon-total-width: 697px;
@detailicon-total-height: 666px;
@detailicon-image: '../images/sprite.png';
@detailicon: 674px 287px -674px -287px 20px 20px 697px 666px '../images/sprite.png' 'detailicon';
@greywenhao-name: 'greywenhao';
@greywenhao-x: 674px;
@greywenhao-y: 587px;
@greywenhao-offset-x: -674px;
@greywenhao-offset-y: -587px;
@greywenhao-width: 16px;
@greywenhao-height: 16px;
@greywenhao-total-width: 697px;
@greywenhao-total-height: 666px;
@greywenhao-image: '../images/sprite.png';
@greywenhao: 674px 587px -674px -587px 16px 16px 697px 666px '../images/sprite.png' 'greywenhao';
@iconchat-name: 'iconchat';
@iconchat-x: 674px;
@iconchat-y: 491px;
@iconchat-offset-x: -674px;
@iconchat-offset-y: -491px;
@iconchat-width: 16px;
@iconchat-height: 16px;
@iconchat-total-width: 697px;
@iconchat-total-height: 666px;
@iconchat-image: '../images/sprite.png';
@iconchat: 674px 491px -674px -491px 16px 16px 697px 666px '../images/sprite.png' 'iconchat';
@icondownarrow-name: 'icondownarrow';
@icondownarrow-x: 651px;
@icondownarrow-y: 529px;
@icondownarrow-offset-x: -651px;
@icondownarrow-offset-y: -529px;
@icondownarrow-width: 9px;
@icondownarrow-height: 5px;
@icondownarrow-total-width: 697px;
@icondownarrow-total-height: 666px;
@icondownarrow-image: '../images/sprite.png';
@icondownarrow: 651px 529px -651px -529px 9px 5px 697px 666px '../images/sprite.png' 'icondownarrow';
@icondownarrowb-name: 'icondownarrowb';
@icondownarrowb-x: 654px;
@icondownarrowb-y: 511px;
@icondownarrowb-offset-x: -654px;
@icondownarrowb-offset-y: -511px;
@icondownarrowb-width: 10px;
@icondownarrowb-height: 7px;
@icondownarrowb-total-width: 697px;
@icondownarrowb-total-height: 666px;
@icondownarrowb-image: '../images/sprite.png';
@icondownarrowb: 654px 511px -654px -511px 10px 7px 697px 666px '../images/sprite.png' 'icondownarrowb';
@iconfacebook-name: 'iconfacebook';
@iconfacebook-x: 212px;
@iconfacebook-y: 560px;
@iconfacebook-offset-x: -212px;
@iconfacebook-offset-y: -560px;
@iconfacebook-width: 32px;
@iconfacebook-height: 32px;
@iconfacebook-total-width: 697px;
@iconfacebook-total-height: 666px;
@iconfacebook-image: '../images/sprite.png';
@iconfacebook: 212px 560px -212px -560px 32px 32px 697px 666px '../images/sprite.png' 'iconfacebook';
@iconfacebookb-name: 'iconfacebookb';
@iconfacebookb-x: 44px;
@iconfacebookb-y: 560px;
@iconfacebookb-offset-x: -44px;
@iconfacebookb-offset-y: -560px;
@iconfacebookb-width: 36px;
@iconfacebookb-height: 36px;
@iconfacebookb-total-width: 697px;
@iconfacebookb-total-height: 666px;
@iconfacebookb-image: '../images/sprite.png';
@iconfacebookb: 44px 560px -44px -560px 36px 36px 697px 666px '../images/sprite.png' 'iconfacebookb';
@iconfavorite-name: 'iconfavorite';
@iconfavorite-x: 0px;
@iconfavorite-y: 604px;
@iconfavorite-offset-x: 0px;
@iconfavorite-offset-y: -604px;
@iconfavorite-width: 30px;
@iconfavorite-height: 26px;
@iconfavorite-total-width: 697px;
@iconfavorite-total-height: 666px;
@iconfavorite-image: '../images/sprite.png';
@iconfavorite: 0px 604px 0px -604px 30px 26px 697px 666px '../images/sprite.png' 'iconfavorite';
@iconfootmobile-name: 'iconfootmobile';
@iconfootmobile-x: 674px;
@iconfootmobile-y: 251px;
@iconfootmobile-offset-x: -674px;
@iconfootmobile-offset-y: -251px;
@iconfootmobile-width: 16px;
@iconfootmobile-height: 28px;
@iconfootmobile-total-width: 697px;
@iconfootmobile-total-height: 666px;
@iconfootmobile-image: '../images/sprite.png';
@iconfootmobile: 674px 251px -674px -251px 16px 28px 697px 666px '../images/sprite.png' 'iconfootmobile';
@iconglobal-name: 'iconglobal';
@iconglobal-x: 592px;
@iconglobal-y: 529px;
@iconglobal-offset-x: -592px;
@iconglobal-offset-y: -529px;
@iconglobal-width: 14px;
@iconglobal-height: 14px;
@iconglobal-total-width: 697px;
@iconglobal-total-height: 666px;
@iconglobal-image: '../images/sprite.png';
@iconglobal: 592px 529px -592px -529px 14px 14px 697px 666px '../images/sprite.png' 'iconglobal';
@icongoodsleft-name: 'icongoodsleft';
@icongoodsleft-x: 38px;
@icongoodsleft-y: 604px;
@icongoodsleft-offset-x: -38px;
@icongoodsleft-offset-y: -604px;
@icongoodsleft-width: 5px;
@icongoodsleft-height: 14px;
@icongoodsleft-total-width: 697px;
@icongoodsleft-total-height: 666px;
@icongoodsleft-image: '../images/sprite.png';
@icongoodsleft: 38px 604px -38px -604px 5px 14px 697px 666px '../images/sprite.png' 'icongoodsleft';
@icongoodsright-name: 'icongoodsright';
@icongoodsright-x: 548px;
@icongoodsright-y: 518px;
@icongoodsright-offset-x: -548px;
@icongoodsright-offset-y: -518px;
@icongoodsright-width: 5px;
@icongoodsright-height: 14px;
@icongoodsright-total-width: 697px;
@icongoodsright-total-height: 666px;
@icongoodsright-image: '../images/sprite.png';
@icongoodsright: 548px 518px -548px -518px 5px 14px 697px 666px '../images/sprite.png' 'icongoodsright';
@iconinstagram-name: 'iconinstagram';
@iconinstagram-x: 132px;
@iconinstagram-y: 560px;
@iconinstagram-offset-x: -132px;
@iconinstagram-offset-y: -560px;
@iconinstagram-width: 32px;
@iconinstagram-height: 32px;
@iconinstagram-total-width: 697px;
@iconinstagram-total-height: 666px;
@iconinstagram-image: '../images/sprite.png';
@iconinstagram: 132px 560px -132px -560px 32px 32px 697px 666px '../images/sprite.png' 'iconinstagram';
@iconinstagramb-name: 'iconinstagramb';
@iconinstagramb-x: 88px;
@iconinstagramb-y: 560px;
@iconinstagramb-offset-x: -88px;
@iconinstagramb-offset-y: -560px;
@iconinstagramb-width: 36px;
@iconinstagramb-height: 36px;
@iconinstagramb-total-width: 697px;
@iconinstagramb-total-height: 666px;
@iconinstagramb-image: '../images/sprite.png';
@iconinstagramb: 88px 560px -88px -560px 36px 36px 697px 666px '../images/sprite.png' 'iconinstagramb';
@iconmobile-name: 'iconmobile';
@iconmobile-x: 548px;
@iconmobile-y: 472px;
@iconmobile-offset-x: -548px;
@iconmobile-offset-y: -472px;
@iconmobile-width: 9px;
@iconmobile-height: 15px;
@iconmobile-total-width: 697px;
@iconmobile-total-height: 666px;
@iconmobile-image: '../images/sprite.png';
@iconmobile: 548px 472px -548px -472px 9px 15px 697px 666px '../images/sprite.png' 'iconmobile';
@iconmobilegoods-name: 'iconmobilegoods';
@iconmobilegoods-x: 674px;
@iconmobilegoods-y: 461px;
@iconmobilegoods-offset-x: -674px;
@iconmobilegoods-offset-y: -461px;
@iconmobilegoods-width: 14px;
@iconmobilegoods-height: 22px;
@iconmobilegoods-total-width: 697px;
@iconmobilegoods-total-height: 666px;
@iconmobilegoods-image: '../images/sprite.png';
@iconmobilegoods: 674px 461px -674px -461px 14px 22px 697px 666px '../images/sprite.png' 'iconmobilegoods';
@iconmobilehover-name: 'iconmobilehover';
@iconmobilehover-x: 548px;
@iconmobilehover-y: 495px;
@iconmobilehover-offset-x: -548px;
@iconmobilehover-offset-y: -495px;
@iconmobilehover-width: 9px;
@iconmobilehover-height: 15px;
@iconmobilehover-total-width: 697px;
@iconmobilehover-total-height: 666px;
@iconmobilehover-image: '../images/sprite.png';
@iconmobilehover: 548px 495px -548px -495px 9px 15px 697px 666px '../images/sprite.png' 'iconmobilehover';
@iconpinterest-name: 'iconpinterest';
@iconpinterest-x: 0px;
@iconpinterest-y: 560px;
@iconpinterest-offset-x: 0px;
@iconpinterest-offset-y: -560px;
@iconpinterest-width: 36px;
@iconpinterest-height: 36px;
@iconpinterest-total-width: 697px;
@iconpinterest-total-height: 666px;
@iconpinterest-image: '../images/sprite.png';
@iconpinterest: 0px 560px 0px -560px 36px 36px 697px 666px '../images/sprite.png' 'iconpinterest';
@iconpointsgoods-name: 'iconpointsgoods';
@iconpointsgoods-x: 674px;
@iconpointsgoods-y: 220px;
@iconpointsgoods-offset-x: -674px;
@iconpointsgoods-offset-y: -220px;
@iconpointsgoods-width: 21px;
@iconpointsgoods-height: 23px;
@iconpointsgoods-total-width: 697px;
@iconpointsgoods-total-height: 666px;
@iconpointsgoods-image: '../images/sprite.png';
@iconpointsgoods: 674px 220px -674px -220px 21px 23px 697px 666px '../images/sprite.png' 'iconpointsgoods';
@iconrgreviews-name: 'iconrgreviews';
@iconrgreviews-x: 252px;
@iconrgreviews-y: 560px;
@iconrgreviews-offset-x: -252px;
@iconrgreviews-offset-y: -560px;
@iconrgreviews-width: 32px;
@iconrgreviews-height: 32px;
@iconrgreviews-total-width: 697px;
@iconrgreviews-total-height: 666px;
@iconrgreviews-image: '../images/sprite.png';
@iconrgreviews: 252px 560px -252px -560px 32px 32px 697px 666px '../images/sprite.png' 'iconrgreviews';
@iconrgreviewsb-name: 'iconrgreviewsb';
@iconrgreviewsb-x: 566px;
@iconrgreviewsb-y: 485px;
@iconrgreviewsb-offset-x: -566px;
@iconrgreviewsb-offset-y: -485px;
@iconrgreviewsb-width: 36px;
@iconrgreviewsb-height: 36px;
@iconrgreviewsb-total-width: 697px;
@iconrgreviewsb-total-height: 666px;
@iconrgreviewsb-image: '../images/sprite.png';
@iconrgreviewsb: 566px 485px -566px -485px 36px 36px 697px 666px '../images/sprite.png' 'iconrgreviewsb';
@icontipa-name: 'icontipa';
@icontipa-x: 635px;
@icontipa-y: 529px;
@icontipa-offset-x: -635px;
@icontipa-offset-y: -529px;
@icontipa-width: 8px;
@icontipa-height: 7px;
@icontipa-total-width: 697px;
@icontipa-total-height: 666px;
@icontipa-image: '../images/sprite.png';
@icontipa: 635px 529px -635px -529px 8px 7px 697px 666px '../images/sprite.png' 'icontipa';
@icontopcart-name: 'icontopcart';
@icontopcart-x: 674px;
@icontopcart-y: 0px;
@icontopcart-offset-x: -674px;
@icontopcart-offset-y: 0px;
@icontopcart-width: 23px;
@icontopcart-height: 30px;
@icontopcart-total-width: 697px;
@icontopcart-total-height: 666px;
@icontopcart-image: '../images/sprite.png';
@icontopcart: 674px 0px -674px 0px 23px 30px 697px 666px '../images/sprite.png' 'icontopcart';
@icontopsearch-name: 'icontopsearch';
@icontopsearch-x: 616px;
@icontopsearch-y: 435px;
@icontopsearch-offset-x: -616px;
@icontopsearch-offset-y: -435px;
@icontopsearch-width: 41px;
@icontopsearch-height: 36px;
@icontopsearch-total-width: 697px;
@icontopsearch-total-height: 666px;
@icontopsearch-image: '../images/sprite.png';
@icontopsearch: 616px 435px -616px -435px 41px 36px 697px 666px '../images/sprite.png' 'icontopsearch';
@icontumblr-name: 'icontumblr';
@icontumblr-x: 172px;
@icontumblr-y: 560px;
@icontumblr-offset-x: -172px;
@icontumblr-offset-y: -560px;
@icontumblr-width: 32px;
@icontumblr-height: 32px;
@icontumblr-total-width: 697px;
@icontumblr-total-height: 666px;
@icontumblr-image: '../images/sprite.png';
@icontumblr: 172px 560px -172px -560px 32px 32px 697px 666px '../images/sprite.png' 'icontumblr';
@icontumblrb-name: 'icontumblrb';
@icontumblrb-x: 610px;
@icontumblrb-y: 485px;
@icontumblrb-offset-x: -610px;
@icontumblrb-offset-y: -485px;
@icontumblrb-width: 36px;
@icontumblrb-height: 36px;
@icontumblrb-total-width: 697px;
@icontumblrb-total-height: 666px;
@icontumblrb-image: '../images/sprite.png';
@icontumblrb: 610px 485px -610px -485px 36px 36px 697px 666px '../images/sprite.png' 'icontumblrb';
@iconuser-name: 'iconuser';
@iconuser-x: 0px;
@iconuser-y: 638px;
@iconuser-offset-x: 0px;
@iconuser-offset-y: -638px;
@iconuser-width: 24px;
@iconuser-height: 28px;
@iconuser-total-width: 697px;
@iconuser-total-height: 666px;
@iconuser-image: '../images/sprite.png';
@iconuser: 0px 638px 0px -638px 24px 28px 697px 666px '../images/sprite.png' 'iconuser';
@insfb-name: 'insfb';
@insfb-x: 330px;
@insfb-y: 560px;
@insfb-offset-x: -330px;
@insfb-offset-y: -560px;
@insfb-width: 30px;
@insfb-height: 30px;
@insfb-total-width: 697px;
@insfb-total-height: 666px;
@insfb-image: '../images/sprite.png';
@insfb: 330px 560px -330px -560px 30px 30px 697px 666px '../images/sprite.png' 'insfb';
@insp-name: 'insp';
@insp-x: 520px;
@insp-y: 560px;
@insp-offset-x: -520px;
@insp-offset-y: -560px;
@insp-width: 30px;
@insp-height: 30px;
@insp-total-width: 697px;
@insp-total-height: 666px;
@insp-image: '../images/sprite.png';
@insp: 520px 560px -520px -560px 30px 30px 697px 666px '../images/sprite.png' 'insp';
@instw-name: 'instw';
@instw-x: 406px;
@instw-y: 560px;
@instw-offset-x: -406px;
@instw-offset-y: -560px;
@instw-width: 30px;
@instw-height: 30px;
@instw-total-width: 697px;
@instw-total-height: 666px;
@instw-image: '../images/sprite.png';
@instw: 406px 560px -406px -560px 30px 30px 697px 666px '../images/sprite.png' 'instw';
@insview-name: 'insview';
@insview-x: 566px;
@insview-y: 435px;
@insview-offset-x: -566px;
@insview-offset-y: -435px;
@insview-width: 42px;
@insview-height: 42px;
@insview-total-width: 697px;
@insview-total-height: 666px;
@insview-image: '../images/sprite.png';
@insview: 566px 435px -566px -435px 42px 42px 697px 666px '../images/sprite.png' 'insview';
@iosdown-name: 'iosdown';
@iosdown-x: 566px;
@iosdown-y: 291px;
@iosdown-offset-x: -566px;
@iosdown-offset-y: -291px;
@iosdown-width: 92px;
@iosdown-height: 30px;
@iosdown-total-width: 697px;
@iosdown-total-height: 666px;
@iosdown-image: '../images/sprite.png';
@iosdown: 566px 291px -566px -291px 92px 30px 697px 666px '../images/sprite.png' 'iosdown';
@likeaa-name: 'likeaa';
@likeaa-x: 674px;
@likeaa-y: 409px;
@likeaa-offset-x: -674px;
@likeaa-offset-y: -409px;
@likeaa-width: 20px;
@likeaa-height: 18px;
@likeaa-total-width: 697px;
@likeaa-total-height: 666px;
@likeaa-image: '../images/sprite.png';
@likeaa: 674px 409px -674px -409px 20px 18px 697px 666px '../images/sprite.png' 'likeaa';
@likeab-name: 'likeab';
@likeab-x: 674px;
@likeab-y: 383px;
@likeab-offset-x: -674px;
@likeab-offset-y: -383px;
@likeab-width: 20px;
@likeab-height: 18px;
@likeab-total-width: 697px;
@likeab-total-height: 666px;
@likeab-image: '../images/sprite.png';
@likeab: 674px 383px -674px -383px 20px 18px 697px 666px '../images/sprite.png' 'likeab';
@ms404-name: 'ms404';
@ms404-x: 426px;
@ms404-y: 0px;
@ms404-offset-x: -426px;
@ms404-offset-y: 0px;
@ms404-width: 132px;
@ms404-height: 132px;
@ms404-total-width: 697px;
@ms404-total-height: 666px;
@ms404-image: '../images/sprite.png';
@ms404: 426px 0px -426px 0px 132px 132px 697px 666px '../images/sprite.png' 'ms404';
@msaddress-name: 'msaddress';
@msaddress-x: 0px;
@msaddress-y: 140px;
@msaddress-offset-x: 0px;
@msaddress-offset-y: -140px;
@msaddress-width: 132px;
@msaddress-height: 132px;
@msaddress-total-width: 697px;
@msaddress-total-height: 666px;
@msaddress-image: '../images/sprite.png';
@msaddress: 0px 140px 0px -140px 132px 132px 697px 666px '../images/sprite.png' 'msaddress';
@mscartempty-name: 'mscartempty';
@mscartempty-x: 140px;
@mscartempty-y: 140px;
@mscartempty-offset-x: -140px;
@mscartempty-offset-y: -140px;
@mscartempty-width: 132px;
@mscartempty-height: 132px;
@mscartempty-total-width: 697px;
@mscartempty-total-height: 666px;
@mscartempty-image: '../images/sprite.png';
@mscartempty: 140px 140px -140px -140px 132px 132px 697px 666px '../images/sprite.png' 'mscartempty';
@msfail-name: 'msfail';
@msfail-x: 426px;
@msfail-y: 140px;
@msfail-offset-x: -426px;
@msfail-offset-y: -140px;
@msfail-width: 132px;
@msfail-height: 132px;
@msfail-total-width: 697px;
@msfail-total-height: 666px;
@msfail-image: '../images/sprite.png';
@msfail: 426px 140px -426px -140px 132px 132px 697px 666px '../images/sprite.png' 'msfail';
@msfavorite-name: 'msfavorite';
@msfavorite-x: 426px;
@msfavorite-y: 280px;
@msfavorite-offset-x: -426px;
@msfavorite-offset-y: -280px;
@msfavorite-width: 132px;
@msfavorite-height: 132px;
@msfavorite-total-width: 697px;
@msfavorite-total-height: 666px;
@msfavorite-image: '../images/sprite.png';
@msfavorite: 426px 280px -426px -280px 132px 132px 697px 666px '../images/sprite.png' 'msfavorite';
@msgiftempty-name: 'msgiftempty';
@msgiftempty-x: 280px;
@msgiftempty-y: 420px;
@msgiftempty-offset-x: -280px;
@msgiftempty-offset-y: -420px;
@msgiftempty-width: 132px;
@msgiftempty-height: 132px;
@msgiftempty-total-width: 697px;
@msgiftempty-total-height: 666px;
@msgiftempty-image: '../images/sprite.png';
@msgiftempty: 280px 420px -280px -420px 132px 132px 697px 666px '../images/sprite.png' 'msgiftempty';
@msneterror-name: 'msneterror';
@msneterror-x: 140px;
@msneterror-y: 420px;
@msneterror-offset-x: -140px;
@msneterror-offset-y: -420px;
@msneterror-width: 132px;
@msneterror-height: 132px;
@msneterror-total-width: 697px;
@msneterror-total-height: 666px;
@msneterror-image: '../images/sprite.png';
@msneterror: 140px 420px -140px -420px 132px 132px 697px 666px '../images/sprite.png' 'msneterror';
@msnocoupon-name: 'msnocoupon';
@msnocoupon-x: 0px;
@msnocoupon-y: 420px;
@msnocoupon-offset-x: 0px;
@msnocoupon-offset-y: -420px;
@msnocoupon-width: 132px;
@msnocoupon-height: 132px;
@msnocoupon-total-width: 697px;
@msnocoupon-total-height: 666px;
@msnocoupon-image: '../images/sprite.png';
@msnocoupon: 0px 420px 0px -420px 132px 132px 697px 666px '../images/sprite.png' 'msnocoupon';
@msnoquestion-name: 'msnoquestion';
@msnoquestion-x: 146px;
@msnoquestion-y: 0px;
@msnoquestion-offset-x: -146px;
@msnoquestion-offset-y: 0px;
@msnoquestion-width: 132px;
@msnoquestion-height: 132px;
@msnoquestion-total-width: 697px;
@msnoquestion-total-height: 666px;
@msnoquestion-image: '../images/sprite.png';
@msnoquestion: 146px 0px -146px 0px 132px 132px 697px 666px '../images/sprite.png' 'msnoquestion';
@msnoshare-name: 'msnoshare';
@msnoshare-x: 0px;
@msnoshare-y: 0px;
@msnoshare-offset-x: 0px;
@msnoshare-offset-y: 0px;
@msnoshare-width: 138px;
@msnoshare-height: 132px;
@msnoshare-total-width: 697px;
@msnoshare-total-height: 666px;
@msnoshare-image: '../images/sprite.png';
@msnoshare: 0px 0px 0px 0px 138px 132px 697px 666px '../images/sprite.png' 'msnoshare';
@msorderempty-name: 'msorderempty';
@msorderempty-x: 280px;
@msorderempty-y: 280px;
@msorderempty-offset-x: -280px;
@msorderempty-offset-y: -280px;
@msorderempty-width: 132px;
@msorderempty-height: 132px;
@msorderempty-total-width: 697px;
@msorderempty-total-height: 666px;
@msorderempty-image: '../images/sprite.png';
@msorderempty: 280px 280px -280px -280px 132px 132px 697px 666px '../images/sprite.png' 'msorderempty';
@mspayfail-name: 'mspayfail';
@mspayfail-x: 140px;
@mspayfail-y: 280px;
@mspayfail-offset-x: -140px;
@mspayfail-offset-y: -280px;
@mspayfail-width: 132px;
@mspayfail-height: 132px;
@mspayfail-total-width: 697px;
@mspayfail-total-height: 666px;
@mspayfail-image: '../images/sprite.png';
@mspayfail: 140px 280px -140px -280px 132px 132px 697px 666px '../images/sprite.png' 'mspayfail';
@mspwdsuccess-name: 'mspwdsuccess';
@mspwdsuccess-x: 0px;
@mspwdsuccess-y: 280px;
@mspwdsuccess-offset-x: 0px;
@mspwdsuccess-offset-y: -280px;
@mspwdsuccess-width: 132px;
@mspwdsuccess-height: 132px;
@mspwdsuccess-total-width: 697px;
@mspwdsuccess-total-height: 666px;
@mspwdsuccess-image: '../images/sprite.png';
@mspwdsuccess: 0px 280px 0px -280px 132px 132px 697px 666px '../images/sprite.png' 'mspwdsuccess';
@msreviewempty-name: 'msreviewempty';
@msreviewempty-x: 286px;
@msreviewempty-y: 140px;
@msreviewempty-offset-x: -286px;
@msreviewempty-offset-y: -140px;
@msreviewempty-width: 132px;
@msreviewempty-height: 132px;
@msreviewempty-total-width: 697px;
@msreviewempty-total-height: 666px;
@msreviewempty-image: '../images/sprite.png';
@msreviewempty: 286px 140px -286px -140px 132px 132px 697px 666px '../images/sprite.png' 'msreviewempty';
@mssearchempty-name: 'mssearchempty';
@mssearchempty-x: 286px;
@mssearchempty-y: 0px;
@mssearchempty-offset-x: -286px;
@mssearchempty-offset-y: 0px;
@mssearchempty-width: 132px;
@mssearchempty-height: 132px;
@mssearchempty-total-width: 697px;
@mssearchempty-total-height: 666px;
@mssearchempty-image: '../images/sprite.png';
@mssearchempty: 286px 0px -286px 0px 132px 132px 697px 666px '../images/sprite.png' 'mssearchempty';
@nosearch-name: 'nosearch';
@nosearch-x: 566px;
@nosearch-y: 0px;
@nosearch-offset-x: -566px;
@nosearch-offset-y: 0px;
@nosearch-width: 100px;
@nosearch-height: 100px;
@nosearch-total-width: 697px;
@nosearch-total-height: 666px;
@nosearch-image: '../images/sprite.png';
@nosearch: 566px 0px -566px 0px 100px 100px 697px 666px '../images/sprite.png' 'nosearch';
@nosearchleft-name: 'nosearchleft';
@nosearchleft-x: 656px;
@nosearchleft-y: 206px;
@nosearchleft-offset-x: -656px;
@nosearchleft-offset-y: -206px;
@nosearchleft-width: 10px;
@nosearchleft-height: 19px;
@nosearchleft-total-width: 697px;
@nosearchleft-total-height: 666px;
@nosearchleft-image: '../images/sprite.png';
@nosearchleft: 656px 206px -656px -206px 10px 19px 697px 666px '../images/sprite.png' 'nosearchleft';
@nosearchright-name: 'nosearchright';
@nosearchright-x: 656px;
@nosearchright-y: 233px;
@nosearchright-offset-x: -656px;
@nosearchright-offset-y: -233px;
@nosearchright-width: 10px;
@nosearchright-height: 19px;
@nosearchright-total-width: 697px;
@nosearchright-total-height: 666px;
@nosearchright-image: '../images/sprite.png';
@nosearchright: 656px 233px -656px -233px 10px 19px 697px 666px '../images/sprite.png' 'nosearchright';
@planeicon-name: 'planeicon';
@planeicon-x: 642px;
@planeicon-y: 405px;
@planeicon-offset-x: -642px;
@planeicon-offset-y: -405px;
@planeicon-width: 24px;
@planeicon-height: 22px;
@planeicon-total-width: 697px;
@planeicon-total-height: 666px;
@planeicon-image: '../images/sprite.png';
@planeicon: 642px 405px -642px -405px 24px 22px 697px 666px '../images/sprite.png' 'planeicon';
@redclock-name: 'redclock';
@redclock-x: 632px;
@redclock-y: 560px;
@redclock-offset-x: -632px;
@redclock-offset-y: -560px;
@redclock-width: 28px;
@redclock-height: 28px;
@redclock-total-width: 697px;
@redclock-total-height: 666px;
@redclock-image: '../images/sprite.png';
@redclock: 632px 560px -632px -560px 28px 28px 697px 666px '../images/sprite.png' 'redclock';
@redwenhao-name: 'redwenhao';
@redwenhao-x: 674px;
@redwenhao-y: 539px;
@redwenhao-offset-x: -674px;
@redwenhao-offset-y: -539px;
@redwenhao-width: 16px;
@redwenhao-height: 16px;
@redwenhao-total-width: 697px;
@redwenhao-total-height: 666px;
@redwenhao-image: '../images/sprite.png';
@redwenhao: 674px 539px -674px -539px 16px 16px 697px 666px '../images/sprite.png' 'redwenhao';
@siteqrcode-name: 'siteqrcode';
@siteqrcode-x: 566px;
@siteqrcode-y: 108px;
@siteqrcode-offset-x: -566px;
@siteqrcode-offset-y: -108px;
@siteqrcode-width: 90px;
@siteqrcode-height: 90px;
@siteqrcode-total-width: 697px;
@siteqrcode-total-height: 666px;
@siteqrcode-image: '../images/sprite.png';
@siteqrcode: 566px 108px -566px -108px 90px 90px 697px 666px '../images/sprite.png' 'siteqrcode';
@siteqrcode120-name: 'siteqrcode120';
@siteqrcode120-x: 420px;
@siteqrcode120-y: 420px;
@siteqrcode120-offset-x: -420px;
@siteqrcode120-offset-y: -420px;
@siteqrcode120-width: 120px;
@siteqrcode120-height: 120px;
@siteqrcode120-total-width: 697px;
@siteqrcode120-total-height: 666px;
@siteqrcode120-image: '../images/sprite.png';
@siteqrcode120: 420px 420px -420px -420px 120px 120px 697px 666px '../images/sprite.png' 'siteqrcode120';
@tips-name: 'tips';
@tips-x: 596px;
@tips-y: 560px;
@tips-offset-x: -596px;
@tips-offset-y: -560px;
@tips-width: 28px;
@tips-height: 28px;
@tips-total-width: 697px;
@tips-total-height: 666px;
@tips-image: '../images/sprite.png';
@tips: 596px 560px -596px -560px 28px 28px 697px 666px '../images/sprite.png' 'tips';
@topchat-name: 'topchat';
@topchat-x: 674px;
@topchat-y: 515px;
@topchat-offset-x: -674px;
@topchat-offset-y: -515px;
@topchat-width: 16px;
@topchat-height: 16px;
@topchat-total-width: 697px;
@topchat-total-height: 666px;
@topchat-image: '../images/sprite.png';
@topchat: 674px 515px -674px -515px 16px 16px 697px 666px '../images/sprite.png' 'topchat';
@topmsg-name: 'topmsg';
@topmsg-x: 566px;
@topmsg-y: 529px;
@topmsg-offset-x: -566px;
@topmsg-offset-y: -529px;
@topmsg-width: 18px;
@topmsg-height: 14px;
@topmsg-total-width: 697px;
@topmsg-total-height: 666px;
@topmsg-image: '../images/sprite.png';
@topmsg: 566px 529px -566px -529px 18px 14px 697px 666px '../images/sprite.png' 'topmsg';
@topphone-name: 'topphone';
@topphone-x: 674px;
@topphone-y: 435px;
@topphone-offset-x: -674px;
@topphone-offset-y: -435px;
@topphone-width: 18px;
@topphone-height: 18px;
@topphone-total-width: 697px;
@topphone-total-height: 666px;
@topphone-image: '../images/sprite.png';
@topphone: 674px 435px -674px -435px 18px 18px 697px 666px '../images/sprite.png' 'topphone';
@topticket-name: 'topticket';
@topticket-x: 674px;
@topticket-y: 611px;
@topticket-offset-x: -674px;
@topticket-offset-y: -611px;
@topticket-width: 18px;
@topticket-height: 14px;
@topticket-total-width: 697px;
@topticket-total-height: 666px;
@topticket-image: '../images/sprite.png';
@topticket: 674px 611px -674px -611px 18px 14px 697px 666px '../images/sprite.png' 'topticket';
@vattip-name: 'vattip';
@vattip-x: 674px;
@vattip-y: 563px;
@vattip-offset-x: -674px;
@vattip-offset-y: -563px;
@vattip-width: 16px;
@vattip-height: 16px;
@vattip-total-width: 697px;
@vattip-total-height: 666px;
@vattip-image: '../images/sprite.png';
@vattip: 674px 563px -674px -563px 16px 16px 697px 666px '../images/sprite.png' 'vattip';
@spritesheet-width: 697px;
@spritesheet-height: 666px;
@spritesheet-image: '../images/sprite.png';
@spritesheet-sprites: @androiddown @arrowaleft @arrowaright @arrowbleft @arrowbright @arrowcleft @arrowclefthover @arrowcright @arrowcrighthover @arrowdleft @arrowdright @arroweleft @arroweright @arrowfleft @arrowfright @arrowgleft @arrowgright @arrowhleft @arrowhright @buyerprotect @buyerprotectlist @caricon @clock @detailicon @greywenhao @iconchat @icondownarrow @icondownarrowb @iconfacebook @iconfacebookb @iconfavorite @iconfootmobile @iconglobal @icongoodsleft @icongoodsright @iconinstagram @iconinstagramb @iconmobile @iconmobilegoods @iconmobilehover @iconpinterest @iconpointsgoods @iconrgreviews @iconrgreviewsb @icontipa @icontopcart @icontopsearch @icontumblr @icontumblrb @iconuser @insfb @insp @instw @insview @iosdown @likeaa @likeab @ms404 @msaddress @mscartempty @msfail @msfavorite @msgiftempty @msneterror @msnocoupon @msnoquestion @msnoshare @msorderempty @mspayfail @mspwdsuccess @msreviewempty @mssearchempty @nosearch @nosearchleft @nosearchright @planeicon @redclock @redwenhao @siteqrcode @siteqrcode120 @tips @topchat @topmsg @topphone @topticket @vattip;
@spritesheet: 697px 666px '../images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
