[data-gid="U000123_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  @import '../../../temp/gb/css/index_default.less';


  .gs-market-price,.gs-shop-price{
    text-align: left;
  }
  .gb_contentBox{
		margin-top:10px;
	}
	.gb_contents{
    margin:0;
		position:relative;
    font-size:14px;
    line-height:16px;
    color:rgba(51,51,51,1);
    font-family:OpenSans;
		word-wrap:break-word;
  }

 .cart_good_soldOut{
  background-color: #999 !important;
  color: #fff !important;
  pointer-events: none;
  cursor: default;
}

}
