[data-key="U000077"][data-theme="zaful"] {
    background: #F7F7F7;

    .egeshop-component-box  a {
        outline: none;
    }


    .egeshop-recommend-category-block-warp {
        height: 120 / 75rem;
    }

    .egeshop-recommend-category-block {
        position: relative;
        height: 120 / 75rem;
        background-color: #F7F7F7;
    }

    .egeshop-recommend-category-inline {
        position: relative;
        height: 100%;
        line-height: 120 / 75rem;

        ul {
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0px;
        }

        li {
            display: inline-block;
            list-style-type: none;
            &:first-child {
                margin-left: 32 / 75rem;
            }
            &:last-child a {
                margin-right: 0;
            }
            a {
                position: relative;
                display: block;
                margin-right: .667rem;
                font-size: .373rem;
                color: #000000;
                text-decoration: none;
                height: 1.173rem;
            }
        }
    }

    .egeshop-recommend-category-inline-list {
        width: (750 - 96) / 75rem;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }

    .egeshop-recommend-category-inline-list::-webkit-scrollbar {
        width: 0 !important
    }

    .egeshop-recommend-category-arrow {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1.187rem;
        height: 120 / 75rem;
        line-height: 120 / 75rem;
        background-color: #F7F7F7;
        -webkit-transition: top .2s linear;
        transition: top .2s linear;
        text-align: center;
    }

    .egeshop-recommend-category-arrow:after {
        content: '';
        display: inline-block;
        vertical-align: baseline;
        width: 10px;
        height: 10px;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s linear;
        transition: -webkit-transform .2s linear;
        transition: transform .2s linear;
        transition: transform .2s linear, -webkit-transform .2s linear;
        transform-origin: 3px 3px;
    }

    .egeshop-recommend-category-arrow-active:after {
        vertical-align: middle;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: -webkit-transform .2s linear;
        transition: -webkit-transform .2s linear;
        transition: transform .2s linear;
        transition: transform .2s linear, -webkit-transform .2s linear;
    }

    .egeshop-recommend-category-all {
        display: none;
        position: absolute;
        top: 120 / 75rem;
        left: 0;
        right: 0;
        z-index: 1;
        padding: .4rem .373rem 0 !important;
        border-bottom: 1px solid #dddddd;
        background-color: #F7F7F7;
    }

    .egeshop-recommend-category-all li {
        list-style-type: none;
        float: left;
        margin-bottom: .373rem;
    }

    .egeshop-recommend-category-all a {
        display: block;
        margin-right: .373rem;
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding: 0 .373rem;
        height: .88rem;
        line-height: .88rem;
        color: #000000;
        font-size: .373rem;
        text-decoration: none;
    }

    .egeshop-recommend-goods {
        clear: left;
        margin: 0rem 16 / 75rem;
        padding-bottom: 32 / 75rem;
        background: #F7F7F7;
    }
    .egeshop-recommend-goods-sub {
        overflow: hidden;
    }

    .egeshop-recommend-item {
        float: left;
        width: 50%;
    }
    .egeshop-recommend-item-inner {
        margin: 0px 8 / 75rem;
        margin-bottom: 16 / 75rem;
        background: #fff;
    }

    .egeshop-recommend-title {
        padding: 16 / 75rem;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 2.2em;
        line-height: 1.1em;
        overflow: hidden;
    }

    .egeshop-recommend-picture {
        display: block;
        background: #fff;
        padding: 16 / 75rem;
    }

    .egeshop-recommend-picture img {
        display: block;
        width: 303 / 75rem;
        height: 403 / 75rem;
        background: #ddd;
    }

    .egeshop-recommend-price {
        height: 34 / 75rem;
        line-height: 34 / 75rem;
        padding: 20 / 75rem 16 / 75rem;
        font-size: 40 / 75rem;
    }

    .egeshop-recommend-price-sale {
        display: inline-block;
        vertical-align: bottom;
        margin-right: .08rem;
        font-size: .373rem;
        font-weight: bold;
    }

    .egeshop-recommend-price-market {
        display: inline-block;
        vertical-align: bottom;
        font-size: .293rem;
        color: #999999;
        text-decoration: line-through;
    }

    .egeshop-recommend-link {
        clear: left;
        text-align: center;
    }

    .egeshop-recommend-link a {
        display: inline-block;
        vertical-align: top;
        width: 3.28rem;
        height: .88rem;
        text-align: center;
        line-height: .88rem;
        font-size: .373rem;
        border-radius: .44rem;
        text-decoration: none;
    }

    .egeshop-recommend-item .bizhong {
        display: none;
    }

    .egeshop-loading {
        clear: both;
        text-align: center;
        padding: 1rem 0;
    }

    .egeshop-loading-img {
        background: url("data:image/svg+xml;charset=utf-8,<svg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'><defs><line%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F><%2Fdefs><g><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F><%2Fg><%2Fsvg>") no-repeat center center;
        width: 42px;
        height: 42px;
        margin: 0 auto;
        -webkit-transform: rotate(360deg);
        animation: otation 3s linear infinite;
        -moz-animation: rotation 3s linear infinite;
        -webkit-animation: rotation 3s linear infinite;
        -o-animation: rotation 3s linear infinite;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }

}
