	{# 专题页/落地页 埋点 pagePoint #}

	{% if pageData.page_point_type|default('activityPage') ==  'activityPage' %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% elseif pageData.page_point_type ==  'landPage' %}
			{% set pagePoint = {
			wrapLink: 'subjectGoodItem',
			goodLink: 'js-link',
			prodLink:'showProd'
		}%}
	{% else %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% endif %}
	{# 商品标题配置 #}
	{% if pageData.goods_title_active|default(1) == '1' %}
	<div class="gs-goods-title">
		<a href="{{item.url_title}}" class="{{pagePoint.goodLink}}" target="_special">
			{{item.goods_title|default('Beelink GT1 Ultimate 3GB DDR4 + 32GB EMMC TV Box')}}
		</a>
	</div>
	{% endif %}
