// zaful polifiy
[data-key="U000166"][data-theme="default"] {
    .geshop-BP-good-list {
        > ul {
            > li {
                width: 285px;
            }
        }
    }
    div.BP-goods-block {
        .BP-goods-img {
            width: 261px;
            height: 348px;
        }
    }
}