.U000128_default .goodStatus {
  font-family: OpenSans-Bold;
}

.U000128_default .geshop-tabs>li.active {
  font-family: OpenSans-Bold;
}

.U000128_default .shop-price {
  font-family: OpenSans-Bold;
}
