[data-gid="gs-goods-black"] {
  &.gs-goodsWrap {
    margin: 0 auto; // max-width: 100%;
    overflow: hidden;
    position: relative;
    ul {
      font-size: 0; // overflow: hidden;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
    &:after {
      content: "";
      height: 0;
      line-height: 0;
      display: block;
      visibility: hidden;
      clear: both;
    }
    li {
      font-size: 12px;
      position: relative;
      float: left;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .layui-form-label {
    white-space: nowrap;
  }
  /* goods  attribute*/
  .component-self-goodBox {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .component-self-goodWrap {
    // overflow: hidden;
    // border: 1px solid transparent;
  }
  .discont-curtoff {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 74px;
    height: 65px;
    padding-top: 2px;
    color: rgb(255, 255, 255);
    background: url(../../../resources/images/view/black-five/black-five-sprites.png) no-repeat -990px -5px; // background-size: contain;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center; // border-radius: 50%;
    strong {
      font-size: 12px;
      font-weight: 700;
      display: inline-block;
    }
  }
  .item-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 0 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  .item-price {
    padding: 10px 0;
    white-space: nowrap;
    margin: 0;
  }
  .shop-price {
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
  }
  .market-price {
    font-size: 14px;
    color: #787878;
    vertical-align: middle;
  }
  .gs-btn-area {
    margin-bottom: 10px;
  }
  .gs-desc {
    text-align: left; // padding: 0 8px;
    margin: 0 5px;
    a {
      font-size: 14px;
      color: #666;
      text-align: left;
    }
  }
  .gs-img {
    display: table;
    position: relative;
    font-size: 0;
    width: 100%;
    a {
      display: table-cell;
      vertical-align: middle;
      position: relative;
    }
    img {
      max-height: 100%;
    }
  }
  /* btn */
  .gs-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
  }
  .btn-primary {
    color: #fff; // background-color: #337ab7;
    padding: 0; // border-color: #2e6da4;
  }
  .btn-middle {
    border-radius: 20px;
    padding: 6px 20px;
  } //商品倒计时
  .promotion-time {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    background: rgba(36, 36, 36, .6);
    font-weight: 500;
    letter-spacing: 1px;
    .icon-clock {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
      margin-top: 5px;
      background-image: url(../../../resources/images/view/icon-clock.png);
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      background-position: 0 0;
    }
  } //theme add
  .gs-curtoff-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .discont-curtoff {
    strong {
      font-size: 18px;
    }
    .curtoff-box {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 50%;
      font-size: 12px;
    }
  }
  .buy-btn {
    height: 55px;
    margin-top: 10px;
    text-align: right;
    font-size: 16px;
    overflow: hidden;
    a {
      color: #ffffff;
    }
    .card-icon {
      content: '';
      display: inline-block;
      margin-top: 18px;
      background-image: url(../../../resources/images/view/black-five/black-five-sprites.png);
      background-repeat: no-repeat;
      width: 35px;
      height: 26px;
      background-position: -735px -5px;
    }
    .label {
      color: inherit;
      font-size: inherit;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top; // margin-top: 20px;
      text-align: center;
      margin-left: 15px;
      min-width: 90px;
      max-width: 100%;
    }
  }
  .buy-content {
    // background: #eb1942;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    padding-left: 24px;
    border-radius: 55px 0 0 0;
    padding-right: 20px;
    max-width: 100%;
    -webkit-transition: all .3s cubic-bezier(.455, .03, .215, 1) 0s;
    transition: all .3s cubic-bezier(.455, .03, .215, 1) 0s;
    -webkit-transform: translate3d(115px, 0, 0);
    transform: translate3d(115px, 0, 0);
    &:hover {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      border-radius: 40px 0 0 0 !important;
    }
  }
  .goods-item-black {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    &:hover {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  /* 下架 */
  .buyLink {
    background-color: #999 !important;
    color: #fff !important;
    pointer-events: none;
    cursor: default;
  }
  .goodStatus {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #333;
    background-color: rgba(51, 51, 51, .8);
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 28%;
    visibility: visible;
  }
}
