.wrap_U000181_model1 {
    overflow: hidden;
}
.wrap_U000181_model1 [data-gid="m_zaful_sync"] .ui-recommend-loading {
    background: url(https://geshopcss.logsss.com/imagecache/geshop/resources/images/view/zaful/loading.gif) center / 0.66666667rem 0.6rem no-repeat;
    height: 1.2rem;
    display: none;
}
.wrap_U000181_model1 .gs-aigoods ul li {
    position:relative;
    float: left;
    width: 4.56rem;
    padding: 0;
    margin: 0 0.24rem 0.24rem 0;
    background-color: #fff;
    &:nth-child(2n) {
        margin-right: 0;
    }
}
.wrap_U000181_model1 .gs-aigoods .goods-title{
    display: block;
    height: 0.8rem;
    line-height: 0.4rem;
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.wrap_U000181_model1 .gs-img{
    height:6.300rem;
}
.wrap_U000181_model1 .goods-img-wrap{
    width:100%;
    height:6.300rem;
    display: flex;
    justify-content: center; 
}

.wrap_U000181_model1 .gs-aigoods .discount-text{
padding-top: 0.2rem;
}
.wrap_U000181_model1 .gs-aigoods .discount-text p{
line-height: 0.4rem;

}

.wrap_U000181_model1 .gs-aigoods .discount-text p.offtext{
font-size: 0.32rem; 
}
.wrap_U000181_model1 .gs-aigoods .item-price {
    color:#333;
    font-size: 0.32rem;
    font-weight:bold;
    margin: 0.106666rem 0 0.32rem 0;
}
.wrap_U000181_model1 .gs-aigoods .loading-end{
    display: none;
    text-align: center;
    font-size: 0.37rem;
    color: #999;
    margin-top: 0.4rem;
}

.wrap_U000181_model1 .gs-aigoods .soldout{
pointer-events: none;
}
.wrap_U000181_model1 .gs-aigoods .gs-img .soout{
    position: absolute;
    top: -1.6rem;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 2.13rem;
    height: 2.13rem; 
    background:rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    color: #fff;
    font-size: 0.42rem;
    box-sizing:border-box;
    display: flex;
    align-items: center;
}
.wrap_U000181_model1 .gs-aigoods .mark{
    position: absolute;
    text-align:center;
    font-size: 0.32rem;
    width: 1.71rem;
    height: 0.64rem;
    color: #fff;
    background:#B7602A;
    text-align:center;
    left: 0;
    top: 0;
    line-height: 0.64rem;
}

.wrap_U000181_model1 .gs-aigoods .net-error{
display: none;
text-align:center;
}
.wrap_U000181_model1 .gs-aigoods .net-error .error-text{
text-align:center;
margin-top: 0.4rem;
color: #999;
}
.wrap_U000181_model1 .gs-aigoods .net-error img{ 
margin: 0 auto;
width: 2.9rem;
height: 2.9rem;

}
.wrap_U000181_model1 .gs-aigoods .net-error .re-request{
width: 8.5rem;
height: 1.17rem;
background: #801b80;
text-align: center;
line-height: 1.17rem;
color: #fff;
margin: 0 auto;
margin-top: 20px;
font-size: 0.42rem;

}