{
    "root": true,
    "extends": "standard",
    "plugins": [
        "vue"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "rules": {
        "indent": ["error", 4],
        "semi":["error", "always"],
        "no-unused-vars": 2,
        "no-var": ["error"],
        "camelcase": 0,
        "eqeqeq": 0,
        "node/no-deprecated-api": 0,
        "no-extra-boolean-cast": 0,
        "valid-typeof": 0,
        "no-trailing-spaces": 0,
        "no-eval": 0
    },
    "globals": {
        "$": false,
        "GESHOP_LANG": false,
        "MESSAGE": false,
        "GESHOP_PIPELINE": false,
        "GESHOP_LANGUAGES": false,
        "GESHOP_INTERFACE": false,
        "GESHOP_SITECODE": false,
        "sessionStorage": false,
        "GLOBAL": false,
        "GEShopSiteCommon": false,
        "geshopUrlToApp": false,
        "GESHOP_PLATFORM": false,
        "GESHOP_STATIC": false,
        "loadCss": false,
        "$LAB": false,
        "Swiper": false,
        "Swiper3": false,
        "Swiper4": false,
        "_GET": false,
        "COOKIESDIAMON": false,
        "DOMAIN_LOGIN": false,
        "info_check": false,
        "DOMAIN": false,
        "layer": false,
        "JS_LANG": false,
        "my_array_sign": false,
        "gs_htmldecode": false,
        "rg_promotion_htmldecode": false,
        "GESHOP_STORE": false,
        "GESHOP_UTIL": false,
        "GESHOP_LANGUAGES_V2": false,
        "GESHOP_ASYNC_DATA_INFO": false,
        "Image": false,
        "GESHOP_PAGE_TYPE": false,
        "DOMAIN_CART": false,
        "JL_RANKER": false,
        "WebViewJavascriptBridge": false
    }
}
