{#/**
*@author: 任贸华
*@date: 2018/11/24 16:31:41
*@desc: 通用表单底部提交组件
*/#}
<div class="layui-form-item geshop-form-operation">
    <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
    <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm">提交</button>
</div>