[data-gid="U000024_iconLink"] {
  .geshop-icon-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}
.geshop-component-box[data-gid="U000024_model4"] {width:100%;overflow:hidden;}
