.geshop_U000001_rg_for_new_v1_wrapper {
    background-color: #F8F8F8;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 22px 8px 0;
    box-sizing: border-box;
    *{
        box-sizing: border-box;
    }
    .inline-block{
        display:inline-block;
    }
    li{
        display: inline-block;
        width: 280px;
        margin: 0 8px 16px;
        background-color: #ffffff;
        border:1px solid #ffffff;
        box-sizing: border-box;
        &:nth-child(4n){
            margin-right: 0px;
        }
    }
    .list_item{
        position: relative;
        overflow: hidden;
        .item_image{
            width: 100%;
            height: 336px;
            overflow: hidden;
            position: relative;
        }

        .item_stock{
            width: 100%;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            background-color: #FFFFFF;
            opacity: 0.8;
            color: #333333;
            text-align: left;
        }

        .item_stock span{
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:hidden;
        }

        .item_title{
            width: 252px;
            font-size:14px;
            height: 20px;
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
            overflow:hidden;
            color: #333333;
        }

        .item_shop{
            height:19px;
            font-size:14px;
            color:#999999;
            line-height:19px;
        }
    }

    .list_item .item_integral{
        font-size:18px;
        margin: 4px 8px 0 0;
        .left {
            display: inline-block;
        }
        .right {
            display: inline-block;
            margin-left: 8px;
        }
    }

    .list_item .item_integral .right {
        font-size: 14px;
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            overflow: hidden;
            vertical-align: -2px;
        }
        img{
            vertical-align: top;
        }
    }
    .list_item .item_image{
        &:hover{
            .exchange_view {
                transform: translateY(0);
                opacity: 1;
                display: block;
            }
        }
    }
    .item_content{
        padding: 12px 16px 16px 12px;
    }
    .exchange_view {
        cursor: pointer;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        bottom: 100px;
        font-size:16px;
        width:200px;
        height:40px;
        color:#333333;
        background:rgba(255,255,255,0.8);
        border-radius:2px;
        border:1px solid rgba(221,221,221,1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        line-height: 40px;
        transition: all .15s linear;
        transform: translateY(10px);
        opacity: 0;
        box-sizing: border-box;

        &:hover {
            background:rgba(255,255,255,1);
        }
    }
    // 价格
    .item_shop_price .shop_title, .item_market_price .market_title {
        max-width: 60%;
    }

    .item_shop_price .geshop-shop-price, .item_market_price .geshop-market-price {
        max-width: 38%;
    }

    .item_shop_price .geshop-shop-price {
        font-size: 22px;
        line-height: 22px;
    }
    .item_shop_price, .item_market_price {
        > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
    }
}
