
.geshop-U000162-modal1 {

    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .goods-list {
      display: block;
      width: 1168px;
      margin: 8px auto 24px;
      font-size: 0;

      .goods-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 276px;
        padding: 12px;
        box-sizing: border-box;
        margin: 16px 8px 0;
        background: #fff;
        border: 1px solid transparent;
        overflow: hidden;
        
        .geshop-components-default-discount-float {
          //z-index: 2;
        }
        .geshop-u000162--modal1-list-title{
          
          
          a{
            font-size: 14px;
            color: #333333;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            height: 20px;
            line-height: 20px;
            white-space: nowrap;
          }
        }
        &:hover {
          .geshop-components-default-button-buy a{
            transition: all 0.3s;
          }
          .bottom-wrap{
            bottom: 0px;
            transition: all 0.3s;
          }
        }
        .geshop-components-default-button-buy a{
          &:hover{
            opacity: 0.9;
          }
          
        }

        .geshop-u000162-modal1-list-img {
          position: relative;
          display: block;
          width: 252px;
          height: 336px;
          background: #fff;
          overflow: hidden;
        }
        .gs-img{
          height: 336px;
          position: relative;
          
          .geshop-components-default-discount-float{
            background-size: 100% 100%;
          }
        }

        .price-wrap{
          position: relative;
          top: -4px;
          width: 100%;
          background-size: 100% 100%;
          span{
            font-size: 18px;
            padding-left: 12px; 
            &.price-text{
              padding-left: 5px;
            }
          }
        }

        .gs-desc{
          height: 20px;
          font-size: 14px;
          line-height: 20px;
          text-overflow: ellipsis;
          word-break: break-all;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          margin: 2px 0 2px 0;
        }

        .price-state{
          height: 24px;
        }
        .price-state{
          height: 24px;
          font-size: 20px;
          .price-text{
            margin-left: 5px;
          }
        }
        .bottom-wrap{
          position: absolute;
          width: 92%;
          bottom: -60px;
          height: 60px;
          -webkit-transition: all .3s;
          transition: all .3s;
          background-color: #fff;
          .geshop-components-default-button-buy{
            margin-top: 10px;
          }
        }

        .desc-box {
          box-sizing: border-box;
          height: 94px;
          overflow: hidden;

          .trans-box {
            .gs-shop-price{
              font-size: 14px;
            }
          }
        }
        .geshop-components-default-discount-float{
          z-index: 1;
        }
        .geshop-u000162-modal1-list-title {
          margin: 12px 0;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .gs-btn-area{
          font-size: 14px;
          .price-btn{
            display: block;
            height: 32px;
            line-height: 32px;
            box-sizing: border-box;
            padding-left: 6px;
            &.surprice-price{
              background: #333;
              color: #ffffff;
            }
            &.current-price{
              background:rgba(255,255,255,1);
              border:1px solid rgba(51,51,51,1);
            }
          }
          .price-text{
            font-size: 18px;
          }
        }

        .u000162-modal1-buy-now{
          height: 64px;
          background-color: #ffffff;
          position: absolute;
          width: 252px;
          .geshop-components-default-button-buy{
            top: 14.5px;
            position: relative;
          }
        }

      }
    }
  }


