/**
 * banner样式，为了方便，把banner图片放到背景里面
*/

.geshop-U000208-model1 {
    .rank-banner {
        display: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    @media screen and (max-width: 767px) {
        .rank.has-m-banner .rank-banner {
            display: block;
        }
    }

    @media screen and (min-width: 767px) and (max-width: 1024px) {
        .rank.has-m-banner .rank-banner {
            display: block;
        }
    }

    @media screen and (min-width: 1025px) {
        .rank.has-m-banner .rank-banner {
            display: block;
        }
    }
}
