[data-gid="U000119"] .timeline-list-wrapper li .header-timeline-title {
  margin: 7px 0 5px;
  font-size: 16px;
}

[data-gid="U000119"] .timeline-list-wrapper li .header-timeline-title {
  font-weight: bold;
}