#U0000228-default{
  .slider-item{
    &:first-of-type{
      .up-class{
        display: none;
      }
    }
    &:last-child{
      .geshop-third-value .add-class {
        display: inline-block;
      }
      .down-class{
        display: none;
      }
    }
    .slider-title{
      margin-bottom: 5px;
    }
    .layui-form-item{
      margin-bottom: 5px;
    }
    .layui-block{
      border-radius:4px;
      border:1px solid rgba(230,230,230,1);
      padding: 16px;
    }
    .layui-block {
      border-radius: 4px;
      border: 1px solid #e6e6e6;
      padding: 16px;
    }
  }
  .column-title{
    font-size:16px;
    font-weight:600;
    color: #333;
    margin: 0 0 16px;
  }
  .layui-this{
    color: #333;
  }
  .nav-title {
    margin-bottom: 6px;
  }
  .layui-tab-title {
    margin-bottom: 8px;
  }
  .layui-form-desc {
    color: #999;
    font-weight: normal;
  }
}  


.add-class {
  display: none;
}


