[data-gid="U000103_default"] {
  overflow: hidden;
  .gb_imgBox>a {
    display: block;
    position: relative;
  }
  @import '../../../temp/gb/css/index_default.less';
}

[data-gid="U000103_default"] .good_dealEnded .buyLink,
[data-gid="U000103_default"] .cart_good_soldOut,
[data-gid="U000103_default"] .good_soldOut .buyLink {
  background-color: #999 !important;
  color: #fff !important;
  pointer-events: none;
  cursor: default;
}

li {
  list-style: none;
}

/* 售完状态 */

/* .goodsSoldOut .buyLink {
  background-color: #999999 !important;
}
.good_dealEnded .buyLink,
.good_soldOut .buyLink {
  background-color: #999 !important;
  color: #fff !important;
  pointer-events: none;
  cursor: default;
}
.good_soldOut .gs-goods-status {
  display: block;
}
.good_soldOut .js-addCart {
  background-color: #CCCCCC !important;
  color: #fff !important;
  pointer-events: none;
  cursor: default;
} */
