[data-gid="U000026_model2"] {
  .tab-item {
    display: block;
    float: left;
    width: 50px;
    height: 38px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .des-title {
    font-size: 12px;
    color: #9E9E9E;
  }
  #Banbox .layui-tab-content {
    padding: 10px 0px;
  }
  #Banbox {
    margin-top: 16px;
  }
  #Banbox .layui-tab-title li.layui-this {
    background: #1E9FFF !important;
    color: #fff;
    font-size: 16px;
    margin-right: 48px;
    border: none !important;
  }
  #Banbox .layui-tab-title li.layui-this i {
    color: #fff !important;
  }
  #Banbox .layui-tab-title li .layui-tab-close:hover {
    border-radius: 2px;
    background-color: #fff;
    color: #c2c2c2;
  }
  #Banbox .layui-tab-title li.layui-this .layui-tab-close:hover {
    border-radius: 2px;
    background-color: #1E9FFF;
    color: #fff;
  }
  #Banbox .layui-tab-title li {
    font-size: 16px;
    height: 40px;
    padding: 0 5px;
    margin-left: -50px;
    background: #fff;
    border: 1px solid #E6E6E6;
    border-bottom: 0px solid;
    max-width: 90px;
    width: 85px;
  }
  #Banbox .layui-tab-title li.init {
    margin-left: 0px !important;
    background: #fff;
  }
  .li-add {
    width: 38px;
    height: 39px !important;
    line-height: 39px;
    position: absolute;
    text-align: center;
    right: 12px;
    font-size: 30px;
    top: 0;
    border: 1px solid #E6E6E6;
    border-bottom: 0px solid #ddd;
  }
  .li-add a {
    display: block;
    color: #1e9fff;
  }
  .add-hover-item {
    width: 100px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 12px;
    top: -24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
  }
  .layui-tab {
    position: relative;
  }
  .img_openResource {
    width: 38px !important;
    height: 38px !important;
    text-align: center !important;
    line-height: 26px !important;
    /* background-color: #e1e1e1; */
  }
  .img_openResource i {
    padding-left: 9px;
  }
  #Banbox .imgSrc {
    width: 113% !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #Banbox .js_openResource {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #Banbox .js_start_time,
  #Banbox .js_end_time {
    border: none;
    text-align: center;
  }
  #Banbox .dateTime {
    border: 1px solid #e6e6e6;
  }
}
