<div class="geshop-col-12">
    {% if data.img1Src %}
        <a class="box-loading" {% if data.img1Href %}href="{{ data.img1Href }}"{% endif %} style="display: block; width: 10rem;">
            <img class="js-lazyload" alt="{{ data.img1Alt }}" data-lazy="{{ data.img1Src }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="display: block; vertical-align: top;" width="100%">
        </a>
    {% else %}
        <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">图片</p>
    {% endif %}
</div>
