<label class="form-item-label">{{ cmpt_label }}</label>
<div class="layui-input-block">
    <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
    <input class="layui-input" type="text" name="{{ cmpt_name }}" value="{{ cmpt_value | default(cmpt_default) }}">
</div>