.geshop-u000087-multiple {
  position: relative;
  background-size:cover;
  overflow: hidden;
  box-sizing: border-box;

  .inline-box {
    display:inline-block;
  }

  .coupon-body {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height:normal;
    position:relative;
    z-index:1;

    .coupon-top .coupon-discount {
      font-weight:500;
    }
    .coupon-middle {
      word-break: break-all;
    }
    .coupon-layout {
      width: auto;

      &.coupon-bottom {
        width:100%;
        text-align:center;
      }

      .center-center {
        vertical-align: middle;
      }
      /* 按钮默认状态 */
      .coupon-btn {
        cursor: pointer;
        color: #fff;
        background-color : #dddddd;
      }
    }
  
    .coupon-bottom .center-center {
      vertical-align: bottom;
    }
  }

  .snowberg-png {
    position:absolute;
    left:50%;
    top:50%;
    background-size: 100% 100%;
  }
}
