// 浮动折扣标
.geshop-components-default-discount-float {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    > label {
        font-family: OpenSans-Semibold;
        display: block;
        position: absolute;
        text-align: center;
        font-size: 16px;
        line-height: 14px;
        font-weight: 400;
        > i {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            font-family: OpenSans-Regular, Arial;
        }
    }
}
