// rw polifiy
[data-key="U000166"][data-theme="default"] {
    div.BP-goods-block {
        .BP-goods-img {
            padding-top: 100% !important;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}