.geshop-component-box-U000083 { margin: 0 auto; padding: 0 0; width: 1240px; height: 100%; }
.geshop-component-box-U000083 .gs-img { margin-right: 20px; }
.geshop-component-box-U000083  a:last-child {  margin-right: 0; }