<fieldset class="layui-elem-field">
    {% if componentData.label is not empty %}
    <legend>
        {{ componentData.label }}
        {% if componentData.desc is not empty %}
            <span style="color: #999999;font-size: 14px">{{ componentData.desc }}</span>
        {% endif %}
    </legend>
    {% endif %}
    <div class="layui-field-box">
        {% set components = componentData.components %}
        {{ include ('@app/files/parts/formTemplate/componentRender.twig', components) }}
    </div>
</fieldset>
