.warp-U000031_zaful {
  overflow: hidden
}

.warp-U000031_zaful .clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both
}

.warp-U000031_zaful .g-w990 {
  width: 26.4rem
}

.warp-U000031_zaful .text-center {
  text-align: center
}

.warp-U000031_zaful .geshop-component-box {
  overflow: hidden
}

.warp-U000031_zaful .geshop-panel {
  display: block;
  text-align: center;
  font-weight: bold
}

.warp-U000031_zaful .hide {
  display: none
}

.warp-U000031_zaful .gs-default-clothes {
  width: 2.1333rem !important;
  height: 1.8667rem !important;
}

.warp-U000031_zaful .gs-goods-tab {
  margin: auto;
  overflow: hidden;
  position: relative
}

.warp-U000031_zaful .gs-goods-tab .gs-goods-bd {
  overflow: hidden
}

.warp-U000031_zaful .gs-goods-tab .gs-goods-title {
  display: inline-block;
  vertical-align: middle;
  width: 8rem;
  text-align: center
}

.warp-U000031_zaful .gs-goods-tab .gs-option {
  position: relative
}

.warp-U000031_zaful .gs-goods-tab .gs-option .prev span,
.warp-U000031_zaful .gs-goods-tab .gs-option .next span {
  background: url(../../../resources/images/icon/goods-tab-arrow.png) no-repeat;
  width: 0.4267rem;
  height: 0.4267rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto
}

.warp-U000031_zaful .gs-goods-tab .gs-option .prev span {
  background-position: -0.8267rem -0.1333rem
}

.warp-U000031_zaful .gs-goods-tab .gs-option .next span {
  background-position: -0.1333rem -0.1333rem
}

.warp-U000031_zaful .gs-goods-tab .gs-main {
  overflow: hidden
}

.warp-U000031_zaful .gs-goods-tab li {
  list-style: none;
  float: left
}

.warp-U000031_zaful .gs-goods-tab .prev,
.warp-U000031_zaful .gs-goods-tab .next {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  z-index: 2;
  background: #999999;
  cursor: pointer
}

.warp-U000031_zaful .gs-goods-tab .prev {
  position: absolute;
  left: 7.6rem;
  top: 0.5333rem
}

.warp-U000031_zaful .gs-goods-tab .next {
  top: 0.5333rem;
  right: 0.8533rem
}

.warp-U000031_zaful .bd-main,
.warp-U000031_zaful .tempWrap {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  overflow: hidden
}

.warp-U000031_zaful .bd-main li,
.warp-U000031_zaful .tempWrap li {
  font-size: 0.32rem;
  height: 1.92rem;
  color: #ffffff;
  background-color: #999999;
  border-width: 0.0267rem 0;
  border-style: solid;
  padding: 0.2133rem 0;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.warp-U000031_zaful .bd-main .gs-date_day,
.warp-U000031_zaful .tempWrap .gs-date_day {
  margin-right: 0.1333rem
}

.warp-U000031_zaful .bd-main .gs-goods-date_hours,
.warp-U000031_zaful .tempWrap .gs-goods-date_hours {
  display: block
}

.warp-U000031_zaful .bd-main .gs-date-status,
.warp-U000031_zaful .tempWrap .gs-date-status {
  display: block
}

.warp-U000031_zaful .gs-tab-item {
  width: 100%;
  display: none
}

.warp-U000031_zaful .gs-tab-show {
  display: block !important
}

.warp-U000031_zaful .gs-time-inner {
  height: 0.8533rem;
  line-height: 0.8533rem;
  font-size: 0.3733rem;
  font-weight: 500;
  letter-spacing: 0.0267rem;
  color: #333333; // margin-left: -0.5333rem;
  padding: 0.5333rem 0rem 0.26667rem;
  display: block;
  text-align: center
}

.warp-U000031_zaful .gs-time-inner .icon-clock-black {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.16rem;
  background-image: url(../../../resources/images/view/icon-block-black2.png);
  background-repeat: no-repeat;
  width: 0.4rem;
  height: 0.4rem;
  background-position: 0 0;
  background-size: 100% 100%
}

.warp-U000031_zaful .gs-time-inner .gs-down-text {
  display: inline-block;
  color: inherit;
  margin-right: 0.0267rem;
}

.warp-U000031_zaful .gs-time-inner .gs-down-title {
  display: inline-block;
  vertical-align: middle;
  color: inherit; // margin-right: 0.42665rem;
  max-width: 90%;
}

.warp-U000031_zaful .gs-time-inner .gs-down-title span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  max-width: 10.6667rem
}

.warp-U000031_zaful .gs-down-inner {
  display: inline-block;
  margin-left: 0.42665rem;
}

.warp-U000031_zaful .gs_component_countDown em {
  padding: 0 0.06rem;
  font-style: normal;
  border-radius: 0.1067rem;
  margin: 0 0.1333rem;
  min-width: 0.4rem;
  font-size: 0.4267rem;
  font-weight: bold;
  display: inline-block
}

.warp-U000031_zaful .gs-visible-not {
  visibility: hidden
}

/*.warp-U000031_zaful[data-lang='ru'] .gs-time-inner {
  direction: rtl;
  unicode-bidi: bidi-override
}*/

.warp-U000031_zaful .gs-content-rt {
  text-align: left;
  padding-left: 0.4rem
}

.warp-U000031_zaful .has-cloth-not {
  background-color: #EDEDED
}

.warp-U000031_zaful .gs-goodsWrap {
  // min-height: 12.16rem
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"].gs-goodsWrap {
  margin: 0 auto;
  overflow: hidden;
  position: relative
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"].gs-goodsWrap ul {
  font-size: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"].gs-goodsWrap:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"].gs-goodsWrap li {
  font-size: 0.32rem;
  position: relative;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .layui-form-label {
  white-space: nowrap
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .component-self-goodBox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2667rem
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .component-self-goodWrap {
  border: 0.0267rem solid transparent
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .discont-curtoff {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.0667rem;
  height: 1.0133rem;
  color: #fff;
  background-size: contain;
  line-height: 0.3733rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .discont-curtoff strong {
  font-size: 0.32rem;
  font-weight: 700;
  display: inline-block
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .item-name {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.1; // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // max-width: 5.8667rem;
  // display: block;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .item-price {
  margin: 0 0 0.48rem;
  white-space: nowrap
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .shop-price {
  margin-right: 0.2667rem;
  font-weight: bold;
  font-size: 0.5333rem;
  vertical-align: middle;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-btn-area {
  margin-bottom: 0.2667rem;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-btn-area a:hover {
  opacity: .8
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-desc {
  text-align: left; // padding: 0 0.2133rem
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-desc a {
  font-size: 0.3733rem;
  color: #333;
  text-align: left;
  display: block; // margin-bottom: 0.4267rem;
  position: relative;
  padding-bottom: 0.4267rem;
  margin-bottom: 0.2667rem;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .market-price {
  font-size: 0.3733rem;
  color: #999999;
  vertical-align: middle;
  display: block;
  margin-bottom: 0.1067rem;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-img {
  display: table;
  position: relative;
  font-size: 0;
  width: 100%
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-img a {
  display: table-cell;
  vertical-align: middle;
  position: relative
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-img img {
  max-height: 100%;
  display: inline-block;
  margin: auto;
  vertical-align: middle
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-btn {
  display: inline-block;
  padding: 0.16rem 0.32rem;
  margin-bottom: 0;
  font-size: 0.3733rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0.0267rem solid transparent;
  border-radius: 0;
  text-decoration: none
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .btn-primary {
  color: #fff;
  padding: 0 0.4267rem;
  max-width: 80%;
  white-space: pre-wrap;
  word-break: break-all;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  min-width: 2.1333rem
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .btn-middle {
  border-radius: 0.5333rem;
  padding: 0.16rem 0.5333rem
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .promotion-time-inner {
  height: 0.8533rem;
  line-height: 0.8533rem;
  font-size: 0.3733rem;
  font-weight: 500;
  letter-spacing: 0.0267rem;
  color: #333333;
  margin-left: -0.5333rem;
  margin-bottom: 0.2667rem;
  display: block
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .promotion-time-inner .icon-clock-black {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.1333rem;
  background-image: url(../../../resources/images/view/icon-block-black.png);
  background-repeat: no-repeat;
  width: 0.8533rem;
  height: 0.8533rem;
  background-position: 0 0
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-curtoff-wrap {
  position: relative;
  width: 100%;
  height: 100%
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .discont-curtoff strong {
  font-size: 0.48rem
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .discont-curtoff .curtoff-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
  font-size: 0.32rem;
  line-height: 1;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .buyLink {
  background-color: #999 !important;
  color: #fff !important;
  pointer-events: none;
  cursor: default
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-sold-statu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: block
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .goodStatus {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 2.32rem;
  height: 2.4rem;
  display: inline-block;
  padding: 0.5333rem 0.2667rem;
  font-size: 0.64rem;
  line-height: 0.64rem;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  visibility: visible;
}

.warp-U000031_zaful [data-gid="gs-goods-zaful"] .gs-goods-box {
  display: table-cell;
  vertical-align: top;
}

//app-only
.warp-U000031_zaful .goods-app-only {
  display: block;
  margin-bottom: 0.4rem;
  width: 4.6rem;
}

.warp-U000031_zaful .goods-app-only_text {
  border-radius: 0.0533rem;
  padding: 0.2667rem 0.2667rem;
  display: inline-block;
}

.warp-U000031_zaful .component-self-goodWrap .gs-content-lt {
  // vertical-align: middle;
}
