.geshop-activity-lists {
  .ge-activity-list-icon {
    padding:0px 0px;
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .ge-activity-list-bellrudder {
    
  }
}

.gb-label-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  display: block;
}

.channelSwiperContainer {
  position: static;
  width: 560px;

  .swiper-button-next, .swiper-button-prev {
    background-size: 8px 44px;
    height: 40px;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev {
    left: 0px;
  }

}

.channel-language-text {
  margin-left: 20px;
  vertical-align: -webkit-baseline-middle;
  display: inline;
}

.geshop-activity-actionbar {
  display: none;
}

.geshop-page-list-header {
  @media (min-width:1000px) and (max-width:1670px) {
    .header-input {
      width: 80px;
    }
    .geshop-Activity-btn-add {
      left: 5px;
    }
    .geshop-activity-actionbar {
      display: block;
    }
    .geshop-activity-actionbar-col {
      display: none;
    }
  }
  @media (min-width:1671px) and (max-width:1770px) {
    .header-input {
      width: 100px;
    }
  }
  @media (min-width:1771px) and (max-width:2200px) {
    .header-input {
      width: 125px;
    }
  }
}

@media (min-width:1000px) and (max-width:1920px) {
  .geshop-activity-actionbar {
    display: block;

    .header-input {
      width: 90px;
    }
  }
  .geshop-activity-actionbar-col {
    display: none;
  }
}

.geshop-activity-lists .geshop-activity-child-pages .child-pages-hover .icon-geshop-decorate {
  position: static;
}
.geshop-activity-lists .geshop-activity-child-pages .child-pages-hover .icon-geshop-online,
.geshop-activity-lists .geshop-activity-child-pages .child-pages-hover .icon-geshop-offline {
  position: static;
}
.geshop-activity-lists .geshop-activity-child-pages .child-pages-hover .icon-geshop-mobile {
  position: static;
}
.geshop-activity-lists .geshop-activity-child-pages .child-pages-hover .icon-geshop-search,
.geshop-activity-lists .geshop-activity-child-pages .child-pages-hover .advertisement-icon-geshop-mobile {
  position: static;
}

.geshop-activity-lists .geshop-activity-child-pages .el-card__body .child-pages-hover {
  padding: 30px 8px 0 8px;
  text-align: center;

  .child-pages-container {
    display: flex;
    justify-content: space-around;
  }
}

.geshop-new-activities-lang.activity-place-channel-item {
  
  .el-form-item__label {
    ::before {
      content: '*';
      color: #f56c6c;
    }
  }
  .el-form-item__content {
    overflow: hidden;

  }
}

.geshop-activity-place-channel-tabs {
  .el-tabs__item {
    width: 80px;
    text-align: center;
  }
}

.geshop-activity-place-channel-tabs-title {
  margin-bottom: 0;
  .icon {
    color: #f56c6c;
  }
}

.geshop-new-child-page .gs-col-all.end-time .el-form-item__error {
  top: 40px;
}

.geshop-preview-dialog-container {
  .el-button.el-button--primary {
    margin-top: 10px;
  }
}

.geshop-add-edit-activity-form {
  .el-radio {
    margin: 5px 30px 5px 0;
  }
}
/* 渠道语言tab */
.home_add_piepeline {
    .pipeline_list .el-form-item__label {
        line-height: 52px;
    }
    .pipeline_list_lang{
        margin-bottom: 10px;
    }
    .pipeline_list{
        .el-form-item__label{
            width: auto;
        }
        .el-form-item__content{
            width: auto;
        }
    }
    .el-tabs--card > .el-tabs__header {
        border-bottom: none;
    }

    .el-tabs__nav-wrap {
        border-bottom: 1px solid #e4e7ed;
    }
}

.pipe_tab_pane{
    .pipeline_list{
        .el-form-item__content{
            overflow: initial;
            line-height: 52px;
        }
        .group_lang_list{
            display:inline-block;
        }
    }
    .pipeline_check_group{
        display:inline-block;
    }
}

/* 预览 */
/* 首页预览地址 */
.geshop-activity-preview-address {
    .el-dialog {
        width: 1000px !important;
        margin:0 auto;
    }
    .el-dialog__header {
        line-height:64px;
        background:#1A233B;
        padding: 0px 0px;
    }
    .el-dialog__header .el-dialog__title {
        font-size:18px;
        color: #FFFFFF;
        margin-left: 40px;
        margin-top: 20px !important;
    }
    .el-dialog__header .el-dialog__close,.el-dialog__header .el-dialog__close:hover{
        font-size: 24px;
        color: #FFFFFF;
    }
}
