/**
 * 三端模拟装修页样式
 * @version 0.0
 * @author wuxingtao@globalegrow.com
 */
.geshop-new-activities {
	.el-dialog {
		width: 880px !important;
		margin: 0 auto;
	}
	.el-dialog__header {
		line-height: 64px;
		background-color: #1A233B;
		padding: 0px 0px;
		.el-dialog__title {
			color: #FFFFFF;
			margin-left: 40px;
		}
		.el-dialog__close {
			font-size: 24px;
			color: #FFFFFF;
		}
	}
	.el-dialog__body {
		//padding: 16px 40px 40px 40px;
		padding: 0;
	}
	.geshop-dialog-body {
		padding: 16px 20px 40px 40px;
	}
	.el-form-item {
		margin-bottom: 0px !important;
	}
	.el-form-item__label {
		line-height: 30px;
	}
	.element-full{
		width:100%;
	}
}

.geshop-new-activities-btn .el-form-item__content {
	margin-top: 40px;
	text-align: center;
	.el-button {
		width: 100px;
		height: 40px;
		+ .el-button {
			margin-left: 12px;
		}
	}
}

// 组件form 样式
.design-ui-layout {
	margin-bottom: 26px;
}

.geshop-design-component-form {
	padding: 20px;
	border: 1px solid rgba(230, 230, 230, 1);
	border-radius: 2px;
}

.sync-page-dialog {
	.design-gray-tip {
		color: #E6E6E6;
		line-height: 30px;
		vertical-align: top;
	}
	.geshop-checkbox-item{
		min-width: 100px;
		margin-left: 0 !important;
		padding: 0 6px;
	}
	.component_list {
		.design-ui-layout {
			//&:first-child {
			//	.design-ui-btn-delete {
			//		display: none;
			//	}
			//}
			//&:last-child {
			//	.design-ui-btn-add {
			//		display: none;
			//	}
			//}
		}
	}
	.geshop-design-ui_hide {
		display: none;
	}
	.design-error-tip {
		color: #f22435;
		font-size: 0.75em;
		display:block;
	}
	.design-error-hide{
		display:none;
	}
}
