// 常用活动标签
.geshop-activity-lists{
    .commonly-label td{
        &:first-child{
            position: relative;
        }
        &:first-child:after{
            content: '';
            position: absolute;
            width: 28px;
            height: 40px;
            left: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            background: url(/resources/images/activity/label_common.png) no-repeat left center;
        }
    }
}
