.geshop-el-main .el-row {
  margin-bottom: 0px;
}
.geshop-index-tit{
  margin-bottom: 8px !important;
}
.geshop-index-title {
  width: 88px;
  font-size: 22px;
  color: #3C4144;
  line-height: 30px;
}
.geshop-index-btn {
  background-color: #FFFFFF;
  height: 72px;
  position: relative;
  margin-bottom: 0;
}
.geshop-index-btn {
  background-color: #FFFFFF;
  height: 72px;
  position: relative;
  margin-bottom: 0;
}
/* 新增活动按钮 */
.geshop-index-btn-add {
  display: inline-block;
  width: 116px;
  height:40px;
  background-color: #1E9FFF;
  border:none;
  outline: none;
  color: #FFFFFF;
  font-size: 14px;
  position: absolute;
  left: 24px;
  top: 16px;
  padding:0px 0px;
}
.geshop-index-btn-add:hover {
  color: #FFFFFF;
  background-color: #66b1ff;
}
.geshop-index-btn-add:focus {
  color: #FFFFFF;
  background-color: #2E96E5;
}
.geshop-index-btn-add .icon-geshop-pack-up {
  font-size: 24px;
  position: absolute;
  left: 16px;
  top: 8px;
}
.geshop-index-btn-add .geshop-icon-add-text {
  position: absolute;
  right: 16px;
  top: 13px;
}
/* 刷新页头尾 */
.geshop-index-btn-refresh {
  display: inline-block;
  width: 163px;
  height:40px;
  border-radius:4px;
  border:1px solid rgba(219,219,219,1);
  position: absolute;
  left: 156px;
  top: 16px;
}
.geshop-index-btn-refresh .icon-geshop-reset {
  position: absolute;
  font-size: 18px;
  top: 11px;
  left: 16px;
}
.geshop-index-btn-refresh .geshop-icon-refresh-text {
  position: absolute;
  right: 16px;
  top: 10px;
  line-height: 20px;
}
.geshop-index-btn-refresh:hover {
  border-color: #34A8FF !important;
  background-color: #FFFFFF !important;
  color: #34A8FF !important;
}
.geshop-index-btn-refresh:focus {
  color: #2E96E5; 
  background-color:#FFFFFF;
  border-color: #2E96E5;
}
.geshop-index-btn-refresh.is-disabled:hover {
    color: #C0C4CC !important;
    background-color: #FFF !important;
    border-color: #EBEEF5 !important;
}
/* 搜索活动名称 */
.geshop-index-btn-search {
  display: block;
  width:200px;
  height:40px;  
  height:40px;
  border-radius:4px;
  position: absolute;
  right: 24px;
  top: 16px;
}
.geshop-index-btn-search .el-input__suffix {
  right: 0px;
  left: 8px;
  width: 32px;
}
.geshop-index-btn-search .el-input__inner {
  padding-right: 0px;
  padding-left: 40px;
}
.geshop-index-btn-search .geshop-icon-search-gray {
  margin-top: 10px;
}
/* 首页列表 */
.geshop-index-lists {
  margin-bottom: 0px;
}
.geshop-index-lists .el-table__row{
  height: 80px !important;
}
.geshop-index-lists .geshop-index-more .el-button-group {
  width: 40px;
  height: 40px;
}
.geshop-index-lists .el-table_1_column_9 .el-button {
  padding: 0px 0px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}
.geshop-index-lists .el-table_1_column_9 .el-switch__label {
  color: #333333;
}
.geshop-index-lists .el-table_1_column_9 .el-switch__label.is-active {
  color: #333333;
}
.icon-geshop-decorate.is-lock {
  font-size: 24px;
  color: #9E9E9E;
  background-color: #FFFFFF;
}
.geshop-index-lists .el-dropdown__caret-button .el-icon-arrow-down {
  background:url('../images/activity/more_black.png') no-repeat;
  width: 24px;
  height: 24px;
  border:none;
}
.geshop-index-lists .el-dropdown__caret-button .el-icon-arrow-down:hover {
  background:url('../images/activity/more_blue.png') no-repeat;
  width: 24px;
  height: 24px;
  border:none;
}
.geshop-index-lists .el-dropdown__caret-button .el-icon-arrow-down:before {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
.geshop-index-lists .el-table_1_column_9 .el-button:hover {
  background-color: #F4F4F4;
}
.geshop-index-lists .el-table_1_column_9 .el-button-group .el-button--default {
  display: none;
}
.geshop-index-lists .el-table_1_column_9 .el-button-group .el-dropdown__caret-button {
  display: inline-block;
  vertical-align: middle;
}
.geshop-index-lists .el-table_1_column_9 .el-button-group .el-dropdown__caret-button:hover {
  background-color: #F4F4F4;
}
/* 分页条 */
  .geshop-article-page .el-pagination {
    background-color: #FFFFFF;
    padding-top: 40px;
  }
  .geshop-article-page .el-pagination li {
    line-height: 20px;
    min-width:20px;
    margin-left: 24px;
  }
  .geshop-article-page .el-pagination li.active {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #1E9FFF;
    color: #FFFFFF;
  }
  .geshop-article-page .el-icon-arrow-right {
    margin-top: -5px;
  }

/* 新增首页弹框 */
.geshop-new-index .el-dialog {
  width: 880px !important;
  margin:0 auto;
  /* height: 447px; */
  min-height: 650px;
}
.geshop-new-index .el-dialog__header {
  line-height:64px;
  background:#1A233B;
  padding: 0px 0px;
}
.geshop-new-index .el-dialog__body {
    padding: 8px 40px 20px 40px;
    overflow: hidden;
}
.geshop-new-index .el-dialog__header .el-dialog__title {
  font-size:18px;
  color: #FFFFFF;
  margin-left: 40px;
  margin-top: 20px !important;
}
.geshop-new-index .el-dialog__header .el-dialog__close {
  font-size: 24px;
  color: #FFFFFF;
}
.geshop-new-index .el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: none;
}
.geshop-new-index .el-tabs--card>.el-tabs__header .el-tabs__item {
  width: 160px;
  height: 52px;
  line-height:  52px;
  text-align: center;
  border-left: 0px;
  color:#333333 ;
}
.geshop-new-index .el-tabs--card>.el-tabs__header .el-tabs__item:hover {
  color: #333333;
}
.geshop-new-index .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  border-bottom: 4px solid #1E9FFF !important;
  color: #333333;
}
.geshop-new-index .el-form-item {
  margin-bottom: 0px;
}
.geshop-new-index .new-index-title {
  width: 392px;
  float: left;
}
.geshop-new-index .new-index-title .el-form-item__label {
  width: 392px!important;
  line-height: 30px;
  text-align: left;
}
.geshop-new-index .el-form-item__content {
  /* width: 392px; */
  margin-left: 0px !important;
  position: none;
}
.geshop-new-index .new-index-seo-title .el-form-item__content,
.geshop-new-index .new-index-keywords .el-form-item__content {
  width: auto;
}
.geshop-new-index .new-index-model {
  /* width: 380px;
  float: left;
  margin-left: 16px; */
  margin-top: 8px;
}
.geshop-new-index .new-index-model .el-form-item__label {
  line-height: 30px;
  text-align: left;
  width: 100% !important;
}
.geshop-new-index .new-index-model .el-button--primary {
  height: 40px;
  width: 40% !important;
  border-radius: 4px 0px 0px 4px;
  border: none;
}
.geshop-new-index .new-index-model .el-tag {
  width: 480px;
  height: 40px;
  padding: 4px 10px;
  border-radius: 0px 4px 4px 0px;
  background-color:  #FFFFFF;
  margin-left: -5px;
  display: inline-block;
  vertical-align: middle;
}

.geshop-new-index .new-index-seo-title,
.geshop-new-index .new-index-keywords,
.geshop-new-index .new-index-introduction {
  float: left;
  width: 790px !important;
}
.geshop-new-index .new-index-introduction .count-tip-box {
  bottom: -35px !important;
}
.geshop-new-index .new-index-seo-title .el-form-item__label,
.geshop-new-index .new-index-keywords .el-form-item__label,
.geshop-new-index .new-index-introduction .el-form-item__label {
  line-height: 30px;
  margin-top: 11px;
  width: 100% !important;
  text-align: left;
}
.geshop-new-index .new-index-introduction .el-form-item__content {
  height: 80px;
  width: 100%;
}
.geshop-new-index .new-index-introduction .el-textarea .el-textarea__inner {
  height: 80px;
  width: 100%;
}
.geshop-new-index .new-index-btns {
  float: left;
  width: 790px;
  margin-top: 40px;
}
.geshop-new-index .new-index-btns .el-form-item__content {
  text-align: center;
  width: 100%;
  height: 80px;
}
.geshop-new-index .new-index-btns .el-button {
  width: 100px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 2px;
}
/* 页面模板弹窗 */
.geshop-template-model .el-dialog {
  width: 880px !important;
  margin:0 auto;
}
.geshop-template-model .el-dialog__header {
  line-height:64px;
  background:#1A233B;
  padding: 0px 0px;
}
.geshop-template-model .el-dialog__header .el-dialog__title {
  font-size:18px;
  color: #FFFFFF;
  margin-left: 40px;
  margin-top: 20px !important;
}
.geshop-template-model .el-dialog__header .el-dialog__close,
.geshop-template-model .el-dialog__header .el-dialog__close:hover {
  font-size: 24px;
  color: #FFFFFF;
}
.geshop-template-model .el-dialog__body {
  padding: 17px 40px 37px 40px;
}
.geshop-template-model .el-dialog__body .geshop-page-template-title {
  line-height: 22px;
}
.geshop-template-model .el-dialog__body .geshop-page-template-title .icon-geshop-backward {
  font-size: 24px;
  vertical-align: middle;
  margin-top: -3.5px;
  display: inline-block;
}
.geshop-template-model .el-dialog__body .geshop-page-template-title .geshop-page-template-word {
  font-size: 16px;
  color: #333333;
}
.geshop-template-model .el-dialog__body .el-tabs--border-card {
  margin-top: 24px;
  border: none;
  box-shadow: none;
}
.geshop-template-model .el-dialog__body .el-tabs__header {
  height: 50px;
  border-bottom: 1px solid #E4E4E4;
  background-color: #ffffff !important;
}
.geshop-template-model .el-tabs__header .el-tabs__item {
  border: none;
  width: 160px;
  text-align:center;
}
.geshop-template-model .el-tabs--border-card>.el-tabs__header .el-tabs__item {
  color: #333333;
}
.geshop-template-model .el-tabs__header .el-tabs__item.is-active {
  width: 160px;
  height: 52px;
  color: #333333;
  border-bottom: 4px solid #1E9FFF;
  text-align: center;
}
.geshop-template-model .el-tabs__content {
  padding: 0px 0px;
}
.geshop-template-model .el-tabs__content .model-box {
  width: 20%;
  text-align: left;
}
.geshop-template-model .el-tabs__content .model-box .model-item {
  width: 128px;
  height: 150px;
  border: 1px solid #E6E6E6;
  position: relative;
}
.geshop-template-model .el-tabs__content .model-box .el-radio__input {
  position: absolute;
  right: 4px;
  top: 18px;
}
.geshop-template-model .el-radio__input .el-radio__inner {
  width: 18px;
  height: 18px;
}
.geshop-template-model .el-radio__input.is-checked .el-radio__inner {
  background-color: #FFFFFF;
}
.geshop-template-model .el-radio__input.is-checked .el-radio__inner::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #1E9FFF;
}
.geshop-template-model .el-tabs__content .model-box .model-item>span {
  line-height: 17px;
  font-size: 12px;
  color: #333333;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 15px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.geshop-template-model .el-tabs__content .model-box .model-item>img {
  width: 108px;
  height: 108px;
  margin-top: 30px;
}
.geshop-template-model .el-dialog__footer {
  text-align: center;
  padding: 37px 0px 40px 0px !important;
}
.geshop-template-model .el-dialog__footer .el-button {
  width: 100px;
  height: 40px;
}
.geshop-template-model .model-item {
  position: relative;
}
.geshop-template-model .model-item:hover {
  border: 1px solid #1E9FFF !important;
}
.geshop-template-model .model-item .icon-geshop-search {
  display: none;
  text-align: center;
  line-height: 40px;
}
.geshop-template-model .model-item:hover .icon-geshop-search {
	display: block;
}
.geshop-template-model .icon-geshop-search {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #FFFFFF;
  position: absolute;
  top: 64px;
  left: 44px;
  font-size: 24px;
  z-index: 100;
}
.geshop-template-model .icon-geshop-search:hover {
  background: #1E9FFF;
  color:#FFFFFF;
}
.geshop-template-model .el-dialog__header .el-dialog__close,
.geshop-template-model .el-dialog__header .el-dialog__close:hover {
  font-size: 24px;
  color: #FFFFFF;
}
.geshop-template-model .el-radio__input.is-checked+.el-radio__label {
  color: #333333;
}
.geshop-template-model .el-dialog__body .geshop-template-model-title{
  line-height: 22px;
}
.geshop-template-model .el-dialog__body .geshop-template-model-title .icon-geshop-backward {
  font-size: 24px;
  vertical-align: middle;
  margin-top: -3.5px;
  display: inline-block;
}
.geshop-template-model .el-dialog__body .geshop-template-model-word {
  font-size: 16px;
  color: #333333;
}
/* 查看模板大图开始 */
.geshop-template-pic .el-dialog {
  margin-top: 0px !important;
  height: 100%;
}
.geshop-template-pic .el-dialog .el-dialog__header {
	height: 64px;
	padding: 20px 0px 19px 40px;
	width: 100%;
	height: 25px;
	font-size: 18px;
	background-color: #1A233B;
}
.geshop-template-pic .el-dialog .el-dialog__header .el-dialog__title {
  color: #FFFFFF;
}
.geshop-template-pic .el-dialog .el-dialog__body {
  height: 100%;
  width: 100%;
}
.geshop-el-main .geshop-template-pic .el-row {
  height: 100% !important;
}
.geshop-template-pic .el-dialog__header .el-dialog__close,
.geshop-template-pic .el-dialog__header .el-dialog__close:hover {
  font-size: 24px;
  color: #FFFFFF;
}
/* 首页预览地址 */
.geshop-index-preview-address .el-dialog {
  width: 880px !important;
  margin:0 auto;
}
.geshop-index-preview-address .el-dialog__header {
  line-height:64px;
  background:#1A233B;
  padding: 0px 0px;
}
.geshop-index-preview-address .el-dialog__header .el-dialog__title {
  font-size:18px;
  color: #FFFFFF;
  margin-left: 40px;
  margin-top: 20px !important;
}
.geshop-index-preview-address .el-dialog__header .el-dialog__close,
.geshop-index-preview-address .el-dialog__header .el-dialog__close:hover {
  font-size: 24px;
  color: #FFFFFF;
}

.el-message-box__headerbtn .el-message-box__close {
  width:14px;
  height:14px;
  color:#9E9E9E;
  font-size: 20px;
}
.el-message-box__status.el-icon-warning {
  color: #FFAA00;
} 
.el-message-box__btns {
  text-align: center;
}
.el-message-box__btns button:nth-child(2) {
  margin-left: 16px;
}
.home-page-place .el-form-item__content {
  /* overflow: hidden;
  width: 100%; */
}
.home-page-place .el-form-item__error {
  top: 28px;
}

.tab-header .el-tabs__header {
  margin: 0px 0 0 0;
}

.el-tooltip__popper.is-light {
  border:none;
  background: rgba(0,0,0,0.5) !important;
  line-height: 20px;
  font-size: 14px;
  padding: 0px 6px 0px 6px;
  color: #FFFFFF;
  margin-top: 4px;
}
.el-tooltip__popper.is-light .popper__arrow {
  display: none !important; 
}

.geshop-index-lists .el-tabs__header.is-top {
  background-color: #FFFFFF;
}

.geshop-index-lists .el-tabs--card>.el-tabs__header .el-tabs__nav {
  border:none;
  padding-left: 24px;
}

.geshop-index-lists .el-tabs--card>.el-tabs__header .el-tabs__item {
  width: 130px;
  text-align: center;
  color: #606266;
  border:none;
}

.geshop-index-lists .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  border-bottom: 4px solid #409EFF;
}



