.geshop-index-lists .ge-home-list-operating {
  .el-button {
    padding: 0px 0px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .el-switch__label {
    color: #333333;
  }
  .el-switch__label.is-active {
    color: #333333;
  }
  .el-button:hover {
    background-color: #F4F4F4;
  }
  .el-button-group .el-button--default {
    display: none;
  }
  .el-button-group .el-dropdown__caret-button {
    display: inline-block;
    vertical-align: middle;
  }
  .el-button-group .el-dropdown__caret-button:hover {
    background-color: #F4F4F4;
  }
}

.el-table__body .zf-home-page-title {

  
  .page-title-tip {
    position: relative;

    i {
      font-style: normal;
      width: 70px;
      display: inline-block;
      padding: 0px 10px;
      position: absolute;
      // left: 5px;
      // top: 0;
      background-color: #fef0f0;
      color: #f56c6c;
      margin-left: 5px;
    }
      .new-channel{
          position:relative;
          margin: 5px 0;
      }
      .home-tip{
          position:relative;
          color: #ffffff;
          width: 48px;
          text-align: center;
          border-radius: 2px;
          margin-right: 4px;
      }
      .home_a{
          background-color:#1E9FFF;
      }
      .home_b{
          background-color:#3ACA60;
      }
  }
}

.geshop-index-access-dialog {
  .el-button.el-button--primary {
    margin-bottom: 10px;
  }
}
.geshop-index-preview-address {
  .el-button.el-button--primary {
    margin-bottom: 10px;
  }
}

.home_add_piepeline {
    .pipeline_list .el-form-item__label {
        line-height: 52px;
    }

    .el-tabs--card > .el-tabs__header {
        border-bottom: none;
    }

    .el-tabs__nav-wrap {
        border-bottom: 1px solid #e4e7ed;
    }
}
