
[data-gid="U000063_sku"] .buyer-show {
	width: 1200px;
	margin: 0 auto;
	height: 470px;
	overflow: hidden;
}

[data-gid="U000063_sku"] .buyer-show .buyer-show-item {
	display: block;
	width: 227px;
	height: 227px;
	text-align: center;
	line-height: 1;
	overflow: hidden;
	float: left;
	position: relative;
	cursor: pointer;
}

[data-gid="U000063_sku"] .buyer-show .buyer-show-item.js_show_item_4 {
	margin-right: 15px;
	margin-bottom: 15px;
}

[data-gid="U000063_sku"] .buyer-show .buyer-show-item.js_show_item_6 {
	margin-right: 15px;
}

[data-gid="U000063_sku"] .buyer-show .buyer-show-item.first {
	margin-bottom: 15px;
}

[data-gid="U000063_sku"] .buyer-show .buyer-show-item img {
	-webkit-transition: -webkit-transform .4s linear;
	transition: -webkit-transform .4s linear;
	-moz-transition: transform .4s linear,-moz-transform .4s linear;
	transition: transform .4s linear;
	transition: transform .4s linear,-webkit-transform .4s linear,-moz-transform .4s linear;
	max-width: 100%;
	max-height: 100%;
}

[data-gid="U000063_sku"] .buyer-show .buyer-show-item:hover img.js_loadingimg {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

[data-gid="U000063_sku"] .buyer-show .left {
	float: left;
	width: 227px;
}

[data-gid="U000063_sku"] .buyer-show .left img.js_gdexp_lazy {
	width: 227px;
	height: 227px;
}

[data-gid="U000063_sku"] .buyer-show .center {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	width: 470px;
}

[data-gid="U000063_sku"] .buyer-show .center .buyer-show-item {
	width: 470px;
	height: 470px;
}

[data-gid="U000063_sku"] .buyer-show .center img.js_loadingimg {
	width: 470px;
	height: 470px;
}

[data-gid="U000063_sku"] .buyer-show .right {
	float: left;
	width: 469px;
	font-size: 0;
}

[data-gid="U000063_sku"] .buyer-show .right .buyer-show-item {
	float: none;
	display: inline-block;
	vertical-align: top;
}

[data-gid="U000063_sku"] .buyer-show .right img.js_loadingimg {
	width: 227px;
	height: 227px;
}

[data-gid="U000063_sku"] .buyer-show .view-it {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	background-position: center 20px;
	text-align: center;
	z-index: 1;
	display: none;
}

[data-gid="U000063_sku"] .buyer-show .view-it .inner {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	left: 50%;
}

[data-gid="U000063_sku"] .buyer-show .view-it .inner img {
	display: block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 41px;
	height: 41px;
}

[data-gid="U000063_sku"] .buyer-show .view-it a {
	display: inline-block;
	width: 126px;
	height: 31px;
	text-align: center;
	line-height: 31px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	border: 2px solid #fff;
	font-family: AvenirLTStd_Book;
}

/* view it dialog css */
.view-it-dialog {
	background: #fff;
	display: none;
	position: relative;
	padding: 50px;
}

/* .js_viewIt_alert {
	background-image: url('../../../resources/layui/lay/modules/theme/default/loading-0.gif');
	background-repeat: no-repeat;
	background-position: center center;
} */

.view-it-dialog .close-btn {
	display: block;
	width: 12px;
	height: 12px;
	right: 16px;
	top: 16px;
	position: absolute;
	background: url(../../../resources/images/icon/rw-icon.png) no-repeat;
	cursor: pointer;
	background-position: -248px -359px
}

.view-it-dialog .close-btn:hover {
	opacity: .8
}

.view-it-dialog .prev {
	left: 15px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	background: url(../../../resources/images/icon/rw-icon.png) no-repeat;
	background-position: -641px -80px;
	width: 32px;
	height: 64px
}

.view-it-dialog .prev:hover {
	background: url(../../../resources/images/icon/rw-icon.png) no-repeat;
	background-position: -641px -146px
}

.view-it-dialog .next {
	right: 15px;
	width: 32px;
	height: 64px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	background: url(../../../resources/images/icon/rw-icon.png) no-repeat;
	background-position: -702px -80px
}

.view-it-dialog .next:hover {
	background: url(../../../resources/images/icon/rw-icon.png) no-repeat;
	background-position: -702px -146px
}

.view-it-dialog .dialog-box {
	font-size: 0;
	line-height: 1;
	white-space: nowrap
}

.view-it-dialog .left {
	width: 440px;
	height: 440px;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px
}

.view-it-dialog .left .img-wrap {
	width: 440px;
	height: 440px;
	overflow: hidden;
	display: block;
	text-align: center
}

.view-it-dialog .left .img-wrap:hover img {
	opacity: .8
}

.view-it-dialog .left .img-wrap img {
	width: 440px;
	height: 440px
}

.view-it-dialog .right {
	width: 250px;
	display: inline-block;
	vertical-align: top
}

.view-it-dialog .right h2 {
	font-size: 24px;
	line-height: 1;
	color: #1c1c1c;
	text-align: center;
	margin-bottom: 24px;
	font-weight: bolder;
	font-family: AvenirLTStd_Book
}

.view-it-dialog .right h2:hover {
	color: #333
}

.view-it-dialog .right .img-wrap {
	display: block;
	width: 250px;
	height: 250px;
	overflow: hidden;
	text-align: center
}

.view-it-dialog .right .img-wrap:hover img {
	opacity: .8
}

.view-it-dialog .right .img-wrap img {
	width: 100%;
	height: 100%
}

.view-it-dialog .right .goods-title {
	display: block;
	line-height: 1;
	color: #888;
	margin-top: 14px;
	margin-bottom: 14px;
	height: 29px;
	overflow: hidden;
	font-size: 14px;
	white-space: normal;
	text-align: left;
	font-family: AvenirLTStd_Book
}

.view-it-dialog .right .goods-title:hover {
	text-decoration: underline;
	color: #333
}

.view-it-dialog .right .goods-price {
	text-align: left
}

.view-it-dialog .right .goods-price .new-price {
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	font-family: AvenirLTStd_Book
}

.view-it-dialog .right .goods-price .old-price {
	font-size: 14px;
	color: #888;
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	font-family: AvenirLTStd_Book
}

.view-it-dialog .right .buy-now {
	text-align: center;
	margin-top: 24px
}

.view-it-dialog .right .buy-now a {
	display: inline-block;
	padding-left: 33px;
	padding-right: 33px;
	height: 32px;
	line-height: 32px;
	color: #1c1c1c;
	border: 1px solid #1c1c1c;
	font-size: 14px;
	text-transform: capitalize;
	font-family: AvenirLTStd_Book
}

.view-it-dialog .right .buy-now a:hover {
	color: #fff;
	background: #1c1c1c
}

.view-it-dialog .bottom {
	margin-top: 10px;
	line-height: 1
}

.view-it-dialog .bottom span {
	display: inline-block;
	vertical-align: top
}

.view-it-dialog .bottom .title {
	font-size: 14px;
	color: #888;
	margin-right: 14px;
	height: 20px;
	line-height: 20px;
	font-family: AvenirLTStd_Book
}

.view-it-dialog .bottom .fb-icon {
	width: 20px;
	height: 20px;
	background: url(../../../resources/images/icon/rw-share-icon.png) no-repeat;
	background-position: 0 -22px
}

.view-it-dialog .bottom .fb-icon:hover {
	background: url(../../../resources/images/icon/rw-share-icon.png) no-repeat;
	background-position: 0 0
}

.view-it-dialog .bottom .twitter-icon {
	margin-right: 14px;
	margin-left: 14px;
	background: url(../../../resources/images/icon/rw-share-icon.png) no-repeat;
	background-position: -27px -22px;
	width: 20px;
	height: 20px
}

.view-it-dialog .bottom .twitter-icon:hover {
	background: url(../../../resources/images/icon/rw-share-icon.png) no-repeat;
	background-position: -27px 0
}

.view-it-dialog .bottom .pinterest-icon {
	background: url(../../../resources/images/icon/rw-share-icon.png) no-repeat;
	background-position: -56px -22px;
	width: 20px;
	height: 20px
}

.view-it-dialog .bottom .pinterest-icon:hover {
	background: url(../../../resources/images/icon/rw-share-icon.png) no-repeat;
	background-position: -56px 0
}

/* .view-it-dialog .loading {
	bottom: 0;
	z-index: 2;
	width: 830px;
	height: 570px;
	display: none;
	left: 0;
	top: 0;
	position: absolute;
	background: url(../images/styleimg/default/xubox_loading0.gif) no-repeat,#fff;
	background-position: center
} */

.component-form-setting-item .geshop-first-value a:hover i {
	display: block;
}