<div class="geshop-layout-box layout-drag geshop-container" data-key="L000054" id="{{ pageInstanceId }}" style="
	{% if customData.background_color %}background-color: {{ customData.background_color }};{% endif %}
	{% if customData.background_img %}background-image: url({{ customData.background_img }}); background-position: center top; background-repeat: no-repeat;{% endif %}
">
	<div class="geshop-row">
		<div class="geshop-col-12" data-position="1">
			<div class="component-drop">{{ data[1] }}</div>
		</div>
	</div>
</div>
