.geshop-U000192-default *{font-family:inherit}
.geshop-U000192-default .combo-container .goods-list li .attribute-wrap .attribute-text{
    padding-right: 0.133rem;
}
.geshop-U000192-default .arrows:after{
    content: '';
    position: absolute;
    top: 0.2866rem;
    right: 0.1333rem;
    width: 0.1rem;
    height: 0.1rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -moz-transition: all .2s;
    transition: all .2s;
    border-top: 0.01rem solid #333333 !important;
    border-right: 0.01rem solid #333333 !important;
}
.geshop-U000192-default .ico-cart{
    display: block;
    width: 0.427rem;
    height: 0.427rem;
    margin: 0.187rem 0.16rem 0 0;
    float: left;
    background-size: 100% 100%;
}
.geshop-U000192-default .combo-container .combo-wrap .goods-list li .attribute-wrap .attribute-list{
    z-index:2;
}
