.warp-U000078_model3_new {
	overflow: hidden
}

.warp-U000078_model3_new .clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both
}

.warp-U000078_model3_new .g-w990 {
	width: 990px
}

.warp-U000078_model3_new .text-center {
	text-align: center
}

.warp-U000078_model3_new .geshop-component-box {
	overflow: hidden
}

.warp-U000078_model3_new .geshop-panel {
	display: block;
	text-align: center;
	font-weight: bold
}

.warp-U000078_model3_new .hide {
	display: none
}

.warp-U000078_model3_new .gs-goods-tab {
	margin: auto;
	overflow: hidden;
	position: relative
}

.warp-U000078_model3_new .gs-goods-tab .gs-goods-bd {
	overflow: hidden
}

.warp-U000078_model3_new .gs-goods-tab .gs-goods-title {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	text-align: center
}

.warp-U000078_model3_new .gs-goods-tab .gs-option {
	position: relative
}

.warp-U000078_model3_new .gs-goods-tab .gs-option .prev span,.warp-U000078_model3_new .gs-goods-tab .gs-option .next span {
	background: url(../../../resources/images/icon/goods-tab-arrow.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto
}

.warp-U000078_model3_new .gs-goods-tab .gs-option .prev span {
	background-position: -31px -5px
}

.warp-U000078_model3_new .gs-goods-tab .gs-option .next span {
	background-position: -5px -5px
}

.warp-U000078_model3_new .gs-goods-tab .gs-main {
	overflow: hidden
}

.warp-U000078_model3_new .gs-goods-tab li {
	list-style: none;
	float: left
}

.warp-U000078_model3_new .gs-goods-tab .prev,.warp-U000078_model3_new .gs-goods-tab .next {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	z-index: 2;
	background: #999999;
	cursor: pointer
}

.warp-U000078_model3_new .gs-goods-tab .prev {
	position: absolute;
	left: 285px;
	top: 20px
}

.warp-U000078_model3_new .gs-goods-tab .next {
	top: 20px;
	right: 32px
}

.warp-U000078_model3_new .bd-main,.warp-U000078_model3_new .tempWrap {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	overflow: hidden
}

.warp-U000078_model3_new .bd-main li,.warp-U000078_model3_new .tempWrap li {
	font-size: 12px;
	height: 72px;
	color: #ffffff;
	background-color: #999999;
	border-width: 1px 0;
	border-style: solid;
	padding: 8px 0;
	float: left;
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.warp-U000078_model3_new .bd-main .gs-date_day,.warp-U000078_model3_new .tempWrap .gs-date_day {
	margin-right: 5px
}

.warp-U000078_model3_new .bd-main .gs-goods-date_hours,.warp-U000078_model3_new .tempWrap .gs-goods-date_hours {
	display: block
}

.warp-U000078_model3_new .bd-main .gs-date-status,.warp-U000078_model3_new .tempWrap .gs-date-status {
	display: block
}

.warp-U000078_model3_new .gs-tab-item {
	width: 100%;
	display: none
}

.warp-U000078_model3_new .gs-tab-show {
	display: block !important
}

.warp-U000078_model3_new .gs-time-inner {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333333;
	margin-left: -20px;
	padding: 20px 0;
	display: block;
	text-align: center
}

.warp-U000078_model3_new .gs-time-inner .icon-clock-black {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background-image: url(../../../resources/images/view/icon-block-black2.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	background-position: 0 0;
	background-size: 100% 100%
}

.warp-U000078_model3_new .gs-time-inner .gs-down-text {
	display: inline-block;
	color: inherit
}

.warp-U000078_model3_new .gs-time-inner .gs-down-title {
	display: inline-block;
	vertical-align: middle;
	color: inherit;
	margin-right: 30px
}

.warp-U000078_model3_new .gs-time-inner .gs-down-title span {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
	max-width: 400px
}

.warp-U000078_model3_new .gs-down-inner {
	display: inline-block
}

.warp-U000078_model3_new .gs_component_countDown em {
	font-style: normal;
	border-radius: 4px;
	margin: 0 10px;
	min-width: 30px;
	font-size: 24px;
	display: inline-block;
	background-color: #333;
	color: #FFF;
}

.warp-U000078_model3_new .gs-visible-not {
	visibility: hidden
}

/*.warp-U000078_model3_new[data-lang='ru'] .gs-time-inner {
	direction: rtl;
	unicode-bidi: bidi-override
}*/

.warp-U000078_model3_new .gs-content-rt {
	text-align: left;
	padding-left: 16px
}

.warp-U000078_model3_new .has-cloth-not {
	background-color: #EDEDED
}

.warp-U000078_model3_new .gs-goodsWrap {
	
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"].gs-goodsWrap {
	margin: 0 auto;
	overflow: hidden;
	position: relative
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"].gs-goodsWrap ul {
	font-size: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"].gs-goodsWrap:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"].gs-goodsWrap li {
	font-size: 12px;
	position: relative;
	float: left;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.5s;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"].gs-goodsWrap li:hover{
	transition: all 0.5s;
	transform: translateY(-10px);
}
.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"].gs-goodsWrap li:hover .gs-btn-area {
	opacity: 0.9;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .layui-form-label {
	white-space: nowrap
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .component-self-goodBox {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .component-self-goodWrap {
	border: 1px solid transparent
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .discont-curtoff {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 38px;
	color: #fff;
	background-size: contain;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 50%
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .discont-curtoff strong {
	font-size: 12px;
	font-weight: 700;
	display: inline-block
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .item-name {
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .item-price {
	margin: 0 0 10px;
	white-space: nowrap
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .shop-price {
	margin-right: 10px;
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .kill_soldout .gs-btn-area a {
	background-color: #D0D0D0!important;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-btn-area {
	margin-bottom: 10px

}


.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-btn-area a:hover {
	opacity: .8
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-desc {
	text-align: left;
	padding: 0 8px
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-desc a {
	font-size: 14px;
	color: #333;
	text-align: left;
	min-height: 35px;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .market-price {
	font-size: 14px;
	color: #999999;
  vertical-align: middle;
  display: inline-block;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-img {
	display: table;
	position: relative;
	font-size: 0;
	width: 100%
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-img a {
	display: table-cell;
	vertical-align: middle;
	position: relative
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-img img {
	max-height: 100%;
	display: inline-block;
	margin: auto;
	vertical-align: middle
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	text-decoration: none;
	min-height: 35px;
	line-height: 35px;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .btn-primary {
	color: #fff;
	padding: 0 24px;
	min-width: 130px;
	max-width: 206px;
	max-height: 52px;
	white-space: pre-wrap;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .btn-middle {
	border-radius: 20px;
	padding: 6px 20px
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .promotion-time-inner {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333333;
	margin-left: -20px;
	margin-bottom: 10px;
	display: block
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .promotion-time-inner .icon-clock-black {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	background-image: url(../../../resources/images/view/icon-block-black.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: 0 0
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-curtoff-wrap {
	position: relative;
	width: 100%;
	height: 100%
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .discont-curtoff strong {
	font-size: 18px
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .discont-curtoff .curtoff-box {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 50%;
	font-size: 12px
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .buyLink {
	background-color: #999 !important;
	color: #fff !important;
	pointer-events: none;
	cursor: default
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .gs-sold-statu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: block
}

.warp-U000078_model3_new [data-gid="gs-goods-rwDefult"] .goodStatus {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 96px;
	height: 90px;
	display: inline-block;
	font-size: 16px;
	line-height: 90px;
	color: #fff;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	visibility: visible;
}
.warp-U000078_model3_new{
	.gs-goods-box{
		display: table-cell;
		vertical-align: top;
	}
	.goods-item{
		.geshop-components-default-discount-float{
			background-size: 100% 100%;
			left: 0;
		}
		.geshop-components-default-label-shop-price{
			.my_shop_price{
				font-weight: 600;
			}
		}
	}
} 
