.ui-U000093_model2 {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  @import '../../../temp/gb/css/index_default.less';
	.gs-list-item{
		margin-bottom:12px;
	}
  .js-addCart {
    pointer-events: inherit !important;
    cursor: pointer !important;
  }
	//秒杀
	.gb-kill-warp{
		text-align: center;
		padding-top: 15px;
		padding-bottom: 23px;
	}
	.gb-kill-title{
		font-weight: bold;
	}
	.gb-kill-statusText{
		padding: 8px 0 10px;
		position:relative;
		width: auto;
		margin: auto;
		display: inline-block;
		font-weight: bold;
		&:before{
			content: '';
			height: 1px;
			position: absolute;
			left: -50px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 40px;
			background-color: #333333;
		}
		&:after{
			content: '';
			height: 1px;
			position: absolute;
			right: -50px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 40px;
			background-color: #333333;
		}
	}
	.gs-kill-down{
		line-height: initial;
		padding: 4px 5px;
		em{
			font-size: 20px;
			font-style:normal;
			//height: 40px;
			//line-height: 40px;
			min-width: 30px;
			padding: 4px 5px;
			margin: 0 6px;
			border-color: #ffffff;
			color: #ffffff;
			background: #000000;
		}
	}
}
