.geshop-u000086-multiple {
  position: relative;
  background-size: cover;
  overflow: hidden;

  .inline-box {
    display:inline-block;
  }

  .snowberg-png {
    width: 120px;
    height: 94px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: 100% 100%;
    margin-left: -60px;
    margin-top: -47px;
  }

  .coupon-body {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: normal;
    position: relative;
    z-index: 1;

    .coupon-top .coupon-discount {
      font-weight: 500;
    }

    .coupon-middle {
      margin-top: 8px;
      margin-right: 0;
      margin-bottom: 16px;
      word-break: break-all;
    }

    .coupon-layout {
      width: auto;
      
      .center-center {
        vertical-align: middle;
      }

      &.coupon-bottom {
        width: 100%;
        text-align: center;
      }

      .coupon-btn {
        cursor: pointer;
        padding : 0 30px;
        color: #fff;
        background-color: #dddddd;
        border: 1px solid transparent;
        &.failed{
          cursor: default;
        }
      }
    }

    .coupon-bottom .center-center {
      vertical-align: bottom;
    }

    .coupon-time-box {
      strong, span {
        display: inline-block;
        vertical-align: middle;
      }

      strong {
        font-size: 20px;
        font-weight: bold;
      }

      span {
        width: 10px;
        font-size: 20px;
        color: #333333;
        margin: 0 6px;
      }
    }
  }
}