<div class="geshop-component-box component-drag geshop-[组件编码]-[模板文件夹名称] geshop-[组件编码]-[模板文件夹名称]-{{ pageInstanceId }}" data-key="[组件编码]" data-id="{{ pageInstanceId }}">
    <!-- embed stylesheet begin -->   
    {{ include('style.twig') }}
    <!-- embed stylesheet end -->
    <div>
        {# 内容代码 #}
    </div>
</div>