<div class="layui-row layui-col-space20">
    <div class="layui-col-md12">

        {{ include ('@app/files/parts/common/components/input.twig',
            { options: { label:'积分说明文字',name:'MyPointsIntegralNumTxt',value:pageData.MyPointsIntegralNumTxt ,full:true,}}
        ) }}

        {# {{ include ('@app/files/parts/common/components/input.twig',
            { options: { label:'积分说明文字',name:'MyPointsIntegralTxt',value:pageData.MyPointsIntegralTxt ,full:true,}}
        ) }} #}
    </div>

    <div class="layui-col-md6">

        {{ include ('@app/files/parts/common/components/input.twig',
            { options: { label:'积分文字颜色',name:'MyPointsIntegralNumColor',value:pageData.MyPointsIntegralNumColor ,full:true, colorPrefix:true}}
        ) }}

    </div>
    <div class="layui-col-md6">
        {{ include ('@app/files/parts/common/components/input.twig',
            { options: { label:'积分说明文字颜色',name:'MyPointsIntegralTxtColor',value:pageData.MyPointsIntegralTxtColor ,full:true, colorPrefix:true}}
        ) }}
    </div>

</div>