.gs-goods-wrap--m,
.gs-good-label-box {
  position: relative;
}
.gs-goods-wrap--m .gs-goods-label,
.gs-good-label-box .gs-goods-label {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  font-size: 0.32rem;
  width: 90%;
}
.gs-goods-wrap--m .gs-goods-label p,
.gs-good-label-box .gs-goods-label p,
.gs-goods-wrap--m .gs-goods-label a,
.gs-good-label-box .gs-goods-label a {
  display: block;
  max-width: 100%;
  padding: 0 0.13rem;
  margin-bottom: 0.12rem;
  border-radius: 0 1rem 1rem 0;
  text-align: center;
  height: 0.533rem;
  line-height: 0.533rem;
  background: rgba(30, 30, 30, 0.3);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
