.pr {
  position: relative;
}

&.geshop-gb-component {
  strong {
    font-weight: 400;
  }
}

.visible-hide {
  visibility: hidden;
}

// 商品容器

.gb_wrapper_common {
  position: relative;
  margin: auto;
  padding: 15px 0 0;
  overflow: hidden;
}

.gb_goodsWrap {
  padding: 12px 0 0;
}

.gb-list-default {}

.gb-list-normal {
  width: 1200px;
}

.gb-global-wrapper {
  font-size: 0;
}

.gs-list-item {
  display: inline-block;
  width: 190px;
  margin: 0 12px 12px 0;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  &:nth-child(5n) {
    margin-right: 0;
  }
  .item-content {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

.gs-subjectGoodItem {
  &:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

//倒计时

.gs-goods-time {
  height: 30px;
  color: #fff;
  font-size: 12px;
  background-color: #2f2f2f;
  text-align: center;
  em,
  span {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
  }
  .gs-goodsRushDown span {
    vertical-align: unset !important
  }
}

.gs-google-time {
  font-size: 14px;
  width: auto;
  .gs-goodsRushDown {
    width: auto;
  }
}

// 商品图片

.gs-goods-wrap {
  padding: 8px 8px 0;
  a {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 174px;
    height: 174px;
  }
  img {
    height: 174px;
    max-width: 100%;
    max-height: 100%;
  }
}

// 商品标题

.gs-goods-desc {
  padding: 0 8px 0;
}

.gs-goods-title {
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  padding: 8px 0 0;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
	color:#333;
	a{
		color:inherit;
	}
}

// 商品折扣

.gs-goods-discount {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: #ff8a00;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
  .curtoff-box {
    font-size: 16px;
    margin-top: 11px;
  }
  span {
    display: block;
    font-size: 12px;
  }
}

// 商品价格

.gs-goods-price {
  margin-top: 8px;
  overflow: hidden;
  .gs-market-price {
    max-width: 90px; 
    font-size: 15px;
    height: 20px;
    color: #bbb;
    line-height: 1;
    margin: 2px 0;
    display: block;
    float: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-decoration: line-through;
    .js-compShoppricePrefix {
        display: inline-block;
        width:28px;
        height:14px;
        line-height: 14px;
        overflow: hidden;
        background:rgba(244,244,244,1);
        border-radius:2px;
        margin-right: 5px;
        font-size: 12px;
        vertical-align: middle;
    }
  }
  .gs-shop-price {
    display: block;
    font-size: 22px;
    color: #f30240;
    margin-bottom: 10px;
    line-height: 1;
    strong {
      display: inline-block;
      vertical-align: middle; // font-weight: 400;
    }
    .gs-new-discount {
        width: 68px;
        height: 20px;
        line-height: 20px;
        display: block;
        float: right;
        color: #fff;
        padding: 0 8px;
        background-color: #F30240;
    }
  }
}

// 购买按钮

.gs-goods-buy {
  text-align: center;
  height: 40px;
  font-size: 0;
  a {
    width: -webkit-calc(~"100% - 60px") !important;
    width: calc(~"100% - 60px") !important;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background: #458fd3;
    color: #ffffff;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 0 8px;
    &:hover {
      background: #2d73b3;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 60px;
    color: #fff;
    background-color: #c00;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    &:hover {
      background: #2d73b3;
    }
  }
  .icon-cart {
    font-size: 22px;
    line-height: inherit;
  }
}

.buyLink {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

// 商品库存

.gs-goods-limit {
  margin: 8px 8px 0;
  height: 28px;
  position: relative
}

.process-bar {
  bottom: 0;
  width: 100%;
  background: #ddd
}

.process-bar,
.process-inner {
  display: block;
  position: absolute;
  left: 0;
  height: 10px;
  border-radius: 10px
}

.process-inner {
  top: 0;
  background: #ff8a00;
  width: 0
}

.goods-limit-tips {
  position: absolute;
  left: 0;
  top: -22px;
  font: normal 12px/25px Arial;
  text-align: center
}

.goods-limit-tips b {
  color: #ff8a00;
  padding-right: 5px
}

.goods-limit-tips em {
  position: absolute;
  display: block;
  bottom: -10px;
  left: 10px;
  border-width: 5px;
  border-style: solid
}

.goods-limit-tips em.tri_bd {
  border-color: #ddd transparent transparent;
  bottom: -11px;
  z-index: 1
}

.goods-limit-tips em.tri_bg {
  border-color: #fff transparent transparent;
  z-index: 2
}

.goods-nolimit {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  color: #ff8a00
}

// 商品状态

.gs-goods-status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  display: inline-block;
  padding: 20px 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  visibility: visible;
  background: rgba(0, 0, 0, .6);
  border-radius: 50%;
  font-style: normal;
  display: none;
  white-space: normal;
  word-break: break-all;
}

.good_dealEnded,
.good_soldOut {
  .buyLink {
    background-color: #999 !important;
    color: #fff !important;
    pointer-events: none;
    cursor: default;
  }
}

.good_soldOut {
  .gs-goods-status {
    display: block;
  }
  &.not_goods_limit {
    .js-addCart {
      background-color: #CCCCCC !important;
      color: #fff !important;
      pointer-events: none;
      cursor: default;
    }
  }
}

//广告图
.gs-list-item-ad{
	img{
		width:100%;
		height:100%;
	}
}

// 服务标
@import './good_label.less';
