// 购买按钮
.geshop-components-default-button-buy a {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background-color: #333;
    border-radius: 35px;
    &:hover {
        opacity: .9;
    }
}
