[data-gid="U000139_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  @import '../../../temp/gb/css/index_default.less';

  .gb_goodsWrap{
    width: 1000px;
    overflow: hidden;
    padding-top:0;
    .gs-goods-wrap{
      padding:0;
    }
    .gs-goods-wrap img {
      width: 100%;
      height: 100%;
    }
    .gb-global-wrapper{
      float: left;
    }
    .gb_part_box{
      float: left;
    }
    .gb_part_add{
      text-align: center;
      font-size: 40px;
    }
    .gb_left_goods{
      float:left;
      padding-left: 12px;
      padding-top: 2px;
      // padding-top:50px;
    }
    .gb_right_options{
      float: right;
      width: 258px;
      padding: 60px 20px 0 20px;
      height:296px;
    }
    .gb_cell{
      min-height: 24px;
    }
    .gb_cell_left{
      float: left;
    }
    .gb_cell_right{
      float: right;
    }
    .FFF{
      color: #FFFFFF;
    }
    .FF8A00{
      color:#FF8A00;
    }
    .gb_goodBorder{
      margin:15px 0 18px 0;
      height:1px;
      // background:#FFF;
      border-top:1px solid #FFF;
    }
    .gb_final_cell{
      height: 32px;
    }
    .gb_final{
      overflow: hidden;
      font-size: 26px;
    }
    .gb_add,.gb_more{
      margin-top: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius:4px;
      font-size: 18px;
    }



  }


}
