<div class="layui-form-item">
    <label class="layui-form-label">商品SKU</label>
    <div class="layui-input-block rest-input">
                                <textarea class="layui-textarea  js-valid-skus"
                                          name="goodsSKU"
                                          data-public-tag="true"
                                          placeholder="请输入商品SKU，每个SKU用英文逗号隔开">{{ data.goodsSKU }}</textarea>
    </div>
    <div class="layui-form-item tab-add-btn class-manage" data-from="tabs">
        <span class="el-button el-button--primary el-button--small">商品管理</span>
    </div>
</div>
<style>
    .tab-add-btn {
        float: right;
        margin:16px 0;
    }
</style>


