[data-gid="U000056_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .fb {
    font-weight: 700;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .text-lt {
    text-align: left;
  }
  @import '../../../../../htdocs/resources/template/m/goodsList/default/index.less';
}
