body [data-module="U000165-1"] .coupon-body .coupon-time-box strong,
body [data-module="U000165-1"] .coupon-body .coupon-time-box span{
    font-weight: normal;
    font-family:OpenSans-Bold;
}
[data-module="U000165-1"] .coupon-body .coupon-text{
    font-family:TrebuchetMS;
}
