@fontSmall: 12px;
.geshop-U000246-template1_v1 {

    overflow: hidden;
    .list_item {
        display: inline-block;
        font-size: 14px;
        position: relative;
        color: #222222;
        width: 389px;
        height: 176px;
        max-width: 100%;
        background-image:url(https://geshopimg.logsss.com/uploads/nsfuDbViKeY2ChG9LrajZdP4FyTmgUqI.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .coupon-info-group {
        position: absolute;
        text-align: center;
        overflow: hidden;
        width: 115px;
        right: 29px;
        box-sizing: border-box;
    }

    .btn-group-state {
        display: block;
        width: 100%;
        margin-top: 16px;

        .btn-item {
            display: block;
            width: 100%;
            height: 32px;
            line-height: 32px;
            border-radius: 2px;
            box-sizing: border-box;
            padding: 0 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #222222;
            color: #FFFFFF;
        }
        .btn-cursor{
            cursor: pointer;
        }
    }

    .item_stock span {
        font-size: @fontSmall;
    }
    .integral_title{
        font-size:24px;
    }
    // 兑换弹窗
    .dia-coupon-getting {
        position: fixed;
        z-index: 101;
        background: rgba(0, 0, 0, .4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .getting-main {
            font-size: 14px;
            border-radius: 8px;
            text-align: center;
            position: absolute;
            width: 660px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFFFFF;
            .getting-info {

                p {
                    height: 28px;
                    margin: 60px auto;
                    font-size: 14px;

                    span {
                        font-size: 24px;
                    }
                }

                .btn-sure {
                    display: inline-block;
                    width: 240px;
                    height: 40px;
                    border-radius: 2px;
                    margin-bottom: 40px;
                    font-size: 16px;
                    line-height: 40px;
                    cursor: pointer;
                    background-color: #222222;
                    color: #FFFFFF;
                }

            }
        }

    }
    .dia-coupon-noEnough {
        position: fixed;
        z-index: 101;
        background: rgba(0, 0, 0, .4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .noEnough-main {
            font-size: 14px;
            text-align: center;
            width: 660px;
            border-radius: 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .noEnough-info {

                h3 {
                    font-size: 24px;
                    margin: 60px auto 24px;
                }

                .coupon-gif {
                    display: block;
                    margin: 24px auto;
                }
                p {
                    margin-bottom: 8px;
                }

                .btn-sure {
                    display: inline-block;
                    width:240px;
                    height:40px;
                    border-radius:2px;
                    margin-bottom: 40px;
                    margin-top: 35px;
                    font-size:16px;
                    line-height:40px;
                    cursor: pointer;
                }
            }
        }
        .integral_title{
            font-size:24px;
        }
        a{
            cursor: pointer;
        }
    }
    .btn-close {
        cursor: pointer;
        font-size: 0;
        position: absolute;
        width:36px;
        height:36px;
        right: -18px;
        top: -18px;
        background: url("//geshopimg.logsss.com/uploads/kToQgDdH7sfCv4EehtORAKLnzcBV0Iia.png") 0 0 no-repeat;
        background-size: 100% 100%;
    }

    // 移动端样式
    &.geshop_dl_wap {
        .list_wrap{
            text-align: center;
        }
        .list_item {
            background-image:url(https://geshopimg.logsss.com/uploads/kB4C2f5qEo3rcA69NSxQ0XOwdIaWV18K.png);
        }
        .dia-coupon-getting{
            .getting-main{
                text-align: center;
                width: 320px;
            }
        }
        .dia-coupon-noEnough{
            .noEnough-main{
                width: 320px;
            }
        }
    }
}
