
.wrap-U000041_view {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .gs-default-clothes {
    width: 140px !important;
    height: 124px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  } //goods tab theme
  @tabFtc: #f7e2b7;
  @tabBgc: #c72b31;
  .gs-tab {
    margin: auto; // margin-top: 15px;
    // margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }
  .gs-tab-wrap {
    height: 72px;
  }
  .gs-tab-label {
    position: relative;
    line-height: initial;
    white-space: nowrap;
    font-size: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    width: 100%;
    li {
      position: relative;
      width: auto;
      height: 100%;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      font-size: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      &:last-child {
        padding-right: 0;
      }
      span {
        // background:$tabBgc;
        // color: $tabFtc;
        // border-radius: 15px 15px 0 0;
        display: block;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        font-size: 21px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .current {
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 41px; // border-width: 1px;
        // border-style: solid;
        // border-bottom-color: #fff;
        border-radius: 2px 2px 0 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
      }
      span {
        // background: $tabFtc;
        // color: lighten($tabBgc,10%);
      }
    }
  }
  .gs-tab-content {
    // padding: 10px;
    // border-radius: 0 0 15px 15px;
  }
  .gs-tab-item {
    width: 100%;
    display: none;
  }
  .gs-tab-show {
    display: block !important;
  }
  .goods-nav-name {
    display: table;
    white-space: nowrap;
    text-align: center;
    font-size: 0; // line-height: 66px;
    height: 64px;
    width: auto;
    margin: auto;
    li>span {
      display: inline-block;
      padding: 0 45px;
      cursor: pointer;
      line-height: 64px;
      height: 64px;
      color: #2d2d2d;
    }
    .current {
      &:after {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 8px solid ;
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: 64px;
      }
    }
  }
  /* swiper */
  .gs-tab-box {
    background: #fff;
    overflow: visible;
    .swiper-container {
      margin: auto;
      overflow: visible;
    }
  }
  .geshop-tab-btn {
    position: absolute;
    width: 50px;
    height: 64px;
    z-index: 1;
    cursor: pointer;
    background-size: 50px 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dcdbdb;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: none;
    &:hover{
      background-color: #D8D8D8;
    }
    &.pre-btn {
      left: 0;
    }
    &.next-btn {
      right: 0;
    }
    &.gs-btn-show {
      display: block;
    }
  }
  /* icon */
  .icon-img-right {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-left: -9px;
  }
  .icon-img-left {
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .icon-img-right, .icon-img-left {
    border: 2px solid #000;
    border-width: 0 0 2px 2px;
    width: 14px;
    height: 14px;
    line-height: 0;
    font-size: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -7px;
  }
  .gs_see_more{
    width:252px;
    height:36px;
    line-height: 36px;
    border-radius:20px;
    text-align: center;
    margin: 0 auto 24px;
    cursor: pointer;
    overflow: hidden;
  }
  /* site */
  &[data-code="rw-pc"],
  &[data-code="rg-pc"] {
    .component-self-goodBox {
      padding-left: 10px;
    }
    .component-self-goodWrap {
      background-color: #ffffff;
    }
    .gs-tab-item>ul {
      margin-left: -10px;
    }
  }
  //@import '../../../../../htdocs/resources/template/pc/goodsList/view/index.less';
  .goods-list {
    display: block;
    width: 1168px;
    margin: 0 auto 24px;
    font-size: 0;

    li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 276px;
      margin: 16px 8px 0;
      background: #fff;
      &:hover {
        .geshop-components-default-button-quick-view {
          display: block;
        }
      }


      .geshop-U000041-modal3-list-img {
        position: relative;
        display: block;
        width: 276px;
        height: 368px;
        background: #fff;
        overflow: hidden;
      }

      .desc-box {
        box-sizing: border-box;
        padding: 0 12px;
        height: 90px;
        overflow: hidden;
      }

      .geshop-U000041-modal3-list-title {
        margin-top: 12px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .gs-shop-price {
        margin-top: 4px;
        height: 30px;
        font-size: 22px;
        line-height: 30px;

        .geshop-components-default-label-shop-price {
          margin-right: 6px;
        }

        .geshop-components-default-label-market-price, .geshop-components-default-label-shop-price {
          vertical-align: bottom;
        }
      }

    }
  }
}
.wrap-U000041_view{
  .gs-img{
    img{height: 100%; max-height: 100%;}
  }
}
