[data-gid="U000173_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .vm-btn-wrap{
    margin: 0 auto;
    width:1000px;
    height:50px;
    line-height: 50px;
    opacity:0.99;
    // border:1px solid #D2D2D2;
    a {
      display: inline-block;
      height: 100%;
    }
    span{
      margin-right: 4px;
      vertical-align: middle;
    }
    i{
      vertical-align: middle;
    }
  }
}
