/* design page */
body {
  position: relative;
}

#app {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.site-main-design {
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

.design-left-box {
  width: 80px;
  overflow-x: hidden;
  -webkit-transition: width linear .3s;
  transition: width linear .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.geshop-component-box.design-preview-box {
  height: 64px;
  line-height: 64px;
  color: #333333;
  background: rgba(137, 37, 225, 0.2);
  opacity: 0.99;
  border: 1px dashed rgba(137, 37, 225, 1);
}

.geshop-layout-box .design-preview-layout-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #9E9E9E;
}

.design-preview-box p {
  text-align: center;
}

.design-preview-hidden {
  display: none !important;
}

.design-left-box-visible {
  width: 242px;
  transition: width linear .3s;
  -moz-transition: width linear .3s;
  /* Firefox 4 */
  -webkit-transition: width linear .3s;
  /* Safari 和 Chrome */
  -o-transition: width linear .3s;
  /* Opera */
}

.design-left {
  position: relative;
  width: 80px;
  height: 100%;
  background-color: #1A233B;
}

.site-header-container {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-header-container .left {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header-container .layui-form-switch {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 20px;
}

.site-header-container .layui-form-switch {
  width: 28px;
  height: 18px;
  line-height: 18px;
  background-color: #D0D0D0;
}

.site-header-container .layui-form-onswitch {
  background-color: #1E9FFF;
}

.site-header-container .layui-form-switch i {
  top: 1px;
  left: 1px;
  background-color: #ffffff;
}

.site-header-container .layui-form-onswitch i {
  left: 21px;
}

.site-header-container .btn {
  cursor: pointer;
  width: 120px;
  height: 64px;
  margin-right: -5px;
  background-color: #ffffff;
  border: 1px solid #E4E4E4;
  border-bottom: none;
  border-top: none;
  border-right: none;
  color: #333333;
}

.site-header-container .btn:link {
  color: #333333;
}

.site-header-container .btn:visited {
  color: #333333;
}

.site-header-container .btn:hover {
  color: #1E9FFF;
}

.site-header-container .btn:focus {
  color: #2E96E5;
}

.site-header-container .btn:active {
  color: #333333;
}

.site-header-container .btn.active {
  background-color: #1E9FFF;
  color: #ffffff;
}

.site-header-container .btn.active:hover {
  background-color: #34A8FF;
}

.site-header-container .btn.active:focus {
  background-color: #2E96E5;
}

.sidebar-btn {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 110px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #1A233B;
}

.sidebar-btn.current::before {
  content: '';
  width: 6px;
  height: 110px;
  background-color: #1E9FFF;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar-btn.current {
  background-color: #121B2C;
}

.sidebar-btn .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 28px 0 0px;
  background-position: 0 0;
  background-size: contain;
}

.sidebar-btn:nth-child(1) .icon {
  background-image: url(../../geshop/images/default/layout-icon.png);
}

.sidebar-btn:nth-child(2) .icon {
  background-image: url(../../geshop/images/default/component-icon.png);
}

.sidebar-btn:nth-child(3) .icon {
  background-image: url(../../geshop/images/default/template-icon.png);
}

.sidebar-btn:nth-child(4) .icon {
  background-image: url(../images/default/template-icon.png);
}

.sidebar-content {
  width: 160px;
  height: 100%;
  background: #121B2C;
  overflow: hidden;
}

.template-select-area {
  position: fixed;
  bottom: 0;
  width: 320px;
  left: 80px;
  background-color: #121B2C;
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
}

.sidebar-content .sidebar-title {
  width: 100%;
  height: 64px;
  line-height: 64px;
  padding-left: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  color: #E6E6E6;
  font-size: 16px;
}

.sidebar-content .sidebar-title .back {
  cursor: pointer;
  font-size: 22px;
  display: inline-block;
  margin-left: 28px;
}

.sidebar-content .sidebar-desc {
  color: #E6E6E6;
  padding: 10px 38px 10px 26px;
  font-size: 12px;
}

.sidebar-content.hide {
  display: none;
}

.sidebar-component-container {
  overflow-y: auto;
  max-height: 67vh;
}

@-moz-document url-prefix() {
  .sidebar-component-container {
    overflow-y: auto;
    max-height: 65vh;
  }
}

.template-item-select-container {
  display: none;
  position: fixed;
  width: 320px;
  left: 80px;
  line-height: 80px;
  text-align: center;
  bottom: 0px;
  color: #fff;
  background-color: #121B2C;
  -webkit-box-shadow: 0px -5px 10px -2px rgba(18, 27, 44, 0.3);
  box-shadow: 0px -5px 10px -2px rgba(18, 27, 44, 0.3);
}

.template-item-select-container button {
  width: 100px;
  height: 40px;
}

.sidebar-component-container-big li {
  width: 128px;
  padding: 10px 10px 6px 10px;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar-list-container .sidebar-list-title,
.sidebar-list-container .sidebar-child-list-title {
  padding-left: 26px;
  background-color: #0E1523;
  color: #E6E6E6;
}

.sidebar-list-container .sidebar-list-title {
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
}

.sidebar-child-list-container .sidebar-child-list-title {
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 4px;
}

.sidebar-list-container .sidebar-list-title i,
.sidebar-list-container .sidebar-child-list-title i {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 8px;
  background-image: url(../../geshop/images/icon/componet-option-icon.png);
  background-position: 0 -1px;
  background-repeat: no-repeat;
}

.sidebar-list-container .sidebar-list-title.open i,
.sidebar-list-container .sidebar-child-list-title.open i {
  background-position: -59px 0;
}

.sidebar-list-container .layui-tab-title li {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar-list-container .sidebar-child-list-container {
  display: none;
}

.sidebar-list-container .sidebar-child-list-container.show {
  display: block;
}

.sidebar-template-list-container {
  padding-left: 8px;
  width: 330px;
}

.sidebar-template-list-container .template-list-item,
.sidebar-template-list-container .component-list-item {
  position: relative;
  border: 1px solid transparent;
  width: 128px;
  max-height: 158px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
  margin-left: 16px;
  margin-bottom: 8px;
  margin-top: 0;
  cursor: pointer;
}

.sidebar-template-list-container .component-list-item {
  cursor: move;
}

.sidebar-template-list-container .component-list-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-template-list-container .template-list-item:last-child {
  margin-bottom: 20px;
}

.sidebar-template-list-container .template-list-item .layui-icon,
.component-form-setting-item .component-tmp-list .layui-icon {
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #d2d2d2;
  font-size: 12px;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  border-color: #1E9FFF;
  background-color: #1E9FFF;
  color: #fff;
}

.sidebar-template-list-container .template-list-item.checked .layui-icon,
.component-form-setting-item .component-tmp-list.component-tmp-current .layui-icon {
  display: block;
}

.component-form-setting-item .component-tmp-list .layui-icon {
  position: absolute;
  right: 2px;
  top: 2px;
}

.component-form-setting-item .component-tmp-list .layui-icon-ok,
.sidebar-template-list-container .template-list-item .layui-icon-ok {
  background-image: url(../../geshop/images/icon/template-selected-tick.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.component-form-setting-item .layui-input {
  height: 40px;
  border-radius: 4px;
}

.component-form-setting-item .layui-input:focus,
.component-form-setting-item .layui-textarea:focus {
  border-color: #1E9FFF !important;
}

.sidebar-template-list-container .template-list-item:hover,
.sidebar-template-list-container .template-list-item.checked {
  border-color: #21A0FF;
}

.sidebar-template-list-container .template-list-item .title {
  color: #E6E6E6;
  font-size: 12px;
  margin-bottom: 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-template-list-container .template-list-item img,
.sidebar-template-list-container .component-list-item .image {
  width: 108px;
  height: 100px;
}

.sidebar-template-list-container .component-list-item .image {
  background-size: 100% 100%;
}

.sidebar-item-title{
    position: relative;
}
.sidebar-item-title .sidebar-title-search{
    position: absolute;
    height: 25px;
    top: 15px;
    width: 140px;
    left: 125px;
}
.sidebar-item-title .sidebar-title-search .layui-input{
    padding-left:20px;
}
.sidebar-item-title .layui-icon{
    position: absolute;
    color: #ffffff;
    right: 18px;
    top: 0;
    bottom: 0;
    margin: 0;
}

.layui-layer-title {
  background-color: #1A233B;
  color: #fff;
  height: 63px;
  line-height: 63px;
  padding-left: 40px;
  font-size: 18px;
}

.layui-layer-setwin {
  right: 22px;
  top: 22px;
}

#component_form_dialog {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 201;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.design-left-title {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  background-color: #f7f7f7;
  text-indent: 1em;
}

.design-layout-box+.design-left-title {
  margin-top: -1px;
}

.design-layout-box {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.design-layout-item {
  padding: 10px 10px 5px 10px;
  cursor: move;
  width: 128px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.design-layout-icon {
  display: inline-block;
  height: 40px;
  width: 108px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.design-layout-desc {
  display: inline-block;
  margin-bottom: 3px;
  text-align: left;
  font-size: 12px;
  color: #E6E6E6;
}

.design-model-box {
  margin-left: 0;
  margin-right: 0;
}

.design-model-item {
  cursor: move;
}

.design-model-item:nth-child(2n+1) {
  margin-left: 24px;
}

.design-model-item:nth-child(2n) {
  margin-left: 16px;
}

.design-model-icon {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  width: 108px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.design-model-desc {
  margin-bottom: 8px;
  line-height: 12px;
  font-size: 12px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.design-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.geshop-drop-tip {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  margin: 0;
  padding: 0;
  width: 0;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #333333;
  text-align: center;
  background: rgba(30, 159, 255, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#geshop_drop_tip_center p {
  color: #1E9FFF;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  top: 50%;
}

.geshop-drop-tip span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  padding: 0 20px;
}

.geshop-drop-tip-top-right span {
  color: #1E9FFF;
}

.geshop-drop-tip-top-wrong span {
  background-color: #f56c6c;
}

.geshop-drop-tip-bottom-right span {
  background-color: #67c23a;
}

.geshop-drop-tip-bottom-wrong span {
  background-color: #f56c6c;
}

.geshop-dragenter-tip-wrong {
  background: rgba(137, 37, 225, 0.2);
}

.geshop-draggable {
  cursor: move;
}

.design-control {
  position: fixed;
  top: 64px;
  right: 0;
  left: 240px;
  z-index: 200;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0 !important;
  padding: 0 40px 0;
  font-size: 16px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  line-height: 58px;
  background-color: #ffffff;
  -webkit-transition: left linear .3s;
  transition: left linear .3s;
}

.design-control-full {
  left: 280px;
}

.site-header-container .design-control-title-box {
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.design-control i {
  font-size: 20px;
}

.design-control-title {
  display: inline-block;
  vertical-align: top;
  margin-left: 130px;
  font-size: 16px;
}

.design-control-lang a {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.design-control-lang a.current {
  border-bottom: 4px solid #1E9FFF;
}

.design-control-option {
  float: right;
}

.design-control-option a {
  font-size: 12px;
}

.design-control-option a:nth-child(1) {
  margin-right: 35px;
}

.design-control-option a:nth-child(3) {
  margin-left: 35px;
}

.design-control-option a:nth-child(4) {
  margin-left: 35px;
}

.design-control-option a:hover {
  color: #1E9FFF;
}

.design-control-option a:focus {
  color: #2E96E5;
}

.design-control-option a i {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../../geshop/images/icon/componet-option-icon.png);
}

.design-control-option a:nth-child(1) i {
  background-position: -78px 0;
}

.design-control-option a:nth-child(1):hover i,
.design-control-option a:nth-child(1):focus i {
  background-position: -96px 0;
}

.design-control-option a:nth-child(2) i {
  background-position: -114px 0;
}

.design-control-option a:nth-child(2):hover i,
.design-control-option a:nth-child(2):focus i {
  background-position: -132px 0;
}

.design-control-option a:nth-child(3) i,
.design-control-option a:nth-child(4) i,
#gb_sync_goodsList i {
  background-position: -78px 0;
}

.design-control-option a:nth-child(3):hover i,
.design-control-option a:nth-child(3):focus i,
.design-control-option a:nth-child(4):hover i,
.design-control-option a:nth-child(4):focus i,
#gb_sync_goodsList i:hover,
#gb_sync_goodsList i:focus {
  background-position: -96px 0;
}

.design-view {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 120px 40px 40px;
  border: 1px solid #E6E6E6;
  padding-bottom: 60px;
}

.design-view-loading {
  display: none;
  position: fixed;
  z-index: 1000;
  background-image: url(../../geshop/library/layui/css/modules/layer/default/loading-1.gif);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.design-view .layout-drag,
.design-view .component-drag {
  position: relative;
}

.design-view .component-drag .component-drag-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.design-view .component-drop {
  position: relative;
  margin: 0 1px;
  border: 1px dashed #e1e1e1;
  min-height: 64px;
  overflow: hidden;
}

.design-box.component-drag .open-design-form {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #333333;
}

.geshop-layout-box {
  position: relative;
  border: 1px solid #D2D2D2;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: -1px;
}

.geshop-component-box {
  position: relative;
  border: 1px dashed #ffffff;
  overflow: hidden;
}

.geshop-layout-box:hover {
  position: relative;
  z-index: 100;
  border: 1px solid #3a8ee6;
}

.geshop-component-box:hover {
  position: relative;
  z-index: 100;
  border: 1px dashed #3a8ee6;
}

.design-form {
  position: fixed;
  top: 0;
  right: -480px;
  z-index: 203;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: right linear .3s;
  transition: right linear .3s;
  background-color: #ffffff;
}

.design-form-visible {
  right: 0;
}

.design-form-close {
  font-size: 24px;
  color: #ffffff;
  position: absolute;
}

.geshop-form-operation {
  border-top: 1px solid #e6e6e6;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 400px;
  margin-bottom: 0;
  background-color: #FFF;
  z-index: 300;
}

.geshop-form-operation button,
.geshop-form-operation span {
  width: 200px;
  border: none;
  height: 63px;
  line-height: 63px;
  margin: 0 !important;
  padding: 0;
  float: left;
  border-radius: 0;
}

.geshop-form-content {
  padding-bottom: 80px;
  overflow-x: hidden;
}

.design-operation-panel {
  position: absolute;
  top: -35px;
  left: -1px;
  z-index: 2;
  padding: 5px 16px;
  height: 24px;
  line-height: 24px;
  background-color: #21A0FF;
  color: #ffffff;
  white-space: nowrap;
  border-radius: 4px 4px 0px 0px;
}

.design-operation-panel > a {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 12px;
  padding: 6px 0;
  text-align: center;
  border-radius: 50%;
  background: rgba(16, 93, 149, 0.4);
  margin: 0 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.design-operation-panel > a i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../../geshop/images/icon/componet-option-icon.png);
  background-repeat: no-repeat;
}

.design-operation-panel .js_sortUpLayout .icon,
.design-operation-panel .js_sortUpComponent .icon {
  background-position: -210px 0;
}

.design-operation-panel .geshop-draggable .icon {
  background-position: -162px 0;
}

.design-operation-panel .js_sortDownLayout .icon,
.design-operation-panel .js_sortDownComponent .icon {
  background-position: -198px 0;
}

.design-operation-panel .js_addLayout .icon {
  background-image: url(../../geshop/images/icon/ic_14x14_add_white.png);
}

.design-operation-panel .js_copyLayout .icon,
.design-operation-panel .js_copyComponent .icon {
  background-position: -186px 0;
}

.design-operation-panel .js_openLayoutForm .icon,
.design-operation-panel .js_openComponentForm .icon {
  background-position: -174px 0;
}

.design-operation-panel .js_saveComponentTemp .icon {
  background-image: url(../../../resources/images/icon/temp-icon.png);
}

.design-operation-panel .js_removeLayout .icon,
.design-operation-panel .js_removeComponent .icon {
  background-position: -150px 0;
}

.design-operation-panel .js_pasteInEmptyLayout .icon,
.design-operation-panel .js_pasteInComponent .icon,
.design-operation-panel .js_pasteInLayout .icon {
  background-image: url(../../geshop/images/icon/ic_14x14_paste.png);
}

.design-operation-panel > a:hover {
  background: rgba(16, 93, 149, 1);
}

.design-operation-panel > a span {
  padding: 1px 4px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  background-color: #21A0FF;
  color: #ffffff;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

.design-layout-operation-panel > a span {
  top: -24px;
}

.design-component-operation-panel {
  top: 5px;
  left: 5px;
  z-index: 1000;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #e1e1e1;
  color: #333333;
}

.design-operation-panel > span {
  margin-right: 8px;
}

.design-component-operation-panel > a span {
  bottom: -24px;
  background-color: #ffffff;
  color: #333333;
}

.design-open-resource {
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-right: 1px solid #E6E6E6;
}

.design-open-resource + .layui-input {
  padding-left: 48px;
}

.activity-component-from-item .design-open-resource + .layui-input {
  width: 96%;
  padding-right: 10px;
}

.component-form-title {
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: #1A233B;
  color: #FFFFFF;
  padding-left: 40px;
}

.component-form-quote {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 40px;
  background-color: #FFF5E6;
}

.component-form-setting-item {
  padding: 0 40px;
  overflow: hidden;
  margin-top: 16px;
}

.component-form-templatelist-item .layui-tab-content {
  padding: 0;
}

.component-form-setting-item .message-tips {
  line-height: 18px;
  background: rgba(52, 168, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #34A8FF;
  font-size: 12px;
  color: #666666;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.component-form-setting-item .blog-component-configure-item .action-bar,
.component-form-setting-item .marquee-component-configure-item .action-bar {
  margin: 5px 0;
  text-align: right;
  width: 324px;
}

.component-form-setting-item .blog-component-configure-item .action-bar {
  width: 330px;
}

.component-form-setting-item .marquee-component-configure-item .action-bar {
  margin: 0;
}

.component-form-setting-item .blog-component-configure-item .Unwanted,
.component-form-setting-item .marquee-component-configure-item .Unwanted {
  width: 280px;
  margin-top: 10px;
  display: inline-block;
}

.component-form-setting-item .blog-component-configure-item .Unwanted {
  width: 287px;
}

.component-form-setting-item .marquee-component-configure-item .Unwanted {
  margin-top: 0;
}

.component-form-setting-item .img_openResource {
  width: 80px;
  font-size: 32px;
  line-height: 30px;
}

.component-form-setting-item .select-img {
  margin-left: 32px;
}

.component-form-setting-item .title {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

.component-form-setting-item .des-title {
  font-weight: normal;
  font-size: 12px;
  color: #9E9E9E;
}

.layui-form-item .dateTime {
  border: 1px solid #e6e6e6;
}

.layui-form-item .dateTime input{
  border: none;
}

.component-form-setting-item .title .back {
  font-size: 20px;
  color: #333333;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 3px -3px 0;
  cursor: pointer;
}

.component-form-setting-item .layui-input-block {
  margin-left: 0;
}

.activity-component-from-item {
  padding: 0 10px;
}

.activity-component-from-item .layui-input-block {
  margin-left: 110px;
}

.component-form-setting-item .layui-field-box {
  padding: 0 0 10px 0;
}

.component-form-setting-item .form-item-label {
  font-size: 14px;
  margin: 5px 0;
  display: inline-block;
}

.component-form-setting-item .layui-form-item {
  margin-bottom: 8px;
}

.shrink .layui-col-space20>*{
  padding: 0px 10px;
}
.component-form-setting-item .layui-form-item.pdb0{
  margin-bottom: 0px;
}

.component-form-setting-item .more-setting-btn {
  color: #1E9FFF;
}

.component-form-setting-item .component-tmp-title {
  margin: 10px 0;
}

.component-form-setting-item .component-tmp-list .component-tmp-content {
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.component-form-template-item .component-tmp-content {
  cursor: default !important;
}

.component-form-setting-item .component-tmp-current .component-tmp-content {
  border-color: #1E9FFF;
}

.component-form-setting-item .component-tmp-current img,
.component-form-setting-item .component-tmp-list .component-tmp-content img {
  max-width: 100%;
}

.component-form-setting-item .advanced-setting-container {
  margin-top: 16px;
  border: none;
}

.component-form-setting-item .layui-tab-brief>.layui-tab-title .layui-this {
  color: #000000;
}

.component-form-setting-item .layui-tab-title li {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.activity-component-from-item .layui-tab-title li {
  width: auto;
}

.component-form-advanced-item,
.component-form-templatelist-item {
  display: none;
}

.component-form-templatelist-item {
  margin-bottom: 80px;
}

.component-form-advanced-item.show,
.component-form-templatelist-item.show {
  animation: advancedItemAnimation ease-in-out 0.3s;
  -webkit-animation: advancedItemAnimation ease-in-out 0.3s;
  -moz-animation: advancedItemAnimation ease-in-out 0.3s;
}

@keyframes advancedItemAnimation {
  from {
    -webkit-transform: translateX(94%);
    transform: translateX(94%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes advancedItemAnimation {
  from {
    -webkit-transform: translateX(94%);
    transform: translateX(94%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.advanced-setting-container .layui-colla-content {
  padding: 10px 5px;
}

.advanced-setting-container .layui-colla-title {
  padding-left: 20px;
  font-size: 16px;
}

.advanced-setting-container .layui-icon.layui-colla-icon {
  right: 15px;
  text-align: right;
}

.img-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 12px;
  padding: 6px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  background: rgba(16, 93, 149, 0.4);
  margin: 0 2px;
}

.img-btn .tips {
  display: none;
  font-weight: normal;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -24px;
  color: #333333;
  font-size: 12px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.img-btn:hover {
  background-color: #105D95;
}

.img-btn:hover b {
  display: block;
}

.img-btn i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.icon-up,
.gb-icon-up,
.gs-icon-up {
  background-image: url('../../geshop/images/carousel-image/up.png');
}

.icon-down,
.gb-icon-down,
.gs-icon-down {
  background-image: url('../../geshop/images/carousel-image/down.png');
}

.icon-delete,
.gb-icon-delete,
.gs-icon-delete {
  background-image: url('../../geshop/images/carousel-image/delete.png');
}

.icon-add,
.gb-icon-add,
.gs-icon-add {
  background-image: url('../../geshop/images/carousel-image/add_1.png');
}

.gb-icon-manage,
.gs-icon-manage {
  background-image: url('../../geshop/images/icon/componet-option-icon.png');
  background-repeat: no-repeat;
  background-position: -174px 0;
}

.icon-close {
  z-index: 1000;
  right: 21px;
  top: 16px;
}

.gb-icon-close,
.gs-icon-close {
  z-index: 1000;
  right: 21px;
  top: 16px;
  line-height: 1;
}

.layui-layer-setwin,
.layui-layer-close1 {
  background-image: url(../../geshop/images/icon/ic_20x20_close_grey.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.layui-layer-setwin a {
  width: 20px;
  height: 20px;
}

.geshop-resource-explorer-col {
  position: relative;
  padding: 10px 0;
  border: 1px solid #ffffff;
  text-align: center;
  height: 176px;
}

.geshop-resource-explorer-col:hover {
  border: 1px solid #1E9FFF;
}

.geshop-resource-explorer-col:hover .geshop-resource-operate {
  display: block;
}

.geshop-resource-explorer-col:hover .geshop-resource-operate a {
  color: #ffffff;
}

.geshop-resource-explorer-title {
  margin-top: 28px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}

.geshop-resource-operate {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #1E9FFF;
  color: #ffffff;
  width: 100%;
  height: 36px;
  line-height: 36px;
}

.geshop-resource-operate a {
  display: block;
  font-size: 14px;
  color: #ffffff;
}

.geshop-resource-tree-container {
  height: 100%;
  border-right: 1px solid #e4e4e4;
  overflow-y: auto;
  padding-bottom: 10px;
}

.geshop-resource-empty-tip {
  text-align: center;
  height: 56px;
  background-color: #FFF5E6;
  line-height: 56px;
  display: none;
}

.geshop-resource-empty-tip i.el-icon-warning {
  font-size: 24px;
  color: rgb(230, 162, 60);
}

.geshop-resource-empty-tip span {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: left;
}

.geshop-resource-list {
  margin-bottom: 60px;
  padding: 20px 30px;
  height: 404px;
  overflow-y: auto;
}

.design-view .geshop-component-box .component-nav-fixed {
  position: relative !important;
  z-index: 0 !important;
}

.geshop-resource-bottom {
  padding: 0;
  height: 72px;
  line-height: 72px;
}

.geshop-resource-folder-creation {
  padding-left: 16px;
  text-align: center;
  border-right: 1px solid #e4e4e4;
  background-color: #ffffff;
}

.geshop-resource-file-upload {
  padding-right: 16px;
  text-align: right;
  background-color: #f4f4f4;
  border-top: 1px solid #eee;
}

/* colorpicker 插件 */
.colorpicker {
  z-index: 20000000;
}

.color-picker-selector {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.color-picker-selector div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(../../geshop/library/colorpicker/images/select.png) center;
}

.color-picker-selector + input {
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  padding-left: 50px;
  z-index: 1;
}

.activity-component-from-item .color-picker-selector + input {
  left: 0;
  top: -2px;
  padding-left: 40px;
  padding-right: 10px;
  width: 96%;
}

.activity-component-from-item .layui-input {
  width: 96%;
  padding-right: 10px;
}
.activity-component-from-item .content .layui-input {
  width: 100%;
}

.activity-component-from-item .content .dateTime {
  width: 345px;
  border: 1px solid #e6e6e6;
}
.activity-component-from-item .content .dateTime .layui-input {
  border: none
}

.activity-component-from-item .layui-tab-vertical .layui-input {
  width: 100%;
}

.colorpicker_submit {
  border: 1px solid #ffffff;
  padding: 0 9px;
  background-image: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  width: auto;
  left: auto;
  right: 12px;
  border-radius: 3px;
  height: 20px;
  cursor: pointer;
}

.color-picker-selector .transparent {
  text-align: center;
}

.color-picker-selector .transparent:after {
  content: '';
  display: block;
  margin-top: 4px;
  margin-left: 4px;
  width: 22px;
  height: 22px;
  background-image: url(../../geshop/library/colorpicker/images/transparent.png);
  background-repeat: no-repeat;
  background-position: center;
}

.layui-form-label.public-data {
  color: #409eff;
}

/* layui quote */
.layui-quote-danger {
  border-color: #FF5722;
}

.design-form .layui-elem-field.layui-field-title {
  margin: 10px 0;
}

.design-form-layout .layui-tab-content-parent {
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.design-form-component .layui-tab-content-parent {
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.design-form .layui-tab-content-parent .layui-show {
  height: 100%;
}

.layui-carousel,
.layui-carousel > [carousel-item] > * {
  background-color: #ffffff;
}

.layui-carousel,
.layui-carousel > [carousel-item] > div {
  overflow-y: auto;
}

.layui-tab-vertical {
  float: left;
  width: calc(100% - 2px);
  border: 1px solid #e6e6e6;
}

.layui-tab-vertical .layui-tab-title {
  float: left;
  border-bottom: 0;
  border-right: 1px solid #e6e6e6;
  width: 120px;
  height: 100%;
}

.activity-component-from-item .layui-tab-vertical .layui-tab-title {
  width: 100px;
}

.activity-component-from-item .layui-tab-vertical .layui-tab-title li {
  padding: 0;
}

.layui-tab-vertical .layui-tab-title li {
  display: block;
  border-bottom: 1px solid #e6e6e6;
}

.layui-tab-vertical .layui-tab-title .layui-this:after {
  left: auto;
  right: -1px;
  border: 0;
  border-right: 1px solid #ffffff;
}

.layui-tab-vertical .layui-tab-content {
  margin-left: -1px;
  float: left;
  border-left: 1px solid #e6e6e6;
  width: 270px;
}

.activity-component-from-item .layui-tab-vertical .layui-tab-content {
  width: 235px;
  padding: 10px 0;
}

/* gs form表单验证 */

.gs-form-valid .gs-required .layui-form-label,
.gs-form-valid .gs-required .gs-form-label {
  position: relative;
}

.gs-form-valid .gs-required .layui-form-label:before,
.gs-form-valid .gs-required .gs-form-label:before {
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}

#drag-move-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#drag-move-container>p {
  height: 50%;
}

#component_layout_add_position_tips {
  display: none;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: rgba(30, 159, 255, 0.2);
  color: #1E9FFF;
  overflow: hidden;
  clear: both;
  border: 1px solid rgba(30, 159, 255, 1);
  margin-top: 1px;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*form表单的公共样式*/
.geshop-alert {
  margin-top: 8px;
  width: 315px;
  border-radius: 4px;
  border: 1px solid #34A8FF;
  background: rgba(52, 168, 255, 0.2);
  color: #666666;
  font-size: 12px;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 18px;
}

.geshop-prompt {
  display: inline-block;
  font-size: 12px;
  color: #9E9E9E;
  margin-left: 4px;
}

.form-label-item {
  display: block;
  font-size: 14px;
  margin: 16px 0 5px 0;
  color: #333333;
}

.reset-add-resource {
  width: 80px;
  height: 36px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid rgba(230, 230, 230, 1);
  background: #fff;
}

.geshop-first-value {
  padding-left: 86px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.component-form-setting-item .geshop-first-value a {
  margin-left: -87px;
  width: 78px;
  height: 38px;
  display: inline-block;
  border: 1px solid rgba(230, 230, 230, 1);
  text-align: center;
  vertical-align: top;
  border-radius: 4px;
}

.component-form-setting-item .geshop-first-value input {
  display: inline-block;
  margin-left: -6px;
  height: 40px;
}

.geshop-second-value {
  margin-top: 5px;
  padding-left: 86px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.geshop-second-value span {
  display: inline-block;
  margin-left: -80px;
  font-size: 16px;
  color: #333333;
}

.geshop-second-value input {
  display: inline-block;
  margin-left: 12px;
}

.geshop-third-value {
  text-align: right;
  margin-top: 5px;
}

.element-ui-dialog-class {
  display: inline-block;
  width: 420px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  font-size: 18px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  text-align: left;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.element-ui-dialog-class .layui-layer-title {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1;
  color: #303133;
  background-color: #fff;
  position: relative;
  padding: 15px;
  padding-bottom: 10px;
  height: auto;
  border: none;
}

.element-ui-dialog-class .layui-layer-btn {
  padding-bottom: 10px !important;
}

.element-ui-dialog-class .layui-layer-btn a {
  width: auto !important;
  height: auto !important;
  padding: 9px 15px !important;
  line-height: 1 !important;
  font-size: 12px !important;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.element-ui-dialog-class .layui-layer-btn a:nth-child(2) {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.element-ui-dialog-class .layui-layer-btn a:nth-child(2):focus,
.element-ui-dialog-class .layui-layer-btn a:nth-child(2):hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}

.element-ui-dialog-class .layui-layer-btn a:nth-child(1):hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.element-ui-dialog-class .layui-layer-setwin {
  right: 14px;
  top: 16px;
}

.element-ui-dialog-class .layui-layer-content .layui-layer-ico {
  width: 24px;
  height: 24px;
  top: 10px;
  background-image: url(../../geshop/images/icon/element-dialog-icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1px;
}

.element-ui-dialog-class .layui-layer-setwin .layui-layer-close {
  width: 12px;
  height: 12px;
}

.element-ui-dialog-class .layui-layer-setwin,
.element-ui-dialog-class .layui-layer-close1 {
  background-size: contain;
}

/* jstree */
.jstree-default .jstree-leaf > .jstree-ocl {
  background-image: none;
}

.jstree-default .jstree-node {
  margin-left: -24px;
  padding-left: 48px;
  background-image: none;
}

.jstree-default>.jstree-container-ul > .jstree-node {
  line-height: 32px;
  font-size: 14px;
  color: #333333;
  padding-left: 0;
}

/* .jstree-default .jstree-node:hover, */
.jstree-default .jstree-node[aria-selected="true"] {
  background-color: #f4f4f4;
  color: #1E9FFF;
}

.jstree-default .jstree-node[aria-selected="true"]>ul {
  background-color: #ffffff;
  color: #333333;
}

.jstree-default .jstree-anchor {
  height: 32px;
  line-height: 32px;
}

.jstree-default .jstree-anchor:hover {
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.jstree-default .jstree-clicked {
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.jstree-default .jstree-icon:empty {
  display: inline-block;
  vertical-align: middle;
}

.jstree-default .jstree-closed > .jstree-ocl {
  background-image: none;
  line-height: 24px;
  text-align: center;
}

.jstree-default .jstree-closed > .jstree-ocl:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid #333333;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.jstree-default .jstree-open > .jstree-ocl {
  background-image: none;
  line-height: 24px;
  text-align: center;
}

.jstree-default .jstree-open > .jstree-ocl:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 5px solid #333333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.jstree-default .jstree-themeicon {
  background-image: url('../../geshop/images/icon/jstree-folder-icon.png');
  background-position: center;
}

/* form label */
.gs-label-block {
  margin: 0 0 5px 20px;
}

.gs-label-block.gs-label-blank {
  height: 0;
  display: block;
}

.gs-label-block + .layui-input-block,
.class-manage {
  margin-left: 20px
}
.gst-label-block{
  display: block;
}
.gst-label-block + .layui-input-block {
  margin-left: 0px
}
.pdl20 {
  padding-left: 20px;
}
.pdb50 {
  padding-bottom: 50px;
}

/* 添加页面样式弹窗样式 */
.page_style_option_bar {
  margin: 0px 20px 10px;
}

.page_style_option_bar button {
  margin: 0;
}

.page_style_option_bar .common-btn {
  width: 96px;
  height: 40px;
  border-radius: 0;
  border-top-left-radius: 4px;
  font-size: 16px;
}

.page_style_option_bar .add-btn {
  margin-left: -4px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #1E9FFF;
  font-size: 18px;
  border: 1px solid #E6E6E6;
  border-left: none;
  border-bottom: none;
  vertical-align: bottom;
}

.page-custom-settings-container {
  display: none;
}

.page-background-attachment {
  display: none;
}

.page_style_option_bar .layui-tab-item .layui-input-block {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.page_style_option_bar .layui-tab-title li {
  background-color: #fff;
  color: #333333;
  padding: 0 23px 0px 7px;
  max-width: 111px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  border: 1px solid #E6E6E6;
  margin-left: -1px;
}

.page_style_option_bar .layui-tab-title .layui-this:after {
  border: none;
}

.page_style_option_bar .layui-tab-title li.layui-this {
  background-color: #1E9FFF;
  color: #fff;
  border-color: #1E9FFF;
}

.page_style_option_bar .layui-tab-title li .layui-tab-close {
  font-size: 16px;
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -8px;
  width: 14px;
  height: 14px;
  line-height: 16px;
  color: #E6E6E6;
}

.page_style_option_bar .layui-tab-title li:first-child .layui-tab-close {
  display: none;
}

.page_style_option_bar .layui-tab-title li:first-child {
  border-top-left-radius: 4px;
}

.page_style_option_bar .layui-tab-title li .layui-tab-close:hover {
  background: none;
  color: #1E9FFF;
}

.page_style_option_bar .layui-tab-title li.layui-this .layui-tab-close:hover {
  background: none;
  color: #FFFFFF;
}

.page_style_option_bar .layui-tab-title .add-tab-btn {
  position: relative;
  background-color: #fff;
  color: #1E9FFF;
  font-size: 18px;
  border: 1px solid #E6E6E6;
  width: 42px;
  height: 42px;
  border-left: none;
  background-image: url(../../geshop/images/icon/design-add-icon-disabled.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-top-right-radius: 4px;
}

.page_style_option_bar .layui-tab-title .add-tab-btn .tips {
  display: inline-block;
  width: 88px;
  height: 31px;
  text-align: center;
  line-height: 31px;
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -44px;
  background-image: url(../../geshop/images/icon/design-add-tips-bg-icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 999;
  display: none;
}

.page_style_option_bar .layui-tab-title .add-tab-btn:hover .tips {
  display: block;
}

.page_style_option_bar .layui-tab-title .add-tab-btn:hover {
  background-image: url(../../geshop/images/icon/design-add-icon.png);
}

.page_style_option_bar .layui-tab-title .add-tab-btn.disabled {
  background-image: url(../../geshop/images/icon/design-add-icon-disabled.png);
}

.page-style-select-container .radio:first-child {
  margin-right: 10px;
}

.page-style-select-container .radio {
  cursor: pointer;
}

.page-style-select-container .icon-settings {
  display: inline-block;
  width: 22px;
  height: 28px;
  font-size: 22px;
  color: #c2c2c2;
  vertical-align: top;
  margin-right: 5px;
}

.page-style-select-container .icon-settings:hover {
  color: #1E9FFF;
}

.page-style-select-container .radio.active .icon-settings {
  color: #1E9FFF;
}

.page-stylesheet-list-container {
  padding: 0;
  margin: 0 20px;
  max-height: 540px;
}

.page-stylesheet-list-container .start-time,
.page-stylesheet-list-container .end-time {
  text-align: center;
}

.page-stylesheet-list-container .start-time::-ms-input-placeholder,
.page-stylesheet-list-container .end-time::-ms-input-placeholder {
  text-align: center;
}

.page-stylesheet-list-container .start-time::-webkit-input-placeholder,
.page-stylesheet-list-container .end-time::-webkit-input-placeholder {
  text-align: center;
}

.page-stylesheet-list-container .time-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -9px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../../geshop/images/icon/design-select-time-icon.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.page-stylesheet-list-container .time-split {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -9px;
}

.page-stylesheet-list-container .time-settings-tips {
  position: absolute;
  right: -245px;
  bottom: 0;
  font-size: 12px;
  color: #9E9E9E;
}

.layui-laydate .layui-this {
  background-color: #1E9FFF !important;
}

.layui-laydate-footer span:hover,
.layui-laydate-header i:hover,
.layui-laydate-header span:hover,
.layui-laydate-footer span[lay-type=date] {
  color: #1E9FFF !important;
}

.page-background-repeat,
.page-position-repeat {
  display: none;
}

.page-position-repeat .page-background-position {
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px solid #DBDBDB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../../geshop/images/icon/background-position-top-left.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.page-position-repeat .page-background-position:nth-child(2) {
  background-image: url(../../geshop/images/icon/background-position-top.png);
}

.page-position-repeat .page-background-position:nth-child(3) {
  background-image: url(../../geshop/images/icon/background-position-top-right.png);
}

.page-position-repeat .page-background-position:nth-child(4) {
  background-image: url(../../geshop/images/icon/background-position-left.png);
}

.page-position-repeat .page-background-position:nth-child(5) {
  background-image: url(../../geshop/images/icon/background-position-center.png);
}

.page-position-repeat .page-background-position:nth-child(6) {
  background-image: url(../../geshop/images/icon/background-position-right.png);
}

.page-position-repeat .page-background-position:nth-child(7) {
  background-image: url(../../geshop/images/icon/background-position-bottom-left.png);
}

.page-position-repeat .page-background-position:nth-child(8) {
  background-image: url(../../geshop/images/icon/background-position-bottom.png);
}

.page-position-repeat .page-background-position:nth-child(9) {
  background-image: url(../../geshop/images/icon/background-position-bottom-right.png);
}

.page-position-repeat .page-background-position.current {
  border-color: #1E9FFF;
}

.gs-default-clothes {
  width: 140px !important;
  height: 124px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}

.gs-default-view {
  width: 140px !important;
  height: 104px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}

.gs-default-clothes {
  width: 140px !important;
  height: 124px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}

.gs-default-view {
  width: 140px !important;
  height: 104px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}

.has-cloth-not {
  background-color: #EDEDED;
}

.layui-form-item .select-item {
  margin-left: 20px;
}

#js_moreConfig {
  margin-bottom: 20px;
}

/* 同步其他渠道 */
.channel-container {
  overflow: hidden;
}

.channel-container .swiper-wrapper {
  position: relative;
  left: 0;
  height: 40px;
  white-space: nowrap;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition: all .2s;
  -webkit-transition: all .2s;
  border: none;
}

.channel-container .swiper-wrapper li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  transition: all .2s;
  -webkit-transition: all .2s;
  position: relative;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.channel-container .swiper-wrapper li.layui-this {
  color: #1E9FFF !important;
}

.channel-container .swiper-wrapper li.layui-this:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 41px;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #fff;
  border-radius: 2px 2px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}

.channel-container .swiper-wrapper li.layui-this:after {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #1E9FFF;
}

.channel-container .swiper-button-next,
.swiper-button-prev {
  width: 10px;
  background-size: 100%;
  margin-top: -45px;
}

.channel-container .swiper-button-next {
  right: -30px;
}

.channel-container .swiper-button-prev {
  left: -10px;
}

.channel-container .layui-tab-content {
  border-top: 1px solid #e6e6e6;
}

@media screen and (max-width:1200px){
	.gs-option-wrap{
		width:70% !important;
	}
	.design-control-option{
		float:left;
	}
}

.view-page-dialog-wrap .view-link {
  margin-top: 10px;
}

.content .moreSetBtn{
  border: 1px solid #BDE3FF;padding: 5px;text-align: center;color: #1E9FFF; border-radius: 4px;background:#F4FAFF; cursor: pointer; margin-bottom: 50px;margin-top: 10px;
}
.content .shrink .tit{background:rgba(246,246,246,1);line-height: 40px;  padding: 0px 10px; cursor: pointer; }
.content .shrink .tit i{ float: right}
.content .shrink .cont{ padding: 10px; padding-top: 15px}

.zf_sync_activity_class .layui-form-label {
  float: none;
  width: 55px;
}
.template-list span.tpl-name {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: rgba(159,190,213,.3);
}
.component-form-setting-item .component-tmp-list .layui-icon-ok, .sidebar-template-list-container .template-list-item .layui-icon-ok {
  background-image: url(../../../resources/images/icon/template-selected-tick.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.layui-layer-setwin .layui-layer-min, .layui-layer-setwin .layui-layer-min cite, .site-header {
  display: none;
}

#app {
  z-index: -999;
}

body {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar-track-piece {
  background-color: none;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #6C727D;
  -webkit-border-radius: 4px;
  outline: #fff solid 2px;
}

::-webkit-scrollbar-thumb:hover {
  height: 30px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}

.design-form::-webkit-scrollbar {
  display: none;
}

.layui-layer-setwin .layui-layer-max,.layui-layer-setwin .layui-layer-max:hover {
  width: 24px;
  height: 24px;
  background-image: url(/frontend/geshop/images/icon/enlarge.png)!important;
  background-position: 0 0;
  background-size: cover;
  margin-top: -3px;
}

.layui-layer-setwin .layui-layer-ico.layui-layer-max.layui-layer-maxmin,.layui-layer-setwin .layui-layer-ico.layui-layer-max.layui-layer-maxmin:hover {
  background-image: url(/frontend/geshop/images/icon/zoom-out.png)!important;
  background-position: 0 0;
}

.layui-layer-dialog .layui-layer-content .layui-input-block {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 26px;
}

.layui-layer-page .layui-layer-content .layui-input-block {
  margin-left: 40px;
  margin-right: 40px;
}

.layui-layer-page .layui-layer-content .layui-form-radio > i {
  margin-right: 5px;
}

.layui-layer-dialog .layui-form-item {
  margin-bottom: 12px;
}

.layui-layer-page .layui-form-item {
  margin-bottom: 0;
}

.layui-layer-page .layui-layer-content .layui-form-title {
  min-height: 28px;
  line-height: 28px;
}

.layui-layer-dialog .layui-layer-content {
  padding-top: 10px;
  overflow-y: hidden;
}

.layui-layer-dialog .layui-layer-content .layui-form-radio,.layui-layer-page .layui-layer-content .layui-form-radio {
  margin: 0;
  padding-right: 18px;
}

.layui-layer-page .layui-layer-content .preview-img {
  margin-left: 24px;
  height: 300px;
  overflow: scroll;
}

.layui-layer-dialog .layui-layer-content .layui-form-radio > i {
  margin: 0;
  padding-right: 5px;
}

.layui-layer-dialog .layui-layer-btn,.layui-layer-page .layui-layer-btn {
  padding-bottom: 40px;
  padding-top: 20px;
}

.layui-layer-dialog .layui-layer-btn a,.layui-layer-page .layui-layer-btn a {
  width: 98px;
  height: 38px;
  line-height: 38px;
  margin: 5px 8px 0;
  padding: 0;
  text-align: center;
}

.layui-layer-msg .layui-layer-content {
  padding-bottom: 10px;
}

.design-control .layui-unselect.layui-form-select {
  width: 200px;
}

.design-control .layui-unselect.layui-form-select .layui-input.layui-unselect {
  height: 60px;
  border-top: none;
  border-bottom: none;
  border-color: #E6E6E6;
}

.design-control .layui-unselect.layui-form-select .layui-anim.layui-anim-upbit {
  top: 60px;
}

.layui-nav .layui-nav-more {
  right: 24px;
}

.layui-nav .layui-nav-item:hover {
  background-color: #34A8FF;
}

.layui-layer-btn .layui-layer-btn0 {
  border-color: #dedede;
  background-color: #fff;
  color: #333;
}

.layui-layer-btn .layui-layer-btn1 {
  border-color: #1E9FFF;
  background-color: #1E9FFF;
  color: #fff;
}

.layui-custom-tab {
    margin: 10px 40px;
}

.layui-custom-tab .layui-tab-content {
    padding: 10px 0;
}

.layui-custom-tab .layui-tab-title .layui-this {
    color: #333;
}

.layui-custom-tab .layui-input-re-block {
    margin: 0 !important;

}

.layui-column {
    float: left;
    display: none;
}

.hidden_row {
    opacity: 0;
    display: none;
    padding: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    .geshop-layout-waper-pc {
        padding: 0;
    }
    .geshop-layout-waper-wap {
        padding: 0;
    }
}

.geshop-layout-waper {
    padding: 10px;
}

.geshop-layout-L000057-box {
    padding: 0;
}

