
.component-form-setting-item {
  padding-bottom: 80px;
}
.design-form-component{

}
.advanced-config{
  margin-bottom: 80px;
}

.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.seckill{
  width: 100%;
  margin: 0 auto;
}

.warp-U000076 {
  overflow: hidden;
  /* compoment layout class list */


  .seckill-container{
    background: #fff;
  }
  .seckill-container .seckill-info{
    position: relative;
    width: 100%;
    background-color: #EDEDED;
    margin-right: 16px;
    text-align: center;
    display: table;
    padding-bottom: 0.42rem;
  }
  .seckill-container .seckill-info .seckill-desc{
    text-align: center;
    padding-top: 26px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    font-family:TrebuchetMS-Bold;
    font-size: 0.64rem;
  }
  .seckill-container .seckill-info .more{
    margin-top: 5px;
    margin-bottom: 37px;
  }
  .seckill-container .seckill-info .more a,.seckill-container .seckill-info .more span{
    font-size:14px;
    font-family:TrebuchetMS;
    color:rgba(51,51,51,1);
    line-height:16px;
    text-decoration: underline;
  }

  .seckill-container .si-info{
  }
  .seckill-container .seckill-info .copywriter{
    display: inline-block;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-right: 0.32rem;
    vertical-align: middle;
  }
  .seckill-container  .seckill-info .timer{
    display: inline-block;
    vertical-align: middle;
  }

  .seckill-container  .seckill-info .timer >span{
    width: 30px;
    height: 37px;
    display: inline-block;
    background-color: #333;
    text-align: center;
    line-height: 37px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
  }
  .seckill-container  .seckill-info .timer >i{
    font-style: normal;
    vertical-align: middle;
  }

  .seckill-container  .goods-list{
    position: relative;
    overflow: hidden;
  }
  .seckill-container  .goods-list ul li{
    padding: 0.26rem;
    margin-top: 0.26rem;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
  }
  .seckill-container  .goods-list ul li .soout{
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: normal;
    height: auto;
    font-size: 16px;
    bottom: 35px;
    top: auto;
    color: #ffffff;
    z-index: 2;
  }
  .seckill-container  .goods-list ul li .sod:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background:rgba(0,0,0,0.6);
    text-align: center;
    z-index: 2;

  }
  .seckill-container  .goods-list ul li .goods-left {
    position: relative;
    height: 3.54rem;
    width: 2.66rem;
    margin-right: 0.26rem;
    overflow: hidden;

  }
  .seckill-container  .goods-list ul li .goods-right {
    width: 6rem;
  }
  .seckill-container  .goods-list ul li .progress-title{
    text-align: left;
    margin-bottom: 0.16rem;
    margin-top: 0.16rem;
    height: 0.42rem;
    font-size: 0.32rem;
  }

  .seckill-container  .goods-list ul li .goods-title{
    height: 0.64rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
  }
  .seckill-container  .goods-list ul li .goods-price{
    margin: 0 0 10px 0;
  }
  .seckill-container .goods-list ul li .goods-price .goods-now-price{
    margin-right: 0.2rem;
    font-size: 0.48rem;
    font-weight: bold;
  }
  .seckill-container  .goods-list ul li .goods-original-price{
    text-decoration:line-through;
  }


  .seckill-container .goods-list ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  .seckill-container  .goods-list ul li .layui-progress{
    width: 6.53rem;
    margin-bottom: 0.32rem;

  }
  .seckill-container  .goods-list ul li .layui-progress-bar{
    background-color: #a6a6a6;
  }
  .seckill-container  .goods-list ul li .goods-img{
  }
  .seckill-container  .goods-list ul li .goods-img img{
    width: 2.66rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .seckill-container  .goods-list ul li .discount{
    position: absolute;
    z-index: 1;
    //border-radius: 50%;
    width: 0.9333333333333333rem;
    height: 0.9333333333333333rem;
    text-align: center;
    background:rgba(51,51,51,1);
    color: #fff;
  }
  .seckill-container  .goods-list ul li .discount .middle{
      line-height:.5rem;
    //padding: 17% 0;
    //line-height: 0.38rem;
  }
  .seckill-container  .goods-list ul li .discount p.percent{
    font-size: 0.32rem;

  }
  .seckill-container  .goods-list ul li .discount p.offtext{
    font-size: 0.29rem;
  }
  .seckill-container .goods-list ul li .buy-btn{
    width: 2.453333333333333rem;
    height: 0.7466666666666667rem;
    display: block;
    text-align: center;
    line-height: 0.7466666666666667rem;
    background-color: #333;
    font-size: 0.4266666666666667rem;
    border-radius:0.05333333333333334rem;
    color: #fff;
    margin-top: 0.21rem;
    border: solid 1px #333;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0.34rem;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .color-gray{
    color: #999;
  }
  .layui-row.item-gap .layui-input{
    width: 90%;
  }

  .geshop-progress { position: relative; height: 6px; border-radius: 20px; background-color: #ededed; }
  .geshop-progress-bar { position: absolute; left: 0; top: 0; width: 0; max-width: 100%; height: 6px; border-radius: 20px; text-align: right; transition: all .3s; -webkit-transition: all .3s; background-color: #a6a6a6; }

}
