<div class="layui-form-item">
    <label class="layui-form-label"><span class="desc"> （与竖直导航搭配时请控制商品在140个内）</span></label>
    <input type="hidden" name="isAsync" value="1">
</div>


<style>
    .tab-add-btn {
        float: right;
        margin:16px 0;
    }
</style>
