.geshop-component-box-U000083 .geshop-four-good-price { font-family: OpenSans-Bold; }
.geshop-component-box-U000083 .geshop-four-good-item .gs-img{height: 385px;}
.geshop-component-box-U000083 .geshop-four-good-item .gs-img img{ height:385px;}
