{{ include ('@app/files/parts/ui/U000230/default/area.twig') }}
{% if data.areas_pad == 0 %}
    {% set areas_pad = 0 %}
{% else %}
    {% set areas_pad = data.areas_pad | json_encode() %}
{% endif %}
<div class="area-box">
    <input type="hidden" name="areas_pad" data-val='{{ areas_pad }}'
           value='{{ areas_pad }}'
           data-src="{{ data.base_img_pad ?? '' }}"
           data-public-tag="true">
    {#<img src="https://geshoptest.s3.amazonaws.com/uploads/euU7IEx4mBTFWLyYGn3tj08VJ6Cq5krZ.jpg" alt="">#}
    <button class="btn btn-pad">绘制热区</button>

</div>
<script>
    /**/
    $('#U000230-modal1').on('click', '.btn.btn-pad', function () {
        var imgSrc = $("input[name='base_img_pad']").val();

        if (imgSrc == '') {
            layui.layer.msg('请先填写图片！');
            return false;
        }
        var img = $("input[name='areas_pad']").attr('data-src');
        if (img != imgSrc) {
            $("input[name='areas_pad']").val(0);
        }

        var opts = {
            bgImg: imgSrc,
            areas: $("input[name='areas_pad']").val() || 0,
            callback: function (data) {
                if (parseInt(data) == 0) {
                    $("input[name='areas_pad']").val(0);
                } else {
                    $("input[name='areas_pad']").val(JSON.stringify(data));
                }

            }
        };
        new HotArea(opts);
        $("input[name='areas_pad']").attr('data-src', imgSrc);
    });
</script>

