.color-gray {
  color: #999;
}
.layui-block{
  border-radius:4px;
  border:1px solid rgba(230,230,230,1);
  padding: 16px;
 
}
.img-item {margin-bottom: 16px;}
.add-class{
  display: none;
}
.img-item:last-child .geshop-third-value .add-class{
  display: inline-block;
}
.img-title{
  margin-bottom: 5px;
}