.wrap-U000120_default2 {
	overflow: hidden
}
.wrap-U000120_default2 .clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both
}
.wrap-U000120_default2 .g-w990 {
	width: 990px
}
.wrap-U000120_default2 .text-center {
	text-align: center
}
.wrap-U000120_default2 .geshop-component-box {
	overflow: hidden
}
.wrap-U000120_default2 .geshop-panel {
	display: block;
	text-align: center;
	font-weight: bold
}
.wrap-U000120_default2 .gs-goodsWrap {
	margin: 0 auto
}
.wrap-U000120_default2 .gs-goodsWrap ul {
	font-size: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto
}
.wrap-U000120_default2 .gs-goodsWrap:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both
}
.wrap-U000120_default2 .gs-goodsWrap li {
	font-size: 12px;
	position: relative;
	float: left;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none
}
.wrap-U000120_default2 .layui-form-label {
	white-space: nowrap
}
.wrap-U000120_default2 .component-self-goodBox {
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 10px;
}
.wrap-U000120_default2 .discont-curtoff {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 38px;
	padding-top: 2px;
	color: #ffffff;
	background-size: contain;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 50%
}
.wrap-U000120_default2 .discont-curtoff strong {
	font-size: 12px;
	font-weight: 700;
	display: inline-block
}
.wrap-U000120_default2 .item-name {
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	padding: 10px 0 0;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all
}
.wrap-U000120_default2 .item-price {
	padding: 0;
	margin: 0;
	white-space: nowrap
}
.wrap-U000120_default2 .shop-price {
	margin-right: 10px;
	font-size: 22px;
}
.wrap-U000120_default2 .gs-btn-area {
	margin-bottom: 10px
}
.wrap-U000120_default2 .gs-btn-area a:hover {
	opacity: .8
}
.wrap-U000120_default2 .gs-desc {
	text-align: left;
    padding: 12px;
    padding-bottom: 0px;
}
.wrap-U000120_default2 .gs-desc a {
	font-size: 14px;
	color: #333;
	text-align: center
}
.wrap-U000120_default2 .market-price {
	font-size: 13px;
	color: #999999;
	vertical-align: middle;
	display: inline-block;
}



.wrap-U000120_default2 .gs-img {
	position: relative;
}

.wrap-U000120_default2 {

	.gs-img:hover {
		.gs-add-bag {
			display: block;
			&:hover {
				opacity: 1;
			}
		}

	}

}
.wrap-U000120_default2 .gs-img .gs-add-bag {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 12px;
	color: #333333;
	width: 180px;
	margin-left: -90px;
	margin-top: - 19px;
	padding: 10px 15px;
	text-align: center;
	display: none;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}
.wrap-U000120_default2 .gs-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	text-decoration: none
}
.wrap-U000120_default2 .btn-primary {
	color: #fff;
	padding: 0;
	width: 80%;
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-all
}
.wrap-U000120_default2 .btn-middle {
	border-radius: 20px;
	padding: 6px 20px
}
.wrap-U000120_default2 .promotion-time-inner {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333333;
	margin-left: -20px;
	margin-bottom: 10px;
	display: block
}
.wrap-U000120_default2 .promotion-time-inner .icon-clock-black {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	background-image: url(../../../resources/images/view/icon-block-black.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-position: 0 0
}
.wrap-U000120_default2 .gs-curtoff-wrap {
	position: relative;
	width: 100%;
	height: 100%
}
.wrap-U000120_default2 .discont-curtoff strong {
	font-size: 18px
}
.wrap-U000120_default2 .discont-curtoff .curtoff-box {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 50%;
	font-size: 12px
}
.wrap-U000120_default2 .buyLink {
	background-color: #999 !important;
	color: #fff !important;
	pointer-events: none;
	cursor: default
}

.wrap-U000120_default2 .geshop-tabs>li {
	height: 68px;
	line-height: 68px;
	float: left
}
.wrap-U000120_default2 .geshop-tabs>li>div {
	padding-left: 32px
}
.wrap-U000120_default2 .geshop-tabs>li.active {
	color: #fff
}
.wrap-U000120_default2 .list-tab-item {
	float: left;
	width: 50%
}
.wrap-U000120_default2 .tab-title {
	font-size: 16px;
	color: #333;
	line-height: 22px;
	margin-bottom: 10px;
	padding-left: 20px
}
.wrap-U000120_default2 .mr-10 {
	margin-right: 10px
}

.wrap-U000120_default2 .swiper-container {
	width: 1200px;
	margin: 0 auto
}
.wrap-U000120_default2 .swiper-slide {
	
	text-align: center;
	font-size: 18px;
	
	align-items: center
}
.wrap-U000120_default2 .swiper-button-next,
.wrap-U000120_default2 .swiper-button-prev {
	background-color: #EDEDED;
	top: 22px !important;
	width: 40px !important
}
.wrap-U000120_default2 .swiper-button-next {
	right: 0 !important
}
.wrap-U000120_default2 .swiper-button-prev {
	left: 0 !important
}
.wrap-U000120_default2 .swiper-slide-item {
	padding-left: 72px;
	cursor: pointer;
	width: 100%;
	text-align: left !important
}
.wrap-U000120_default2 .swiper-button-next,
.wrap-U000120_default2 .swiper-button-prev {
	background-image: none !important
}
.wrap-U000120_default2 .left-arrow {
	margin-left: 18px;
	width: 16px;
	height: 16px;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	transform: rotate(45deg)
}
.wrap-U000120_default2 .right-arrow {
	margin-left: 5px;
	width: 16px;
	height: 16px;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	transform: rotate(45deg)
}
.wrap-U000120_default2 .errorborser {
	outline: 1px solid red
}
.wrap-U000120_default2 {
    .mask-layer  {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .goodStatus {
            width: 160px;
            height: 160px;
            color: #ffffff;
            font-size: 24px;
            font-weight: 600;
            background-color:rgba(0,0,0,0.4);
            border-radius: 160px;
            display: table;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            position: absolute;
            left: 50%;
            margin-left: -80px;
            top: 28%;
            visibility: visible;
            line-height: 36px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    
}

.wrap-U000120_default2 {
    .geshop-progress-bar {
        margin-top: 8px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 4px;
        width:200px;
        height:8px;
        border-radius:4px;
        > div {
            width: 150px;
            height: 8px;
            border-radius:4px;
        }
    }

    .item-clamid {
        font-size:14px;
        width:200px;
        height:19px;
        padding-left: 12px;
        color:#333333;
        text-align: left;
        padding-bottom: 24px;
    }

    .shop-price {
        span {
            width:67px;
            height:31px;
            font-size:  22px;
            line-height:31px;
        }
    }
    .market-price {
        span {
            color:#999999;
        
            font-size: 14px;
            width:51px;
            height:21px;
            line-height:21px;
        }
    }
}



.gs-model-120 {
	position: relative;
	padding: 50px 40px;
	box-sizing: border-box
}

.gs-model-120 .free {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	color: #FFFFFF;
	font-size: 16px;
	overflow: hidden;
	text-align: center
}

.gs-model-120 .free-text {
	background: #FF8A00;
	height: 30px;
    line-height: 30px;
    transform: rotateZ(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-left:-60px;
}

.gs-model-120 .model-main {
	min-height: 314px
}

.gs-model-120 .model-left {
	float: left;
	width: 236px;
	height: 314px
}

.gs-model-120 .model-left img {
	width: 100%;
	height: 100%
}

.gs-model-120 .model-right {
	float: right;
	width: 376px;
	height: 314px
}

.gs-model-120 .model-right .goods-title {
	font-size: 18px;
	font-family: TrebuchetMS;
	color: #333;
	margin-bottom: 6px;
	height: 48px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}

.gs-model-120 .item-price {
	height: 40px
}

.gs-model-120 .shop-price strong {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	color: #ea5455
}

.gs-model-120 .market-price del {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #999;
	margin-left: 16px
}

.gs-model-120 .size-item,.gs-model-120 .color-item {
	float: left;
	background: #fff;
	border: 1px solid #ddd;
	color: #666;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box
}

.gs-model-120 .color-item {
	box-sizing: border-box;
	padding: 5px
}

.gs-model-120 .color-item span {
	display: block;
	width: 100%;
	height: 100%;
	background-color: red
}

.gs-model-120 .add-bag {
	margin-top: 12px;
	width: 160px;
	height: 50px;
	line-height: 50px;
	background: #ea5455;
	text-align: center;
	font-size: 16px;
	font-family: TrebuchetMS-Bold;
	font-weight: bold;
	color: #fff;
	cursor: pointer
}

.gs-model-120 .selected-color,.gs-model-120 .size-color {
	width: 40px;
	height: 40px;
	border: 2px solid #EA5455
}

.gs-add-fail .add-fail {
	height: 140px;
	line-height: 140px;
	font-size: 16px;
	color: #333;
	text-align: center
}

.gs-add-fail .layui-layer-title {
	background-color: #FFFFFF !important;
	border-bottom: 0 !important;
	font-size: 18px;
	color: #333333
}

.gs-add-fail .layui-layer-btn {
	text-align: center !important;
	margin-bottom: 40px
}

.gs-add-fail .layui-layer-btn a {
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	font-size: 14px;
	font-family: PingFangSC-Regular;
	font-weight: 400
}

.layui-layer-shade {
	background-color: #777777 !important
}

.gs-add-goods {
	border: 10px solid rgba(0,0,0,0.3);
	border-radius: 5px
}

.gs-add-goods .layui-layer-close {
	background-color: #FFFFFF !important;
	text-align: center;
	border-radius: 50%;
	color: #FFFFFF;
	padding: 3px;
	transform: rotateZ(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	box-sizing: border-box
}

.gs-add-goods .layui-layer-close span {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #777777;
	font-size: 30px;
	line-height: 24px
}

.gs-add-goods .layui-layer-close:hover span {
	background-color: #333333
}

