.wrap-U000110_discountList .geshop-component-box {
	overflow:hidden;
	width:100%;
	height:100%;
}
.wrap-U000110_discountList .gs-banner {
	width:100%;
	background-color:#EDEDED;
	position:relative;
}
.wrap-U000110_discountList .gs-banner .gs-bgc-pic {
	width:100%;
}
.wrap-U000110_discountList .geshop-content .gs-tab-wrap {
	width:100%;
}
.wrap-U000110_discountList .geshop-content .gs-tab-wrap .gs-tab-box {
}
.wrap-U000110_hotSaleList .geshop-content .fixGsTab .gs-tab-box{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 999;
  }

.wrap-U000110_discountList .gs-tab-wrap .swiper-container {
    display: block;
		overflow: hidden;
    .swiper-slide {
			position: relative;
        width:30%;
        text-align:center;

        a {
            width:0.8rem;
            height:0.8rem;
            display:block;
            position:absolute;
            left: 50%;
						top: 0;
						margin-left: -0.4rem;

            img {
                display: block;
                width:100%;
                &:last-child {
                    display: none;
                }
            }
        }

        &.current {
            background-color:#B8BEC4;

            a img:last-child {
                display: block;
            }
            a img:first-child {
                display: none;
            }
				}
				span{
					line-height: 40px;
				}
    }
}






.wrap-U000110_discountList .gs-tab-wrap .swiper-slide a img {

}
.wrap-U000110_discountList .gs-tab-content .goods-item {
	height:3.548rem;
	background-color:#FFFFFF;
	margin-bottom:10px;
	/*padding-top:0.266rem;
	padding-bottom:0.266rem;*/
	/*padding-left:0.32rem;*/
	position:relative;
	overflow: hidden;
}
.wrap-U000110_discountList .gs-tab-content .goods-item .component-self-goodBox {
	height:100%;

}
.wrap-U000110_discountList .component-self-goodBox .component-self-goodWrap {
	height:100%;

}
.wrap-U000110_discountList .gs-tab-content .gs-img {
	float:left;
	width:2.667rem;
	height: 100%;
	box-sizing: border-box;
	padding: .32rem;
	/*margin-top: -0.266rem;*/

}
.wrap-U000110_discountList .gs-tab-content .gs-img  img {
	width:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrap-U000110_discountList .gs-tab-content .gs-img  a {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.wrap-U000110_discountList .gs-tab-content .gs-goods-info {
	float:left;
	margin-left:0.2133rem;
}
.wrap-U000110_discountList .gs-goods-info .gs-desc {
	width:6.48rem !important;
	padding:0.266rem 0;
	box-sizing: border-box;
}
.wrap-U000110_discountList .gs-goods-info .gs-desc .product-desc {
	width:100%;
	height:20px;
	font-size:14px;
	line-height:20px;
	display:block;
	color:#333333;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.wrap-U000110_discountList .gs-goods-info .item-price {
	margin-top:8px;
	position:relative;
}
.wrap-U000110_discountList .gs-tab-content .gs-goods-info .sale-discount {
	width:103px !important;
	height:28px;
	line-height:28px;
	background-color:#B8BEC4;
	text-align:center;
	border-radius:14px;
	color:#FFFFFF;
	font-size:14px;
	font-weight:600;
}
.wrap-U000110_discountList .gs-tab-content .gs-goods-info .shop-price {
	margin-top:14px;
	height:25px;
	font-weight:500;
	color:#333333;
	line-height:25px;
	font-weight:700;
}
.wrap-U000110_discountList .gs-tab-content .gs-goods-info .market-price {
	height:17px;
	font-size:12px;
	font-family:PingFangSC-Light;
	font-weight:300;
	color:#999999;
	line-height:17px;
}
.wrap-U000110_discountList .gs-tab-content .gs-goods-info .to-detail-link {
	position:absolute;
	display:block;
	right:0.32rem;
    bottom:0.533rem;
    background-color:black;

    img {
        width:0.6533rem;
        height:0.6533rem;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}

.wrap-U000110_discountList .gs-default-clothes {
	width:1.44rem !important;
	height:1.28rem !important;

}
.wrap-U000110_discountList .gs-default-view {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.wrap-U000110_discountList .ranking-icon {
	position:absolute;
	left: .33rem;
	top: .33rem;
    text-align:center;
    img {
        display: block;
        width: 100%;
    }
    i {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
}
.wrap-U000110_discountList .swiper-container {
	height:100%;
}
.wrap-U000110_discountList #goodsNum {
	height:0.96rem;
	padding:0.64rem 0rem;
	background-color:#EDEDED;
}
.wrap-U000110_discountList #goodsNum .layui-laypage {
	height:100%;
	position:relative;
	margin:0 0;
}
.wrap-U000110_discountList #goodsNum .layui-laypage-spr {
	display:none !important;
}
.wrap-U000110_discountList #goodsNum .layui-laypage-prev {
	width:36px !important;
	height:36px !important;
	border-radius:18px !important;
	padding:0px 0px;
	background-color:#FFFFFF !important;
	display:block;
	position:absolute;
	left:128px;
}
.wrap-U000110_discountList #goodsNum .prev-page,.wrap-U000110_discountList #goodsNum .next-page {
	}.wrap-U000110_discountList #goodsNum .layui-laypage-next {
	position:absolute;
	width:36px !important;
	height:36px !important;
	border-radius:18px !important;
	padding:0px 0px;
	background-color:#FFFFFF !important;
	display:block;
	left:212px;
	top:0;
}


.wrap-U000110_discountList #goodsNum {
    .prev-page, .next-page {
        margin-top: 12px;
        margin-left: 14px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
    }
    .prev-page {
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
    }
    .next-page {
        margin-left: 10px;
        border-top: 1px solid #333333;
        border-right: 1px solid #333333;
    }
}





.wrap-U000110_discountList .swiper-container {
	display:inline;
}


.wrap-U000110_discountList .layui-pager {
	height: 0.96rem;
	padding: 0.111rem 0rem 0.377rem 0rem;
	box-sizing:content-box;
  }
  .wrap-U000110_discountList .layui-pager .layui-laypage {
	height: 100%;
	position: relative;
	margin: 0 0;
  }
  .wrap-U000110_discountList .layui-pager .layui-laypage-spr {
	display: none !important;
  }
  .wrap-U000110_discountList .layui-pager .layui-laypage-prev {
	width: 0.96rem !important;
	height: 0.96rem !important;
	border-radius: 0.48rem !important;
	padding: 0px 0px;
	background-color: #FFFFFF !important;
	display: block;
	position: absolute;
	left: 0px;
  }
  .wrap-U000110_discountList .layui-pager .layui-laypage-next {
	position: absolute;
	width: 0.96rem !important;
	height: 0.96rem !important;
	border-radius: 0.48rem !important;
	padding: 0px 0px;
	background-color: #FFFFFF !important;
	display: block;
	left: 5.6533rem;
	top: 0;
  }
  .wrap-U000110_discountList .layui-pager .prev-page,
  .wrap-U000110_discountList .layui-pager .next-page {
	margin-top: 0.32rem;
	margin-left: 0.3733rem;
	width: 0.266rem;
	height: 0.266rem;
	transform: rotate(45deg);
  }
  .wrap-U000110_hU000110_discountListotSaleList .layui-pager .prev-page {
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
  }
  .wrap-U000110_discountList .layui-pager .next-page {
	margin-left: 0.266rem;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
  }
