[data-gid="U000176_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  // view 按钮  
  .view-more {
    text-align: center;
    position: relative;
    margin: 0.37333rem 0;
    .view-more-btn {
      display: inline-block;
      margin: 0 auto;
      padding: 0 0.26667rem;
      i{
        font-size: 0.34667rem;
        margin-left: 0.266rem;
      }
    }
    .view-all-btn{
      position: absolute;
      right:0;
      top: 0.02666rem;
    }
  }
  

  @import '../../../temp/gb/css/index_default_m.less';
}
