[data-gid="U000199_model1_v1"]{
    .geshop-image-wrapper {
        text-align: center;
        a{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 0;
        }
        .geshop-components-default-image-goods {
            display: block;

            span {
                display: inline-block;
            }

            img {
                max-width: 100%;
                width: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}
