[data-key="U000166"] {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    // 组件header
    .geshop-BP-header {
        color: #000000;
        background: #ededed;
        line-height: 100px;
        text-align: center;
        height: 100px;
        font-size: 40px;
        // background-position: center center;
        // background-size: cover;
    }

    // 组件-产品列表区域
    .geshop-BP-good-list {
        padding-top: 20 / 75rem;
        padding-bottom: 20 / 75rem;
        > ul {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 0px;
            overflow: hidden;

            > li {
                float: left;
                display: block;
                width: 50%;
                box-sizing: border-box;
                overflow: hidden;
                margin-bottom: 20 / 75rem;
                &:nth-child(odd) {
                    padding-right: 10 / 75rem;
                }
                &:nth-child(even) {
                    padding-left: 10 / 75rem;
                }
            }
        }
    } // end 产品列表区域

    // JS 渲染模版
    .geshop-BP-good-template {
        display: none;
    } // end

    // 组件－查看更多
    .geshop-BP-viewmore {
        text-align: center;
        padding-bottom: 30px;
        a {
            min-width: 320 / 75rem;
            display: inline-block;
            height: 80 / 75rem;
            line-height: (80 - 2) / 75rem;
            border: solid 1px #333;
            text-align: center;
            color: #333;
            font-weight: 600;
            box-sizing: border-box;
            padding: 0 28 / 75rem;
        }
    } // end

    // 单个产品的样式
    div.BP-goods-block {
        display: block;
        background: #fff;

        // 图片
        .BP-goods-img {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 133.3333333333333%;
            overflow: hidden;
            img {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
            }
        }

        // 产品名字
        .BP-goods-title {
            display: block;
            height: 38 / 75rem;
            line-height: 38 / 75rem;
            font-size: 28 / 75rem;
            color: #333;
            margin-top: 20 / 75rem;
            margin-bottom: 16 / 75rem;
            overflow: hidden;
            padding: 0px 20 / 75rem;
            a {
                display: block;
                height: 100%;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        // 产品价格和积分
        .BP-goods-price {
            font-size: 28 / 75rem;
            font-weight: bold;
            height: 38 / 75rem;
            line-height: 38 / 75rem;
            vertical-align: middle;
            padding: 0px 20 / 75rem;
            font-weight: bold;
            > * {
                vertical-align: middle;
            }
            // 积分icon
            .BP-goods-icon {
                display: inline-block;
                width: 32 / 75rem;
                height: 32 / 75rem;
                overflow: hidden;
                vertical-align: middle;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        } // end

        // 其他信息
        .BP-goods-other {
            margin-top: 5px;
            height: 38 / 75rem;
            font-size: 24 / 75rem;
            line-height: 38 / 75rem;
            padding: 0px 20 / 75rem;
            color: #999;
            span {
                font-size: 24 / 75rem;
                text-align: center;
                float: right;
                min-width: 64 / 75rem;
                height: 36 / 75rem;
                line-height: 36 / 75rem;
                background: #d8d8d8;
                color: #666;
                border-radius: 36 / 75rem;
                padding: 0 10 / 75rem;
                box-sizing: border-box;
                text-transform: uppercase;
            }
        } //  end

        // 兑换按钮
        .BP-goods-buynow {
            padding: 32 / 75rem 0px;
            padding-left: 20 / 75rem;
            button, a {
                display: block;
                width: 306 / 75rem;
                height: 64 / 75rem;
                line-height: 64 / 75rem;
                background: #333;
                color: #fff;
                text-align: center;
                border: none;
                font-size: 28 / 75rem;
                border-radius: 64 / 75rem;
            }
        }
    } // end 产品列表
    
}
