<div class="geshop-component-box component-drag geshop-u000189-model1 geshop-u000189-model1-{{ pageInstanceId }}" data-key="U000189" data-id="{{ pageInstanceId }}">
    {{ include('style.twig') }}
    <div class="geshop-containr ">
        <div class="swiper-container geshop-navswiper">
            <div class="swiper-wrapper" data-cats="{{ data.type_arr }}">
                <div class="swiper-slide active" style="border-bottom-color: #333">
                  <span >nav1</span>
                </div>
                <div class="swiper-slide">
                    <span >nav2</span>
                </div>
                <div class="swiper-slide">
                    <span >nav3</span>
                </div>
                <div class="swiper-slide">
                    <span >nav4</span>
                </div>
                <div class="swiper-slide">
                    <span >nav5</span>
                </div>
                <div class="swiper-slide">
                    <span >nav6</span>
                </div>
                <div class="swiper-slide">
                    <span >nav7</span>
                </div>
                <div class="swiper-slide">
                    <span >nav8</span>
                </div>
            </div>
        </div>
        <!-- Swiper -->
        <div class="swiper-container2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                   <div class="d-grid">
                       <div class="d-grid-item " style="height: 220px">
                           <img class="js-geshopImg-lazyload" src="https://geshopimg.logsss.com/uploads/fb4WJHk2lcCPOaxiFsNBeozy9R3hEGuT.png" alt="">
                       </div>
                   </div>
                   <div class="d-grid" >
                       <div class="d-grid-item " style="margin-left: 0.13rem;height: 190px">
                           <img class="js-geshopImg-lazyload" src="https://geshopimg.logsss.com/uploads/fb4WJHk2lcCPOaxiFsNBeozy9R3hEGuT.png" alt="" >
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>