




// 如果要开启骨架图预览 ============
.is-preloading .geshop-loading-banner,
.is-preloading .geshop-loading-block {
    display: block;
}
.is-preloading > .geshop-loading-real {
    display: none; 
}


// 默认站位图类型的 ============

.geshop-loading-block {
    display: none;
    position: relative;
    height: 200px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #F2F2F2;
    margin-bottom: 16px;
}

.geshop-loading-banner {
    display: none;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #F2F2F2;
    margin-bottom: 16px;
    img {
        display: block;
        width: 100%;
    }
}

