[data-gid="U000094_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  @import '../../../temp/gb/css/index_default_m.less';
  .good_soldOut {
    .gs-goods-status {
      display: block;
    }
  }
  .js-addCart {
    pointer-events: inherit !important;
    cursor: pointer !important;
  }

}
