[data-gid="U000158_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .gs-list-item--m {
    transition: all 0.4s;
    opacity: 1;
  }
  .view-more {
    padding: 0.37333rem 0;
    text-align: center;
    .view-more-btn {
      display: inline-block;
      margin: 0 auto;
      line-height: 0.72rem;
      padding: 0 0.26667rem;
      border-radius: 2px;
      border: 1px solid rgba(153, 153, 153, 1);
      span {
        vertical-align: middle;
        margin-right: 0.186667rem;
      }
      i {
        font-size: 0.34667rem;
        vertical-align: middle;
      }
    }
  }
  @import "../../../temp/gb/css/index_default_m.less";
}
