.geshop-component-body {
    //padding: 22px 8px 0;
    padding: 16px 8px 0;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    .goods_list_wrap li{
        width: 280px;
        margin: 0 8px 16px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        display: inline-block;
    }
    .list_item {
    }
    .hide{
        display:none;
    }

    .item_image {
        width: 100%;
        height: 371px;
        overflow: hidden;
        position: relative;

        &:hover {
            .item_quick_view {
                transform: translateY(0);
                opacity: 0.8;
                display: block;
            }
        }
    }

    .item_content {
        padding: 12px 16px 16px 12px;
    }

    // 快速购买
    .item_quick_view {
        cursor: pointer;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        bottom: 100px;
        font-size: 16px;
        width: 200px;
        height: 40px;
        color: #333333;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 2px;
        border: 1px solid rgba(221, 221, 221, 1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        line-height: 40px;
        transition: all .15s linear;
        transform: translateY(10px);
        opacity: 0;
        box-sizing: border-box;

        &:hover {
            background: rgba(255, 255, 255, 1);
            opacity: 1 !important;
        }
    }

    // 同款
    .item_same_wrap {
        height: 24px;

        ul li {
            width: 24px;
            height: 24px;
            overflow: hidden;
            border: 1px solid #DDDDDD;
            border-radius: 0px !important;
            margin: 0 8px 0 0;
            cursor: pointer;
            text-align: center;
            float: left;

            &:nth-of-type(4n) {
                margin-right: 10px;
            }

            &.is_same {
                border: 1px solid #EA5455 !important;
            }
        }

        ul li img {
            height: 100%;
        }

        .ellipsis {
            text-align: center;
            color: #666666;
            font-size: 18px;
            line-height: 12px;
            border: none;
        }

        .same_list a {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(https://geshopimg.logsss.com/uploads/g1T6s5SCnxvzKq2NdLOpjJkw8mrYoQeb.png);
            background-size: 100% 100%;
        }
    }

    // 满减促销
    .item_marketing_info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 30px;
        background-color: rgba(255, 255, 255, .8);
        z-index: 1;
        overflow: hidden;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
    }

    .item_title {
        margin-top: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;

        & a {
            color: #222222;
        }
    }
    .item_price{
        margin: 4px 0 12px;
    }
    .item_price .item_shop {
        margin-right: 8px;
    }

    .item_price .item_market  {
        vertical-align: middle;
    }

    .inline-block {
        display: inline-block;
    }
    .item_more_less{
        text-align: center;
    }
}
