{# 调用VUE模式 #}
{#
<div class="U000233-model1-placeholder" id="U000233-model1-placeholder-{{ pageInstanceId }}">
    <img src="https://geshopcss.logsss.com/imagecache/geshop-test/resources/sites/rg-pc/images/goods_default.gif" alt="">
</div>
#}
{%
    include '@app/files/parts/components/default/m/index_for_vue.twig' with {
        key: 'U000086',
        theme: 'model7',
        style: 'true'
    }
%}

