@font-face {
    font-family:'OpenSans-Regular';
    src:url('/temp/skin_wap/dist/fonts/OpenSans-Regular.eot');
    src:url('/temp/skin_wap/dist/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Regular.woff') format('woff'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Regular.svg') format('svg'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'OpenSans-Bold';
    src:url('/temp/skin_wap/dist/fonts/OpenSans-Bold.eot');
    src:url('/temp/skin_wap/dist/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Bold.woff') format('woff'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Bold.svg') format('svg'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'OpenSans-Semibold';
    src:url('/temp/skin_wap/dist/fonts/OpenSans-Semibold.eot');
    src:url('/temp/skin_wap/dist/fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Semibold.woff') format('woff'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Semibold.ttf') format('truetype'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Semibold.svg') format('svg'),
        url('/temp/skin_wap/dist/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'BEAUE1';
    src:url('/temp/skin_wap/dist/fonts/BEAUE1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}