.geshop-U000204-default {
    overflow: hidden;
    .coupon-container{
      background-size: 100% 100%;
      .coupon-top-info{
        white-space: nowrap;
        >div{
          display: inline-block;
          vertical-align: middle;
        }
        .ct-center{
          margin: 0 10px;
        }
      }
      .btn-copy{
        text-align: center;
        margin: 0 auto;
        border-radius:24px;
        cursor: pointer;
      }
    }
}


@media screen and (max-width: 767px){
  .geshop-U000204-default {
    .coupon-container{
      .coupon-top-info{
        .ct-center{
          margin: 0 4px;
        }
      }
    }
}
}