<div data-key="U000144" data-theme="default" data-id="{{ pageInstanceId }}" data-static-domain="{{staticDomain}}" data-gid="U000144" class="geshop-component-box component-drag warp-{{ pageInstanceId }}" style=" display: block; margin-bottom:{{data.marginBottom|default(32)}}px; min-height:64px;">
	{% include 'edit.twig' with{"data":data} %}
</div>
