.geshop-U000087-model7 {
  line-height: normal;
  font-size: 0;

  .U000087-model7-wrap {
    text-align: center;

    .coupon7_body {
      text-align: left;
      display: inline-block;
      font-size: 0;
      height: 236/ 75rem;
      width: 702 / 75rem;
      background-size: 100% 100%;
      overflow: hidden;


      > li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 24 / 75rem;
        height: 100%;

        &.coupon_left {
          width: 152 / 75rem;

          .coupon_dis_num {
            text-align: center;
            height: 100%;

            .dis_hd {
              display: inline-block;
              font-family: OpenSans-Semibold;
              position: relative;
              top: 50%;
              transform: translateY(-50%);


              > span {
                position: absolute;
                right: 100%;
                top: 0;
                line-height: 24 / 75rem;

                &.c_icon_right {
                  left: 100%;
                }
              }
            }
          }

        }

        &.coupon_center {
          width: 350 / 75rem;
          box-sizing: border-box;
          padding: 0 24 / 75rem;
          text-align: left;

          .center_tit_hd {
            font-size: 24 / 75rem;
            min-height: 64 / 75rem;
            line-height: 32 / 75rem;
            margin-top: 30 / 75rem;
            font-family: OpenSans-Semibold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .center_tit_bd {
            font-size: 36 / 75rem;
            font-family: OpenSans-Semibold;
            line-height: 36 / 75rem;
            margin-top: 8 / 75rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

          }

          .time_pla_info {
            font-size: 24 / 75rem;
            margin-top: 8 / 75rem;

            > li {
              position: relative;
              padding-left: 8 / 75rem;
              line-height: 32 / 75rem;

              &:before {
                content: '';
                width: 4 / 75rem;
                height: 4 / 75rem;
                position: absolute;
                background-color: currentColor;
                border-radius: 100%;
                left: 0;
                top: 50%;
                margin-top: -2 / 75rem;
              }
            }
          }
        }

        &.coupon_right {
          width: 200 / 75rem;

          &.max {
            .btn-group {
              width: 90%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }

            &.off {
              .btn-group {
                position: relative;
                left: auto;
                top: 50%;
                transform: translate(0, -50%);
              }
            }
          }

          .percent-range {
            display: block;
            margin: 25 / 75rem auto 16 / 75rem;
          }

          .use_now_box {
            text-align: center;

            .coupon_code {
              font-size: 22 /75rem;
              //font-family: OpenSans-Semibold;
              line-height: 33 /75rem;
              margin-top: 52 /75rem;
            }

            .coupon_code_desc {
              font-size: 20 /75rem;
              //font-family: OpenSans-Semibold;
              line-height: 30 /75rem;
              margin-top: 4 /75rem;
              margin-bottom: 42 /75rem;
            }
          }
        }

        .btn_coupons_none, .btn_user_none {
          font-size: 22 / 75rem;
          line-height: 22 / 75rem;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .btn-group {
          cursor: pointer;
          display: block;
          text-align: center;
          //background-color: #333333;
          margin: 0 auto;

          &.btn-icon {
            width: 178 / 75rem;
            height: 50 / 75rem;
            line-height: 50/75rem;
            border-radius: 27/75rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &.btn-useNow, &.btn-claim {

            &:hover {
              opacity: .9;
            }
          }

          &.btn-end, &.btn-soon {
            cursor: inherit;
          }
        }
      }
    }
  }

  .dialog-msg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .dia-box {
      width: 640 / 75rem;
      height: 444 / 75rem;
      border-radius: 24 / 75rem;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -320 / 75rem;
      margin-top: -222 / 75rem;
      text-align: center;

      > h3 {
        font-size: 36 / 75rem;
        font-family: OpenSans-Semibold;
        line-height: 49/ 75rem;
        margin-top: 72 / 75rem;
      }

      .dia-body-desc {
        font-size: 24 / 75rem;;
        //font-family: OpenSans-Semibold;
        line-height: 44 / 75rem;
        margin-top: 32 / 75rem;
      }

      .user_coupon_info {
        font-size: 26 / 75rem;;
        font-family: OpenSans-Semibold;
        line-height: 36 / 75rem;
        width: 520 / 75 rem;
        margin: 40 / 75rem auto 0;

        > a {
          text-decoration: underline;
        }
      }

      .close_dia {
        position: absolute;
        width: 44 / 75rem;
        height: 44 / 75rem;
        background: url("https://geshopimg.logsss.com/uploads/Evaqs7hkcYMgUOdt5yPTuIG0NBw3VCJz.png") 0 0 no-repeat;
        background-size: 44 / 75rem auto;
        right: -22 / 75rem;
        top: -22 / 75rem;
        cursor: pointer;
      }
    }
  }
}
