.geshop-U000080-default .geshop-U000080-default-wrapper {
    width: 1200px;
    margin: 0 auto;
}
.geshop-U000080-default ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.geshop-U000080-default li {
    position: relative;
    width: 288px;
    margin: 0 8px;
    background: #fff;
    padding: 12px;
    padding-bottom: 24px;
    box-sizing: border-box;
    margin-bottom: 16px;
    transition: transform .5s;
    &:hover {
        transform: translateY(-10px);
        &:before {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            content: " ";
            border: solid 1px #333;
        }
    }
}
.geshop-U000080-default-list-img {
    position: relative;
    display: block;
    width: 264px;
    height: 352px;
    background: #fff;
    overflow: hidden;
}

.geshop-U000080-default-list-title {
    margin-top: 12px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
}
