.geshop-U000152-modal1 {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;

  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }

  .tab-ul-item {
    display: none;
    width: 1170px;
    margin: 16px auto;
    font-size: 0;

    .geshop-U000152-modal1-list {
      margin: 8px;
      transition: transform .5s;

      &:hover {
        transform: translateY(-10px);

      }
    }
  }

  .goods-banners {
    border: none;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .gs-goodsWrap:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }

  .gs-goodsWrap li {
    font-size: 12px;
    position: relative;
    float: left;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
  }

  .item-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 0 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  .item-price {
    padding: 16px 0;
    margin: 0;
    white-space: nowrap;
  }

  .shop-price {
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
  }

  .market-price {
    font-size: 13px;
    color: #999999;
    vertical-align: middle;
  }

  .goods-title {
    height: 19px;
    line-height: 19px;
    margin: 12px 0 8px 0;
    text-align: left;
    font-family: PingFang-SC-Medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .goods-price {
    font-family: PingFangSC-Semibold;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
  }

  .market-price {
    height: 19px;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    line-height: 19px;
    text-align: left;
    text-decoration: line-through;
    margin-bottom: 8px;
  }

  .gs-img {
    position: relative;
    font-size: 0;
    width: 100%;
    background-color: #EDEDED;
    height: 251px;
    line-height: 251px;

    .goods-mask {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .6);
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      font-family: OpenSans-Semibold;
      color: #FFFFFF;
      font-size: 16px;
      display: block;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }

  .gs-img a {
    vertical-align: middle;
    position: relative;
    height: 100%;
  }

  .goods-link {
    height: 100%;
    display: block;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

  }

  .list-tab-item {
    float: left;
    width: 50%;
  }

  .tab-title {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .width-100 {
    width: 100% !important;
  }

  .swiper-container {
    margin: 0px auto;

    .geshop-tabs {
      height: 100%;
    }

    .swiper-slide-item-1 {
      box-sizing: border-box;
      height: 100%;
      //padding: 0 20px;
      cursor: pointer;
      word-break: break-all;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }

  .swiper-button-next-1,
  .swiper-button-prev-1 {
    position: absolute;
    height: 100%;
    width: 40px;
    background-color: #fff;
    z-index: 2;
    top: 0;
    cursor: pointer;

  }

  .swiper-button-next-1 {
    background: url("https://geshopimg.logsss.com/uploads/BeM8OndwPgvyZCWtk9VfJ6SmNhQ0HbXT.png") no-repeat 50% 50%;
    background-size: 40px auto;
    &:hover {
      background: url("https://geshopimg.logsss.com/uploads/xhOnwqUI85BJSlVfHFbykMcmip2u3YD7.png") no-repeat 50% 50%;
      background-size: 40px auto;
    }
    &.off {
      background: url("https://geshopimg.logsss.com/uploads/ObvRuWXB1qyVNxh2na7KZlizmL9TwA5t.png") no-repeat 50% 50%;
      background-size: 40px auto;
    }

    right: 0px;
  }

  .swiper-button-prev-1 {
    background: url("https://geshopimg.logsss.com/uploads/r6RJMSFihafD2W4IQ9gzkbxdeoT0v1sO.png") no-repeat 50% 50%;
    background-size: 40px auto;
    &:hover {
      background: url("https://geshopimg.logsss.com/uploads/c2Ipt87XRzgOy3KavesirQCbWMmnVZGF.png") no-repeat 50% 50%;
      background-size: 40px auto;
    }
    &.off {
      background: url("https://geshopimg.logsss.com/uploads/NbVxkohClHM5LZTyQn6vtDJd8RYIj7XK.png") no-repeat 50% 50%;
      background-size: 40px auto;
    }

    left: 0px;
  }

  .geshop-U000152-modal1-list {
    display: inline-block;
    box-sizing: border-box;
    width: 276px;
    height: auto;
    padding: 11px;
    border: 1px solid #ffffff;
    background-color: #FFFFFF;

    .geshop-U000152-modal1-list-img {
      width: 252px;
      height: 336px;
      position: relative;
      display: block;

      .goods-mask {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        font-family: OpenSans-Semibold;
        color: #FFFFFF;
        font-size: 16px;
        display: none;

        span {
          position: absolute;
          box-sizing: border-box;
          background: rgba(0, 0, 0, .4);
          border-radius: 180px;
          width: 160px;
          line-height: 160px;
          height: 160px;
          font-size: 24px;
          color: #ffffff;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .geshop-components-default-image-goods {
        font-size: 0;

        img.js_gdexp_lazy {
          vertical-align: middle;
        }
      }

      > a {

      }
    }


    .geshop-U000152-modal1-list-title {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      height: 19px;
      font-size: 14px;
      color: rgba(51, 51, 51, 1);
      line-height: 19px;
      margin: 12px 0 4px;
      text-align: left;
    }

    .gs-shop-price {
      width: 100%;
      height: 30px;
      font-size: 22px;
      line-height: 30px;
      text-align: left;

      > span {
        font-size: 20px;
      }
    }

    .markt-price {
      text-align: left;
      width: 252px;
      height: 19px;
      font-size: 14px;
      color: rgba(153, 153, 153, 1);
      line-height: 19px;
    }

    .geshop-components-default-button-buy {
      margin-top: 12px;
    }
  }
}
