<div class="ge-195d-dialog ge-195d-dialog-rule">
    <div class="ge-195d-dialog-mask"></div>
    <div class="ge-195d-dialog-container">
        <div class="ge-195d-dialog-close js_close-dialog" data-tag="ge-195d-dialog-rule">
            <img src="{{ data.default.u000187_default_close }}" alt="">
        </div>
        <h2 class="title">{{ languages.ruleText[lang]|default(languages.ruleText.en) }}</h2>
        <div class="content">{{ data.rule_content|default('1. From Mar 8th-12th, according to the total payment amount, TOP1 will receive 12 coupons for $38 (each month can use one coupon for plus size and women category); TOP 2-10 will receive one $38 coupon; TOP 11-38 will receive one $18 coupon. \n2. All coupons will be to your account center on Apr 2ed. \n3. If you return, replace or cancel the order, you will cancel your reward and automatically rewards the next customer. \n4. Rosegal reserves the right to amend and explain the rules of this promotion. If you have any questions, please contact our support center.') | nl2br }}</div>
    </div>
</div>