.geshop-U000027-style2 {
    &-wrapper {
        ul {
            word-break: keep-all;
            word-wrap: none;
            text-align: center;
            overflow: hidden;
        }
        li {
            display: inline-block;  
            font-size: 0px;  
            
        }
        a {
            display: inline-block;      
            width: 166px;
        }
    }
    &.component-nav-fixed {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        z-index: 999;
    }
}