.geshop-U000001-style2-v2 {
    // background: #f8f8f8;
}
.geshop-U000001-style2-v2 .geshop-U000001-style2-v2-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.geshop-U000001-style2-v2 ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.geshop-U000001-style2-v2 li {
    position: relative;
    width: 288px;
    margin: 0 8px;
    background: #fff;
    padding: 12px;
    padding-bottom: 49px;
    box-sizing: border-box;
    margin-bottom: 16px;
    transition: transform .5s;
}
.geshop-U000001-style2-v2-list-img {
    position: relative;
    display: block;
    width: 264px;
    height: 352px;
    background: #fff;
    overflow: hidden;

    .discount-off {
        position: absolute;
        line-height:20px;
        font-size:16px;
        left: 0;
        top: 16px;
        padding: 5px 9px;
        border-radius: 0 2px 2px 0;
    }
}

.geshop-U000001-style2-v2-list-title {
    margin-top: 12px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
}
