.wrap-U000141-default{

    
    .swiper-container-horizontal .swiper-scrollbar {
        bottom: 0px;
        left: 24 /75rem;
        right: 24 /75rem;
        height: 1px;
        overflow: hidden;
        width: auto;
        margin-bottom: 8 / 75rem;
        .swiper-scrollbar-drag {
            background: #333;
        }
    }

    .geshop-flash-sale-block {
        overflow: hidden;
        display: none;
    }
    .geshop-flash-sale-header { 
        text-align:center;
        line-height: 100 / 75rem;
        height: 100 / 75rem;
        background-color:#EDEDED;
        font-size: 0px;
    }
    .geshop-flash-sale-header span {
        display:inline-block;
        vertical-align:middle;
    }
    .geshop-flash-sale-title {
        margin-right:.347rem;
        text-transform:uppercase;
        vertical-align: middle;
        font-size:.427rem;
        font-weight:bold;
    }
    .geshop-flash-sale-time {
        vertical-align: middle;
        font-size: 0px;
    }
    .geshop-flash-sale-number {
        width: 48 / 75rem;
        height: 56 / 75rem;
        line-height: 56 / 75rem;
        border-radius: 2px;
        vertical-align: middle;
        font-size: 30 / 75rem;
    }
    .geshop-flash-sale-time-separator {
        padding: 0px  10 / 75rem;
        font-size: 30 / 75rem;
    }

    .geshop-flash-sale-body {
        height:auto;
        background:transparent;
        overflow: visible !important;
        padding: 32 / 75rem 0px;
        padding-bottom: 48 / 75rem;
        .geshop-flash-sale-item {
            position:relative;
            float:left;
            margin-left:24 /75rem;
            width: 254 /75rem;
            text-align:center;
           &:last-child{
               margin-right: 24/75rem;
           }
        }
    }
    .geshop-flash-sale-discount {
        position:absolute;
        top: -8 / 75rem;
        left: auto;
        right: -8 / 75rem;
        width: 80 / 75rem;
        height: 80 / 75rem;
        font-size:.32rem;
        z-index:1;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        > table {
            width: 100%;
            height: 100%;
            td {
                vertical-align: middle;
                text-align: center;
                text-transform:uppercase;
                line-height: 1.1em;
            }
        }
    }
    .geshop-flash-sale-picture {
        position:relative;
        display:block;
        margin-bottom:.267rem;
        width: 254 /75rem;
        height: 338 / 75rem;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        // height:3.733rem;
       
    }
    .geshop-flash-sale-sold-out {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index:1;
        display: block;
        color:#ffffff;
        > div {
            position: relative;
            display: table;
            width: 160 / 75rem;
            height: 160 / 75rem;
            vertical-align: middle;
            text-align: center;
            border: none;
            border-radius: 160 / 75rem;
            overflow: hidden;
            background: rgba(0, 0, 0, .6);
            left: 50%;
            top: 50%;
            margin-left: -80 / 75rem;
            margin-top: -80 / 75rem;
            > span {
                display: table-cell;
                vertical-align: middle;
                color: #fff;
                font-size: 32 / 75rem;
            }
        }
    }

    .geshop-flash-sale-left {
        margin:0 0 .347rem;
        height:.32rem;
        line-height:.32rem;
    }
    .geshop-flash-sale-left-total {
        position:relative;
        display:block;
        width: 100%;
        border-radius:.093rem;
        height: 6 / 37.5rem;
        background-color:#e9e9e9;
    }
    .geshop-flash-sale-left-still {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        display:block;
        border-radius:.093rem;
        height: 6 / 37.5rem;
    }
    .geshop-flash-sale-left-number {
        width: 100%;
        height: 34 / 75rem;
        line-height: 34 / 75rem;
        display: block;
        text-align: left;
        font-size:.32rem;
        color:#000000;
    }
    .geshop-flash-sale-price {
        min-height: .373rem;
        line-height: 1.2em;
        text-align: left;
        margin-bottom: 8 / 75rem;
    }
    .geshop-flash-sale-price-sale {
        display:inline-block;
        vertical-align:bottom;
        margin-right:.213rem;
        font-size:.373rem;
        font-weight:bold;
    }
    .geshop-flash-sale-price-market {
        display:inline-block;
        vertical-align:bottom;
        font-size:.32rem;
        text-decoration:line-through;
    }
    .geshop-flash-sale-link {
        display:inline-block;
        width:85%;
        height:.75rem;
        line-height:.75rem;
        text-align:center;
        font-size:.32rem;
        border-radius:.373rem;
        text-decoration:none;
        text-transform:uppercase;
        margin-top: 16 /75rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .geshop-flash-sale-more {
        display: block;
        width: 254 /75rem;
        height: 338 / 75rem;
        line-height: 338 / 75rem;
        font-size:.32rem;
        text-decoration:none;
    }
    .geshop-flash-sale-item .bizhong {
        display:none;
    }
}
