.ui-U000094_model2 {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  @import '../../../temp/gb/css/index_default_m.less';
  .good_soldOut {
    .gs-goods-status {
      display: block;
    }
  }
  .js-addCart {
    pointer-events: inherit !important;
    cursor: pointer !important;
  }
	//view more
	.view-more{
		.view-more-btn{
			box-sizing: border-box;
			display:block;
			i{
				margin-left:4px;
			}
		}
	}

	//秒杀
	.gb-kill-warp{
		text-align: center;
		padding-top: 4px;
		padding-bottom: 12px;
	}
	.gb-kill-title{
		font-weight: bold;
	}
	.gb-kill-statusText{
		padding: 8px 0 10px;
		position:relative;
		width: auto;
		margin: auto;
		display: inline-block;
		font-weight: bold;
		font-size:12px;
	}
	.gs-kill-down{
		line-height: initial;
		padding: 4px 5px;
		em{
			font-size: 20px;
			font-style:normal;
			//height: 40px;
			//line-height: 40px;
			min-width: 30px;
			padding: 4px 5px;
			margin: 0 6px;
			border-color: #ffffff;
			color: #ffffff;
			background: #000000;
		}
	}
}
