<div style="position: relative;width: 710px;min-height: 160px;margin: 50px auto 60px;padding-left: 210px;
        -moz-box-sizing: border-box;box-sizing: border-box;">
    <div style="position: absolute;width: 160px;height: 160px;background-position: -200px -80px;left: 0;top: 0;
            background-image: url(https://css.rowcdn.com/imagecache/RW_V3/images/styleimg/msg.png);
            background-repeat: no-repeat;"></div>
    <div style="height: 60px;line-height: 50px;font-size: 40px;white-space: nowrap;overflow: hidden;
            font-family: Georgia," Times New Roman ",Times,serif;">Oops！</div>
<div style="line-height: 24px;font-size: 14px;">Spiacenti, questa pagina non è disponibile</div>
</div>