.geshop-component-box  a{outline: none;}
.geshop-recommend-category-block-warp {
    height: 1.173rem;
}

.geshop-recommend-category-block {
    position: relative;
    height: 1.173rem;
    background-color: #ffffff;
}

.geshop-recommend-category-inline {
    position: relative;
    border-top: 1px solid #dddddd;
    height: 1.173rem;
}

.geshop-recommend-category-inline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}

.geshop-recommend-category-inline-list {
    float: left;
    width: 8.813rem;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    
}

.geshop-recommend-category-inline-list::-webkit-scrollbar {
    width: 0 !important
}

.geshop-recommend-category-inline ul {
    padding: 0 0 0 .4rem;
    width: 30rem;
    height: 1.173rem;
    line-height: 1.173rem;
    white-space: nowrap;
}

.geshop-recommend-category-inline li {
    /*float: left;*/
    display: inline-block;
    list-style-type: none;
}

.geshop-recommend-category-inline li:last-child a {
    margin-right: 0;
}

.geshop-recommend-category-inline ul a {
    position: relative;
    display: block;
    margin-right: .667rem;
    font-size: .373rem;
    color: #000000;
    text-decoration: none;
    height: 1.173rem;
}

.geshop-recommend-category-inline .geshop-recommend-category-inline-active a {
    color: #e33194;
    outline: none;
}

.geshop-recommend-category-inline .geshop-recommend-category-inline-active a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 2;
    display: block;
    width: 100%;
    height: 0.08rem;
    background-color: #e33194;
}

.geshop-recommend-category-arrow {
    position: relative;
    float: right;
    width: 1.187rem;
    height: 1.147rem;
    line-height: 1.173rem;
    background-color: #ffffff;
    -webkit-transition: top .2s linear;
    transition: top .2s linear;
    text-align: center;
}

.geshop-recommend-category-arrow:after {
    content: '';
    display: inline-block;
    vertical-align: baseline;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
}

.geshop-recommend-category-arrow-active:after {
    vertical-align: middle;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
}

.geshop-recommend-category-all {
    display: none;
    position: absolute;
    top: calc(1.173rem + 1px);
    left: 0;
    right: 0;
    z-index: 1;
    padding: .4rem .373rem 0 !important;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.geshop-recommend-category-all li {
    list-style-type: none;
    float: left;
    margin-bottom: .373rem;
}

.geshop-recommend-category-all a {
    display: block;
    margin-right: .373rem;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 .373rem;
    height: .88rem;
    line-height: .88rem;
    color: #000000;
    font-size: .373rem;
    text-decoration: none;
}


/* .geshop-recommend-category-all-active a {
  border-color: #e33194;
  color: #e33194;
} */

.geshop-recommend-goods {
    clear: left;
    margin: .4rem .4rem 0;
}

.geshop-recommend-item {
    float: left;
    max-width: 47.5%;
}

.geshop-recommend-item:nth-child(2n+1) {
    margin-right: .4rem;
}

.geshop-recommend-picture {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
}

.geshop-recommend-picture img {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
}

.geshop-recommend-price {
    margin: .4rem 0 .8rem 0;
    text-align: center;
    height: .373rem;
    line-height: .373rem;
}

.geshop-recommend-price-sale {
    display: inline-block;
    vertical-align: bottom;
    margin-right: .08rem;
    font-size: .373rem;
    font-weight: bold;
}

.geshop-recommend-price-market {
    display: inline-block;
    vertical-align: bottom;
    font-size: .293rem;
    color: #999999;
    text-decoration: line-through;
}

.geshop-recommend-link {
    clear: left;
    text-align: center;
}

.geshop-recommend-link a {
    display: inline-block;
    vertical-align: top;
    width: 3.28rem;
    height: .88rem;
    text-align: center;
    line-height: .88rem;
    font-size: .373rem;
    border-radius: .44rem;
    text-decoration: none;
}

.geshop-recommend-item .bizhong {
    display: none;
}

@-webkit-keyframes geshop-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

[data-key="U000077"] .geshop-loading {
    clear: both;
    text-align: center;
    padding: 1rem 0;
}

[data-key="U000077"] .geshop-loading-img {
    background: url("data:image/svg+xml;charset=utf-8,<svg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'><defs><line%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F><%2Fdefs><g><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F><use%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F><%2Fg><%2Fsvg>") no-repeat center center;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    -webkit-transform: rotate(360deg);
    animation: otation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}