<label class="form-item-label">{{ cmpt_label }}</label>
<div class="layui-input-block">
    <input type="text" name="{{ cmpt_name }}" autocomplete="off" class="layui-input" value="{{ cmpt_value | default(cmpt_default) }}">
</div>