body [data-gid="U000151_default"] .gs-img{
    height: 466/75rem;
    line-height: 466/75rem;
}
body [data-module="U000151_default"] .goods-price{
    font-weight: normal;
    font-family:OpenSans-Bold;
}