{# 商品Coupon #}

<div class="layui-form-item">
    <input type="hidden" class="js-goodsComposite" name="goodsComposite" value="">

    <label class="layui-form-label">Coupon码</label>         
    <div class="layui-input-block" style="margin-left: 0;">
        <textarea placeholder="请按SKU顺序输入Coupon码,Coupon码之间用英文逗号隔开" class="layui-textarea js-coupon-input" name="coupons" data-coupon-valid="true" data-public-tag="true">{{ data.coupons }}</textarea>
    </div>
</div>
