  .layer-share{
    margin: 10px 0;
    display: none;
    min-height: 1.3333333333333333rem;
  }
  .share-content{
    .addthis_toolbox{
      background: #fff;
      text-align: center;
      width: 100%;
      display: inline-block;
      box-sizing: border-box;
      border-radius:0.3466666666666667rem;
      >a{
        display: inline-block;
        margin-right: 0.5333333333333333rem;
        opacity: 1;
        transition: all 0.3s;
        text-align: center;
        padding: 0;
        margin-top: 1.3866666666666667rem;
        margin-bottom: 1.3866666666666667rem;
        line-height: normal;
        width: 1.4933333333333334rem!important;
        height: 1.4933333333333334rem;
        &:last-child{
          margin-right: 0;
        }
        img{
          margin-top: 0.34rem;
          width: 0.8533333rem;
          height: 0.853333rem;
        }
        &:hover{
          opacity: 0.5;
          transition: all 0.3s;
        }
        &:nth-child(4n){
          margin-right: 0;
        }
      }
    }
    .cancel-btn{
      display: block;
      background: #fff;
      margin-top: 0.29333333333333333rem;
      width: 100%;
      height: 1.52rem;
      line-height: 1.52rem;
      text-align: center;
      border-radius:0.3466666666666667rem;
      font-size:0.5333333333333333rem;
      color: #333;
      cursor: pointer;
      text-decoration: none;
    }

  }
  .share-btn{
    position: fixed;
    display: block;
    bottom: 3.066666666666667rem;
    right: 0.8533333333333334rem;
    width:1.0666666666666667rem;
    height:1.0666666666666667rem;
    background:rgba(0,0,0,0.5);
    z-index: 999;
    border-radius: 50%;
    text-align: center;
    img{
      width: 0.4266666666666667rem;
      height: 0.4266666666666667rem;
    }
  }

.dialog-share{
  margin-left: -4.5rem;
  margin-top: -3.3333333333333335rem;
  background: transparent!important;
}
