.geshop-U000030-style2 {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    & .component-m-nav-fixed {
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 99999;
        height: auto;
        width: 100%;
    }
    .component-m-nav-ul {
        font-size: 0px;
        width: 100%;

        .component-m-nav-item {
            display: inline-block;
            cursor: pointer;
            text-align: center;
            transition: background-color .2s linear;
            box-sizing: border-box;
            overflow-x: visible;
            overflow-y: hidden;
            a {
                text-transform: uppercase;
                overflow: hidden;
            }
        }
    }

    & .component-m-nav::-webkit-scrollbar {
        display: none;
    }
}