.color-gray {
  color: #999;
}
.layui-block{
  border-radius:4px;
  border:1px solid rgba(230,230,230,1);
  padding: 16px;
 
}
.nav-item {margin-bottom: 16px;}
.add-class{
  display: none;
}
.nav-item:last-child .geshop-third-value .add-class{
  display: inline-block;
}
.nav-title{
  margin-bottom: 5px;
}
.class-manage{
  margin-left: 0!important;
  margin-top: 8px;
  margin-bottom: 8px!important;
}