.suspend-nav {
    ul {
        list-style: none; /* Remove list bullets */
        padding: 0;
        margin: 0;
    }

    &.active {
        .component-m-nav {
            .default-cate-all {
                visibility: hidden;
            }
            #js_topNav_suspend2 {
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                display: block;
                z-index: 20;
            }
            .geshop-icon-up {
                display: block;
            }
        }
    }

    #js_topNav_suspend2 {
        display: none;
        .component-m-nav-ul.swiper-wrapper {
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            text-align: justify;
        }
    }

    .component-m-nav {
        overflow: hidden;
        height: auto;
    }


    .component-m-nav::-webkit-scrollbar {
        display:none;
    }

    .geshop-icon-up {
        display: none;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0px;
        width: 88 / 75rem;
        text-align: center;
        border-left: solid 1px #d8d8d8;
        border-bottom: solid 1px #d8d8d8;
        box-sizing: border-box;
        span {
            display: inline-block;
            transform: rotate(-45deg);
            &:after {
                content: '';
                display: inline-block;
                vertical-align: baseline;
                width: 10px;
                height: 10px;
                border-left: 1px solid #000000;
                border-bottom: 1px solid #000000;
                vertical-align: middle;
                margin-top: -4px;
                margin-left: 4px;
            }
        }
        &.active {
            span {
                transform: rotate(135deg);
            }
        }
    }


    .component-m-nav-ul {
          font-size: 0px;
          width: 100%;

          &.show {
              display: block !important;
          }

          .component-m-nav-item {
            min-width: 25% !important;
            width: auto !important;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            transition: background-color .2s linear;
            box-sizing: border-box;
            overflow-x: visible;
            padding: 0rem 0.533rem !important;
            a {
                //font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
                text-transform: uppercase;
                overflow: hidden;
                width: 90%;
            }
        }
    }

    .component-m-nav-ul-cate-all {
        display: none;
        position: absolute;
        left: 0px;
        right: 0px;
        z-index: 1;
        width: auto;
        display: none;
        padding: .4rem .4rem 0 .4rem !important;
        background-color: #ffffff;
        border-bottom: solid 1px #DBDBDB;
        border-top: solid 1px #DBDBDB;
        &.show {
            display: block;
            position: fixed;
        }
        .cate-item-all {
            list-style-type: none;
            float: left;
            margin-bottom: 0.373rem;
            margin-right: 0.3733rem;
            width: auto;
            border-right: none;
            height: 80 / 75rem;
            line-height: 80 / 75rem;
            border: 1px solid #DBDBDB;

            a {
                display: block;
                height: auto !important;
                line-height: 80 / 75rem;
                color: #000000;
                font-size: .373rem;
                text-decoration: none;
                padding: 0rem 0.533rem !important;
                width: auto;
                white-space: nowrap;
            }
        }
    }

    .swiper-pagination {
        top: -100px;
        visibility: hidden;
    }

    .default-cate-all {
        width: 100%;
        border: none;
        td {
            text-align: center;
            vertical-align: middle;
            border: solid 1px #DBDBDB;
            word-wrap: break-word;
            word-break: break-all;
        }
    }

}
