.ui-U000094_model3 {
  overflow: hidden;
	@import '../../../temp/gb/css/index_default_m.less';
	//compoment layout class list
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .good_soldOut {
    .gs-goods-status {
      display: block;
    }
  }
  .js-addCart {
    pointer-events: inherit !important;
    cursor: pointer !important;
  }

	//外层
	.view-more{
		margin:14px 0 4px;
	}

	//默认广告图
	.gs-list-item-ad{
		box-shadow:none !important;
		.item-content{
			height:100%;
			a{
				position: relative;
				height:100%;
				display:block;
			}
		}
	}
	.gs-default-ad {
		width: 140px !important;
		height: 124px !important;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		display: block;
	}
}
