<script>
function saveIpsData($wrapper){      
	var $ipsAutoWraper = $wrapper.find('.gs-tab-select-wraper').find('.gs-tab-select-autoIps');
	var ipsMethods = $wrapper.find('.gs-tab-select-wraper').find('.ipsItemRadio:checked').val();
	var checkForm = false;/*ips表单是否可以提交*/

	/* 选品系统 ipsMethods - 1 自动  ipsMethods - 2 手动 */
	if (ipsMethods == 1) {
		var ipsInfo = { "level1": { id: 0, name: "" }, "level2": { id: 0, name: "" }, "level3": [] };
		ipsInfo.level1.id = $ipsAutoWraper.find('.gs-select-level-ips-auto').find('option:checked').val();
		ipsInfo.level1.name = $ipsAutoWraper.find('.gs-select-level-ips-auto').find('option:checked').text(); 
		ipsInfo.level2.id = $ipsAutoWraper.find('.gs-select-level2-ips-auto').find('option:checked').val();
		ipsInfo.level2.name = $ipsAutoWraper.find('.gs-select-level2-ips-auto').find('option:checked').text();

		$ipsAutoWraper.find('.gs-select-item-wraper .gs-select-item').each(function(index, item) {
			var ipsLevel3 = { id: 0, name: "", sku_num: "" };
			ipsLevel3.id = $(item).find('.gs-select-box').find('option:checked').val();
			ipsLevel3.name = $(item).find('.gs-select-box').find('option:checked').text();
			ipsLevel3.sku_num = $(item).find('.sku-select-input').val().trim() || '';
			/* 三级活动信息必选 */
			if (ipsLevel3.id == '0') {
				checkForm = true;
			}
			ipsInfo.level3.push(ipsLevel3);
		});

		return {ips:ipsInfo,checkForm:checkForm}

	} else { 
		$(".gs-select-box",$wrapper).each(function(index){
			$('input[name=gsSelectLevel'+ index +']',$wrapper).val($(this).val());
		});
        var $ipsWraper = $wrapper.find('.gs-tab-select-wraper').find('.gs-tab-select-ips');
		var gsSelectLevel0 = $wrapper.find('input[name=gsSelectLevel0]').val(),
		gsSelectLevel1 = $wrapper.find('input[name=gsSelectLevel1]').val(),
		gsSelectLevel2 = $wrapper.find('input[name=gsSelectLevel2]').val(),
		ipsGoodsSKU = $wrapper.find('input[name=ipsGoodsSKU]').val();


		var ipsInfo = { "level0": { id:'', name: "" }, "level1": { id: '', name: "" }, "level2": { id: '', name: "" },ipsSku:'' };
		ipsInfo.level0.id = $ipsWraper.find('.gs-select-box-first').find('option:checked').val();
		ipsInfo.level0.name = $ipsWraper.find('.gs-select-box-first').find('option:checked').text(); 
		ipsInfo.level1.id = $ipsWraper.find('.gs-select-box-second').find('option:checked').val();
		ipsInfo.level1.name = $ipsWraper.find('.gs-select-box-second').find('option:checked').text();
		ipsInfo.level2.id = $ipsWraper.find('.gs-select-box-third').find('option:checked').val();
		ipsInfo.level2.name = $ipsWraper.find('.gs-select-box-third').find('option:checked').text();
		ipsInfo.ipsSku = ipsGoodsSKU;

		if(ipsInfo.level2.id== '0'){
			checkForm = true;
		}
       
		return {ips:{"gsSelectLevel0":gsSelectLevel0,"gsSelectLevel1":gsSelectLevel1,"gsSelectLevel2":gsSelectLevel2,ipsGoodsSKU:ipsGoodsSKU,ipsInfo:ipsInfo},checkForm:checkForm}
	}

	
}

/*radio list render*/
function ipsRadioInit(){
	$('.goods-form-table .goods-tab-lists .radio-tab-group').add($('.goods-form-table tbody .radio-tab-group')).each(function(index,element){
		var $radio = $(element).find('.tabItemRadio');
		var $ipsRadio = $(element).find('.ipsItemRadio');
		var $radioName = 'skuFrom'+index;
		var $ipsMethods = 'ipsMethods'+index;

		$radio.attr({'name':$radioName,'lay-filter':$radioName});
		if($('input[name='+$radioName+']:checked').length === 0){
			$('input[name='+$radioName+'][value=1]').prop('checked',true)
		}

		$ipsRadio.attr({'name':$ipsMethods,'lay-filter':$ipsMethods});
		if($('input[name='+$ipsMethods+']:checked').length === 0){
			$('input[name='+$ipsMethods+'][value=2]').prop('checked',true)
		}

		var $tr = $(element).closest('tr');
		var skuFrom = $('input[name='+$radioName+']:checked').val();
		if(skuFrom == '2'){
			$tr.find('.class-manage').attr('data-from','ips');
		}else{
			$tr.find('.class-manage').removeAttr('data-from');
		}


		layui.form.render();
		layui.form.on('radio('+$radioName+')', function (data) {
			var value = Number(data.value);
			$(element).find("[data-target=skuFrom-" + value + "]").addClass('goods-visible').siblings().removeClass('goods-visible');
			if(value == '2'){
				$tr.find('.class-manage').attr('data-from','ips');
			}else{
				$tr.find('.class-manage').removeAttr('data-from');
			}
		});

		layui.form.on('radio('+$ipsMethods+')', function (data) {
			var value = Number(data.value);
			if (value == 2) {
				$(element).find('.gs-tab-select-wraper').find('.gs-tab-select-item:eq(0)').addClass('goods-visible');
				$(element).find('.gs-tab-select-wraper').find('.gs-tab-select-item:eq(1)').removeClass('goods-visible');
			} else if (value == 1) {
				$(element).find('.gs-tab-select-wraper').find('.gs-tab-select-item:eq(1)').addClass('goods-visible');
				$(element).find('.gs-tab-select-wraper').find('.gs-tab-select-item:eq(0)').removeClass('goods-visible');
			}
		});

	});

}



/**
    * 自动选品三级分类的操作：新增，修改，删除，上下移动
    */
function eachIpsSelectItem () {
    /* 新增 */
    $(".gs-select-item-wraper").on('click','.gs-select-item .class-add-ips',function(e){
        var $wrap = $(this).closest('.gs-select-item-wraper');
        var curLeve2id = $wrap.find('.gs-select-box-third').data('parent-activity-id') | 0;
        var html = `<div class="gs-select-item">
                        <label class="gs-block act-title-label">活动<span class="title-index">1</span></label>
                                    <div class="gs-select-level3-wraper">
                                        <div class="select-item">
                                            <label class="gs-block">三级活动信息</label>
                                            

                                            <select class="gs-select-box gs-select-box-third gs-select-level3-ips-auto" data-level="5" data-parent-activity-id="${curLeve2id}" data-activity-id = "0 " lay-ignore placeholder="请输入活动名称">
                                                <option value="0">请选择活动</option>
                                            </select>
                                        </div>
                                        <div class="select-item">
                                            <label class="gs-block">SKU显示数量</label>
                                            <input class="layui-input sku-select-input" type="number" name="" value="">
                                        </div>
                                    </div>
                                    <div class="geshop-third-value mr-10">
                                        <span class="img-btn class-up-ips">
                                            <i class='icon-up'></i>
                                            <b class="tips">上移</b>
                                        </span>
                                        <span class="img-btn class-down-ips">
                                            <i class='icon-down'></i>
                                            <b class="tips">下移</b>
                                        </span>
                                        <span class="img-btn class-close-ips">
                                            <i class='icon-delete' data=""></i>
                                            <b class="tips" >删除</b>
                                        </span>
                                        <span class="img-btn class-add-ips">
                                            <i class='icon-add'></i>
                                            <b class="tips">新增</b>
                                        </span>
                                    </div>
                                </div>`;
            $wrap.append(html);	
            GsSelect.initSelect();
            ipsInitItemIndex($wrap);
        
    });

    /* 删除 */
    $(".gs-select-item-wraper").on('click','.gs-select-item .class-close-ips',function (e) {
        var $wrap = $(this).closest('.gs-select-item-wraper');
        var gs_select_item_length = $wrap.find('.gs-select-item').length;
        
        var target = $(this).parents('.gs-select-item');

        if (gs_select_item_length == 1) {
            layer.msg('至少保留一项三级活动信息');
            return false;
        }
        
        layer.confirm(
            '是否删除活动信息?',
            { btn: ['取消', '确定'], icon:3, title:'提示', skin: 'element-ui-dialog-class'}, 
            function (index) {
                layer.close(index)
            }, 
            function (index) {
                target.remove();
                layer.close(index);
                ipsInitItemIndex($wrap);			
            }
        ); 
    });

    /*下移 */
    $(".gs-select-item-wraper").on('click','.gs-select-item .class-down-ips',function(e){	 
        var $this = $(this),
        $tr = $(this).parents('.gs-select-item:eq(0)'),
        $trNext = $tr.next(); 
        $wrap = $(this).closest('.gs-select-item-wraper');
                if (0 != $trNext.length) {
                        $trNext.after($tr);
                }	
        ipsInitItemIndex($wrap);
    });

    /*上移 */
    $(".gs-select-item-wraper").on('click','.gs-select-item .class-up-ips',function(e){	 
        var $this = $(this),
        $tr = $(this).parents('.gs-select-item:eq(0)'),
        $trPrev = $tr.prev();
        $wrap = $(this).closest('.gs-select-item-wraper');
        if(0 != $trPrev.length){
            $trPrev.before($tr);
        }
        ipsInitItemIndex($wrap);
    });

    /* 排序 */
    function ipsInitItemIndex($wrap){
        $wrap.find('.gs-select-item').each(function(index){
            var $this = $(this);
            $this.find('.title-index').text(index+1);
        })
    }
}
</script>