.geshop-u000031-bigPromote .gs-img-default-bgc {
  width: 50%;
  height: 204px;
  background-color:#EDEDED !important;
  position: relative;
}

.geshop-u000031-bigPromote .gs-default-clothes {
  width:140px!important;
  min-height:124px!important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display: block;
}
.geshop-u000031-bigPromote .gs-bgc-pic{
  height: 6.4rem;
}