/*----- 宽度 -----*/
.w(@px) {
  width: unit(@px / 37.5, rem);
}

/*----- 高度 -----*/
.h(@px) {
  height: unit(@px / 37.5, rem);
}

/*----- 行高 -----*/
.lh(@px) {
  line-height: unit(@px / 37.5, rem);
}

.fs(@px) {
  font-size: unit(@px / 37.5, rem);
}

/*----- margin -----*/
.mt(@px) {
  margin-top: unit(@px / 37.5, rem);
}

.mr(@px) {
  margin-right: unit(@px / 37.5, rem);
}

.mb(@px) {
  margin-bottom: unit(@px / 37.5, rem);
}

.ml(@px) {
  margin-left: unit(@px / 37.5, rem);
}

/*----- padding -----*/
.pt(@px) {
  padding-top: unit(@px / 37.5, rem);
}

.pr(@px) {
  padding-right: unit(@px / 37.5, rem);
}

.pb(@px) {
  padding-bottom: unit(@px / 37.5, rem);
}

.pl(@px) {
  padding-left: unit(@px / 37.5, rem);
}
.geshop-u000215-container{
  position: relative;
  img{
    width: 100%;
  }
  .U000215-show{
    display: none;
  }
}





