.wrap-u000068 {
    [data-gid="m_zaful_sync"]{
        .ui-recommend-loading {
            background: url("https://uidesign.rglcdn.com/RG/image/z_promo/20190311_8431/loading_tm.gif") no-repeat center center;
            width: 2rem;
            height: 2rem;
            margin-left:auto;
            margin-right:auto;
            background-size: 50%;
            display: none;
        }
    }

}