[data-gid="U000095_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  @import '../../../temp/gb/css/index_default.less'; //tab 列表
  .gs-list-item {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .item-content {
    border: 1px solid #EEEEEE;
    border-width: 1px 1px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gs-tab {
    margin: auto; // margin-top: 15px;
    // margin-bottom: 15px;
    position: relative;
    overflow: hidden;
  }
  .gs-tab-wrap {
    height: 80px;
  }
  .gs-tab-label {
    position: relative;
    line-height: initial;
    white-space: nowrap;
    font-size: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    width: 100%;
    overflow: hidden;
    li {
      position: relative;
      width: auto;
      height: 100%;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      font-size: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      &:last-child {
        padding-right: 0;
      }
      span {
        display: block;
        font-size: 16px;
        height: 60px;
        line-height: 60px;
        font-size: 21px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .current {}
  }
  .gs-tab-content {
    // padding: 10px;
    border-radius: 0 0 15px 15px;
  }
  .gs-tab-item {
    width: 100%;
    display: none;
  }
  .gs-tab-show {
    display: block !important;
  }
  .gs-label-item {
    float: left;
    margin: 0 2px 2px 0;
    border-radius: 4px;
    span {
      font-size: 16px;
      &.tab-hidden {
        visibility: hidden;
      }
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      // background: #ff8533;
      opacity: 0;
      -webkit-transition: all .8s cubic-bezier(.165, .84, .44, 1);
      transition: all .8s cubic-bezier(.165, .84, .44, 1);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
    &:hover {
      &:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }
}
