ul {
  list-style: none;
  /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.u000027 .component-nav {
  overflow: hidden;
  height: 60px;
}

.u000027 .component-nav-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.u000027 .component-nav-ul {
  background-color: #0e91d1;
  white-space: nowrap;
  text-align: center;
  height: 54px;
}

.u000027 .component-nav-item {
  display: inline-block;
  padding: 0 40px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  vertical-align: top;
}

.u000027 .component-nav-item>strong {
  display: block;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
