[data-key="U000148"] {
	.common_middle{
		&::after{
			content: "";
			display: inline-block;
			width: 0;
			height: 100%;
			vertical-align: middle;
		}
	}
	.hideNormDesc{
		visibility: hidden;
		opacity: 0;
	}
	.gs-couponItem{
		margin-top: 0.266667rem;
		overflow: hidden;
	}
	&.geshop-component-box{
		margin: 0 auto;
		margin-bottom: 0.533333rem;
	}
	.common_ellipsis{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.gs-couponList{
		font-size: 0;
		text-align: left;
	}
	.gs-couponItem{
		display: inline-block;
	}

	.couponItem_body-warehouse,
	.couponItem_body-date{
		line-height: 0.453333rem;
		.common_ellipsis;
	}



	.coupon_line-2{
		width: 4.586667rem;
		&:nth-child(2n-1){
			margin-right: 0.213333rem;
			margin-left: 0.32rem;
		}
		&.gs-couponItem:nth-child(1),
		&.gs-couponItem:nth-child(2)
		{
			margin-top: 0;
		}

		.gs-couponItem_header{
			position: relative;
			display: block;
			height: 2.213333rem;
			color: #fff;
			background:linear-gradient(217deg,rgba(255,138,0,1) 0%,rgba(247,207,63,1) 100%);
			border-radius: 0.106667rem;
			border-bottom: 1px dashed #fff;
			box-sizing: border-box;
			.common_middle;
			&::after, &::before{
				content: '';
				position: absolute;
				bottom: -0.213333rem;
				width: 0.426667rem;
				height: 0.426667rem;
				background: #f3f3f3;
				border-radius: 50%;
			}
			&::before{
				left: -0.213333rem;
			}
			&::after{
				right: -0.213333rem;
			}
		}
		.couponItem_header-discount{
			display: inline-block;
			vertical-align: middle;
			width: 2.133333rem;
			margin-left: 0.213333rem;
			line-height: 1;
			text-align: left;
		}
		.couponItem_body-order{
			white-space: nowrap;
			overflow: hidden;
		}
		.coupon_discount-num{
			display: block;
			font-size: 0.427rem;
			max-height: 0.854rem;
			overflow: hidden;
		}
		.coupon_discount-brand{
			display: block;
			font-size: 0.32rem;
			overflow: hidden;
			max-height: 0.66rem;
			margin-top: 0.053333rem;
		}
		.couponItem_header-img{
			display: inline-block;
			vertical-align: middle;
			width: 1.866667rem;
			height: 1.866667rem;
			border-radius: 50%;
			background: #fff;
			text-align: center;
			font-size: 0;
			overflow: hidden;
			margin-top: 0.16rem;
			margin-left: 0.106667rem;
			img{
				display: inline-block;
				width: 100%;
				height: 100%;
				vertical-align: middle;
			}
			.common_middle;
		}
		.gs-couponItem_body{
			display: block;
			background: #fff;
			padding: 0.426667rem 0.213333rem;
			box-sizing: border-box;
			color: #000;
			text-align: left;
			border-radius: 0.106667rem;
			font-size: 0.32rem;
			line-height: 0.373333rem;
		}
		.couponItem_statusBtn{
			display: block;
			height: 0.64rem;
			line-height: 0.64rem;
			text-align: center;
			font-size: 0;
			margin-top: 0.426667rem;
		}
		.couponItem_statusCode{
			position: relative;
			display: inline-block;
			width: 3.306667rem;
			border: 1px solid #FF8A00;
			margin-right: 0.213333rem;
			color: #FF8A00;
			font-size: 0.32rem;
			padding-right: 0.60rem;
			box-sizing: border-box;
			vertical-align: middle;
			border-radius: 0.106667rem;
		}
		.couponCode_copy{
			position: absolute;
			top: 0;
			right: 0;
			width: 0.64rem;
			height: 0.64rem;
			cursor: pointer;
			text-align: center;
		    line-height: 0.64rem;
		    font-size: 0.533333rem;
		}
		.coupon_href{
			display: inline-block;
			width: 0.64rem;
			height: 0.64rem;
			line-height: 0.64rem;
			border-radius: 0.106667rem;
			border: 1px solid #FF8A00;
			color: #FF8A00;
			box-sizing: border-box;
			vertical-align: middle;
			font-size: 0;
			.icon-arrow-line{
				vertical-align: middle;
			}
		}

		.coupon-gray{
			display: block;
			height: 100%;
			color: #999;
			font-size: 0.32rem;
			border: 1px solid #CFCFCF;
			box-sizing: border-box;
			border-radius: 4px;
		}
	}
	

	/* 一行一个 */
	.coupon_line-1{
		width: 9.466667rem;
		height: 3.2rem;
		font-size: 0;
		margin-left: 0.266667rem;
		&.gs-couponItem:nth-child(1)
		{
			margin-top: 0;
		}
		.gs-couponItem_header{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 3.653333rem;
			height: 3.2rem;
			background:linear-gradient(210deg,rgba(255,138,0,1) 0%,rgba(247,207,63,1) 100%);
			border-right: 1px dashed #fff;
			box-sizing: border-box;
			border-radius: 0.106667rem;
			&::after, &::before{
				content: '';
				position: absolute;
				right: -0.213333rem;
				width: 0.426667rem;
				height: 0.426667rem;
				background: #f3f3f3;
				border-radius: 50%;
			}
			&::before{
				top: -0.213333rem;
			}
			&::after{
				bottom: -0.213333rem;
			}
		}
		.coupon_discount-num{
			display: block;
			margin-bottom: 0.133333rem;
		}
		.couponItem_header-img{
			width: 1.866667rem;
			height: 1.866667rem;
			border-radius: 50%;
			background: #fff;
			margin: 0.32rem auto 0;
			font-size: 0;
			overflow: hidden;
			img{
				display: inline-block;
				width: 100%;
				height: 100%;
				vertical-align: middle;
			}
			.common_middle;
		}
		.couponItem_header-discount{
			color: #fff;
			text-align: center;
			width: 3.146667rem;
			font-size: 0.32rem;
			max-height: 0.66rem;
			overflow: hidden;
			margin: 0.186667rem auto 0;
			line-height: 1;
		}
		.gs-couponItem_body{
			display: inline-block;
			vertical-align: middle;
			width: 5.813333rem;
			height: 100%;
			background: #fff;
			padding: 0.426667rem 0.24rem 0.373333rem;
			box-sizing: border-box;
			font-size: 0.32rem;
			border-radius: 0.106667rem;
			text-align: left;
		}
		.couponItem_body-warehouse,.couponItem_body-date,.couponItem_body-order{
			line-height: 0.453333rem;
			color: #333;
		}
		.couponItem_body-order{
			white-space: nowrap;
			overflow: hidden;
		}
		.couponItem_statusBtn{
			display: block;
			height: 0.64rem;
			line-height: 0.64rem;
			text-align: left;
			margin-top: 0.24rem;
		}
		.couponItem_statusCode{
			position: relative;
			display: inline-block;
			width: 3.84rem;
			border: 1px solid #FF8A00;
			margin-right: 0.24rem;
			color: #FF8A00;
			font-size: 0.32rem;
			text-align: center;
			padding-right: 0.64rem;
			box-sizing: border-box;
			vertical-align: middle;
			border-radius: 0.106667rem;
		}
		.couponCode_copy{
			position: absolute;
			top: 0;
			right: 0;
			width: 0.64rem;
			height: 0.64rem;
			cursor: pointer;
			text-align: center;
		    line-height: 0.64rem;
		    font-size: 0.533333rem;
		}
		.coupon_href{
			display: inline-block;
			width: 0.64rem;
			height: 0.64rem;
			border-radius: 0.106667rem;
			border: 1px solid #FF8A00;
			text-align: center;
			color: #FF8A00;
			box-sizing: border-box;
			vertical-align: middle;
			font-size: 0;
			.icon-arrow-line{
				vertical-align: middle;
			}
		}
		.coupon-gray{
			display: block;
			width: 4.533333rem;
			text-align: center;
			height: 0.64rem;
			color: #999;
			font-size: 0.32rem;
			border: 1px solid #CFCFCF;
			border-radius: 0.106667rem;
		}
	}
}

