<div class="gs-dialog-U000188-container js_gs-dialog-U000188-container">
  <div class="loading-text">
    <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>