<div class="geshop-loading-banner is-{{ platform }}" style="font-size: 0">
    {% if 'wap' == platform %}
        <img src="https://geshoptest.s3.amazonaws.com/uploads/rTaQdSMiYzgptwhPAsRcK52vOejZfb0W.png" width="100%"/>
    {% else %}
        <img src="https://geshopimg.logsss.com/uploads/0vpxHOz9lsCGnERZVThBfdcyF7Kwk1me.png" width="100%"/>
    {% endif %}

</div>
