<div class="geshop-loading-goodsListSwiper">
    <ul>
        <li><span></span><p></p><p></p></li>
        <li><span></span><p></p><p></p></li>
        <li><span></span><p></p><p></p></li>
        <li><span></span><p></p><p></p></li>
        <div class="after-block"></div>
    </ul>
</div>
