// zaful polifiy
[data-key="U000166"][data-theme="default"] {
    div.BP-goods-block {
        .BP-goods-img {
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}