.wrap-U000178-default{
    .geshop-preload-img:after{
        background: url("https://uidesign.rglcdn.com/RG/image/z_promo/20190311_8431/loading_tm.gif") no-repeat center center;
        width: 2rem;
        height: 2rem;
        background-size: 50%;
    }
}