[data-gid="U000175_default"] {
  overflow: hidden;
  /* compoment layout class list */
  .clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
  }
  .g-w990 {
    width: 990px;
  }
  .text-center {
    text-align: center;
  }
  .geshop-component-box {
    overflow: hidden;
  }
  .geshop-panel {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .gb-view-more-text {
     height: 27px;
     //line-height: 27px;
     text-align: right;
     margin: 0 auto;
     font-size: 20px;
     color: #333333;
  }
  @import '../../../temp/gb/css/index_default.less';
}
