<div class="community-item {% if loop.last %}last-child{% endif %}">
  <img alt="img" width="190" height="190" src="{{item.img}}">
  <p>
    <span></span>
    <br>
    <a href="{{item.url}}" class="view-it" style="color:{{pageData.textColor}}">{{pageData.viewText}}</a>
  </p>
</div>