[data-gid="U000058_model"] .swiper-button-prev{
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  z-index: 1;
  width: 32px;
  height: 64px;
  text-align: center;
  background-color: #fff;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  background-image: none;
}

[data-gid="U000058_model"] .swiper-button-next{
  position: absolute;
  top: 50%;
  margin-top: -40px;
  right: 0;
  z-index: 1;
  width: 32px;
  height: 64px;
  text-align: center;
  background-color: #fff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  background-image: none;
}

[data-gid="U000058_model"] .swiper-button-prev::after{
  content: '';
  display: inline-block;
  margin-top: 22px;
  background-image:url('../../../resources/images/carousel-image/common_icon.png');
  background-position: -2px -24px;
  width: 12px;
  height: 21px;
  font-size: 0;
}

[data-gid="U000058_model"] .swiper-button-next::after{
  content: '';
  display: inline-block;
  margin-top: 22px;
  background-image: url('../../../resources/images/carousel-image/common_icon.png');
  background-position: -2px -48px;
  width: 12px;
  height: 21px;
  font-size: 0;
}

[data-gid="U000058_model"] .swiper-container-horizontal>.swiper-pagination {
  bottom: 20px;
}

[data-gid="U000058_model"] .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
}

[data-gid="U000058_model"] .swiper-pagination-bullet-active {
  background-color: #ffffff;
}