.geshop-u000166-coupon2 {
  font-size: 0;
  margin: 0 auto;

  .btn-close {
    cursor: pointer;
    font-size: 0;
    position: absolute;
    width:24/37.5rem;
    height:24/37.5rem;
    right: -12/37.5rem;
    top: -12/37.5rem;
    background: url("//geshopimg.logsss.com/uploads/J7LjiuAWVHebREofl8SYKpTkOwZyUP6D.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }

  .u000166-coupon2-box {
    display: inline-block;
    font-size: 12/37.5rem;
    position: relative;
    color: #222222;
    font-weight: 500;
  }

  .coupon2-info-group {
    position: absolute;
    text-align: center;
    overflow: hidden;

    .good-range-box {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      .good-range-bar {
        width: 100%;
        height: 4/ 37.5rem;
        border-radius: 4/ 37.5rem;
        overflow: hidden;
        position: relative;
        margin: 2/37.5rem auto 0;

        .good-range-left {
          transition: width ease-in .3s;
          position: absolute;
          left: 0;
          height: 100%;
          border-radius: 4/37.5rem;
        }
      }
    }

    .btn-group-state {
      display: block;
      width: 100%;
      margin-top: 8/37.5rem;

      > li {
        display: block;
        width: 100%;
        height: 28/37.5rem;
        line-height: 28/37.5rem;
        border-radius: 2/37.5rem;
        box-sizing: border-box;
        padding: 0 8/37.5rem;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.btn-cursor {
          cursor: pointer;
        }

        >a {
          display: block;
        }
      }
    }
  }

  .dia-coupon-getting {
    position: fixed;
    z-index: 101;
    background: rgba(0, 0, 0, .4);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .getting-main {
      font-size: 14/37.5rem;
      border-radius: 8/37.5rem;
      text-align: center;
      position: absolute;
      width: 280/37.5rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);


      .getting-info {

        p {
          margin: 38/37.5rem auto 60/37.5rem;
          font-size: 14/37.5rem;
          span {

          }
        }

        .btn-sure, .btn-later {
          margin: 24/37.5rem auto;
          display: block;
          width:240/37.5rem;
          height:40/37.5rem;
          border-radius:2/37.5rem;
          font-size:14/37.5rem;
          line-height:40/37.5rem;
          cursor: pointer;
        }
        .btn-later {
          margin: 8/37.5rem auto 16/37.5rem;
          color: #222222;
        }

      }

    }

  }

  .dia-coupon-noEnough {
    position: fixed;
    z-index: 101;
    background: rgba(0, 0, 0, .4);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .noEnough-main {
      font-size: 14/37.5rem;
      text-align: center;
      width: 280/37.5rem;
      border-radius: 8/37.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url("//geshopimg.logsss.com/uploads/5n4TNJHwgFCP9Z1W2vzxlKypSrmAVDct.png") 0 0 no-repeat / 100% auto;
      .noEnough-info {

        h3 {
          font-size: 28/37.5rem;
          width: 204/37.5rem;
          line-height: 40/37.5rem;
          text-align: left;
          margin: 34/37.5rem auto 46/37.5rem;
        }

        p {
          width: 240/37.5rem;
          line-height: 18/37.5rem;
          margin: 0 auto;
        }

        .btn-sure {
          display: inline-block;
          width:240/37.5rem;
          height:40/37.5rem;
          border-radius:2/37.5rem;
          margin-bottom: 20/37.5rem;
          margin-top: 16/37.5rem;
          font-size:14/37.5rem;
          line-height:40/37.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
