<div class="geshop-187d-dialog geshop-187d-dialog-fail">
    <div class="geshop-187d-dialog-mask"></div>
    <div class="geshop-187d-dialog-container">
        <div class="geshop-187d-dialog-close js-close-dialog" data-tag="geshop-187d-dialog-fail"><img src="{{ data.default.u000187_default_close }}" alt=""></div>
        <div class="geshop-187d-dialog-body">
            <p class="title">哎呀，这次不幸运。 下次尝试一下</p>
            <p class="time"></p>
        </div>
        <div class="geshop-187d-dialog-footer">
            <button class="js-close-dialog" data-tag="geshop-187d-dialog-fail">OK</button>
        </div>
    </div>
</div>