<div class="geshop-187d-dialog geshop-187d-dialog-fail-not-start">
    <div class="geshop-187d-dialog-mask"></div>
    <div class="geshop-187d-dialog-container">
        <div class="geshop-187d-dialog-close js-close-dialog-not-start" data-tag="geshop-187d-dialog-fail-not-start"><img src="{{ data.default.u000187_default_close }}" alt=""></div>
        <div class="geshop-187d-dialog-body">
            <p class="title"></p>
            <p class="time"></p>
        </div>
        <div class="geshop-187d-dialog-footer">
            <button class="js-close-dialog-not-start" data-tag="geshop-187d-dialog-fail-not-start">OK</button>
        </div>
    </div>
</div>