<div class="geshop-187d-dialog geshop-187d-dialog-rule">
    <div class="geshop-187d-dialog-mask"></div>
    <div class="geshop-187d-dialog-container">
        <div class="geshop-187d-dialog-close js-close-dialog" data-tag="geshop-187d-dialog-rule">
            <img src="{{ data.default.u000187_default_close }}" alt="">
        </div>
        <h2 class="site-bold-strict">{{ languages.ruleBtn[lang] ?? languages.ruleBtn['en'] }}</h2>
        <p>{{ data.rule_content | nl2br }}</p>
    </div>
</div>
