<div class="geshop-coupon-style4-dialog-2">
    <div class="gc4d2-wrapper">
        <div class="gc4d2-body">
            <div class="gc4d2-text">
                <p>{{ get_component_trans(lang,'coupon_dialog2_content') }}</p>
            </div>
            <button type="button">OK</button>
        </div>
    </div>
</div>